<div class="content-wrap ml-0 pb-2 scroll-bar-main">
    <div class="container-fluid m-auto p-0">
        <div class="import_export_sec">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="Dashbord_sec">
                        <h2 class="title_dash">Advance outward remittance</h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="float_right_page">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item"><a routerLink="/home/remittance-flow">Advance outward
                                        remittance</a></li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">Add new</li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_white_background" style="height: auto;">
            <main id="content" class="table-padding" role="main">
                <div class="new_document_list1">
                    <div class="new_document_list_add_data">

                        <form [formGroup]="pipoForm">
                            <div class="row">
                                <div class="col-md-7 col-sm-12 col-12">
                                    <div class="new_left_sidedoc pdf_invoce_scroll">
                                        <iframe class='iframe-controller' *ngIf="this.PREVIWES_URL!=''"
                                            style="flex-direction:row;" [src]="this.PREVIWES_URL" id="frame1"
                                            height="600px" width="100%"></iframe>
                                        <div class="new_left_sidedoc pdf_invoce_scroll" *ngIf="selectedItems.length!=0">
                                            <div class="content_white_background">
                                                <h5 class="header-text">PI_PO or Advance Outward remittance Details
                                                </h5>
                                                <div class="accordion"
                                                    *ngFor="let item of this.selectedItems;let i=index">
                                                    <div class="accordion-item">
                                                        <div class="accordion-titel" (click)="SlideToggle($event,i)">
                                                            <h2>PI_PO No. : {{(i+1)}} </h2>
                                                        </div>
                                                        <div class="accordion-contant">
                                                            <div *ngFor="let selItems of this.PDF_LIST[i]">
                                                                <app-pdf-viewer [downloadShow]="false"
                                                                    [name]="selItems?.name" [src]="selItems?.pdf"
                                                                    width="100%" height="500px"></app-pdf-viewer>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="isUploaded">
                                                <app-pdf-viewer *ngIf="uploadUrl!=''" [downloadShow]="false"
                                                    [name]="selItems?.name" [src]="uploadUrl" width="100%"
                                                    height="500px"></app-pdf-viewer>
                                                <iframe *ngIf="uploadUrl!=''" style="border:none;" [src]="uploadUrl"
                                                    width="100%"> </iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12 col-12" *ngIf="showSummaryPage == 0">
                                    <div class="right_form_new">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <label for="exampleInputPassword1" class="form-label">Select
                                                    beneficiary</label>
                                                <select class="form-select" aria-label="Default select example"
                                                    [ngModel]="benneName" formControlName="benneName"
                                                    (change)="changepipo($event.target.value)" #select_ben>
                                                    <option value="">Select Buyer</option>

                                                    <option value="{{ bene._id }}" *ngFor="let bene of benneDetail
                                                            ">{{ bene.benneName }}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && form.benneName.errors" class='errorText'>
                                                    <div *ngIf="form.benneName.errors.required">Select Buyer is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <label for="exampleInputEmail1" class="form-label">Select
                                                    bank*</label>
                                                <select class="form-select" aria-label="Default select example"
                                                    [ngModel]="bank" formControlName="bank"
                                                    (change)="onSelectBank($event.target.value)" autocomplete="off">
                                                    <option value="">Select bank</option>

                                                    <option value="{{ banklist.bank }}" *ngFor="let banklist of bankDetail
                                                          ">{{ banklist.bank }}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && form.bank.errors" class='errorText'>
                                                    <div *ngIf="form.bank.errors.required">Select bank is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="pipoData?.length > 0" formArrayName="pipoTerm">
                                            <div class="row" *ngFor="let items of getItems(pipoForm); let i = index"
                                                [formGroupName]="i">
                                                <div class="col-md-12 col-12">
                                                    <label for="exampleInputEmail1" class="form-label">Select
                                                        PI</label>
                                                    <select class="form-select" aria-label="Default select example"
                                                        formControlName="pi_poNo" autocomplete="off"
                                                        [ngModel]="items?.pi_poNo"
                                                        (change)="choosenItems($event.target.value,i)" #multiplepipo>
                                                        <option value="">Select PI/PO</option>

                                                        <option value="{{pipolist._id}}" *ngFor="let pipolist of pipoData
                                                ">{{ pipolist.pi_poNo }}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && form.pi_poNo.errors" class='errorText'>
                                                        <div *ngIf="form.pi_poNo.errors.required">PiPo is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <label for="Currency" class="form-label">Currency</label>
                                                    <select class="form-select" aria-label="Default select example"
                                                        formControlName="currency" autocomplete="off"
                                                        [ngModel]="this.LIST_PIPO[multiplepipo.value]?.currency">
                                                        <option value="">Select Currency</option>
                                                        <option value="{{currency}}" *ngFor="let currency of CurrencyData
                                                ">{{ currency }}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && form.currency.errors" class='errorText'>
                                                        <div *ngIf="form.currency.errors.required"> Currency is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <label for="Amount" class="form-label">Invoice Amount</label>
                                                    <input type="text" disabled class="form-control"
                                                        formControlName="amount" id="amount"
                                                        [ngModel]="this.LIST_PIPO[multiplepipo.value]?.amount"
                                                        placeholder="Invoice Amount" autocomplete="off">
                                                    <div *ngIf="submitted && form.amount.errors" class='errorText'>
                                                        <div *ngIf="form.amount.errors.required">Invoice Amount is
                                                            required</div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <label for="payableAmount" class="form-label">Balance
                                                        Amount</label>
                                                    <input type="text" disabled class="form-control"
                                                        formControlName="payableAmount" id="payableAmount"
                                                        [ngModel]="this.LIST_PIPO[multiplepipo.value]?.payableAmount??this.LIST_PIPO[multiplepipo.value]?.amount"
                                                        placeholder="Payable Amount" autocomplete="off">
                                                    <div *ngIf="submitted && form.payableAmount.errors"
                                                        class='errorText'>
                                                        <div *ngIf="form.payableAmount.errors.required">Balance
                                                            Amount is required</div>
                                                    </div>

                                                </div>
                                                <div class="col-md-10 col-12">
                                                    <label for="remittanceAmount" class="form-label">Remittance
                                                        Amount</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="remittanceAmount" id="remittanceAmount"
                                                        placeholder="Remittance Amount" autocomplete="off"
                                                        (ngModelChange)="addNums()" ngModel>
                                                    <div *ngIf="submitted && form.remittanceAmount.errors"
                                                        class='errorText'>
                                                        <div *ngIf="form.remittanceAmount.errors.required">
                                                            Remittance Amount is required</div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2 col-12 padding0">
                                                    <div class="removeamouts_new">
                                                        <button style="width:100%" type="button" class="btn btn-primary"
                                                            (click)="removeItems(i)">-</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" *ngIf="select_ben.value!=''">
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <div class="add_new_buttons">
                                                    <button type="button" class="btn btn-success"
                                                        (click)="addItems(pipoForm)">+ Add PI</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="select_ben.value!=''">
                                            <div class="add_new_buttons">

                                                <div class="wdith_move" style="display: inline-block;width: 100%;">
                                                    <div class="row">
                                                        <div class="col-md-12"><label for="">Select
                                                                OUR/SHA/BEN</label></div>
                                                        <div class="col-md-9 col-sm-9 col-9">
                                                            <ng-select formControlName="OUR_SHA_BEN"
                                                                [items]="[{value:'OUR'},{value:'SHA'},{value:'BEN'}]"
                                                                bindLabel="value" [multiple]="false"
                                                                (change)="OUR_SHA_BEN_FUNC($event.value)"
                                                                placeholder="Select OUR/SHA/BEN" #PI_PO_shipping_bill
                                                                ngModel></ng-select>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-3">
                                                            <button style="width:100%;" type="button"
                                                                class="btn btn-primary" (click)="fillForm()">Fill
                                                                Pdf</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <label for="TotalPIamount" class="form-label">Total PI
                                                    amount</label>
                                                <input type="text" class="form-control" id="TotalPIamount"
                                                    [ngModel]="sumTotalAmount" formControlName="Total_PI_Amount"
                                                    placeholder="Total PI amount" readonly>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <label for="totalremittanceAmount" class="form-label">Remittance
                                                    amount</label>
                                                <input type="text" formControlName="RemittanceTotalAmount"
                                                    class="form-control" id="totalremittanceAmount"
                                                    [ngModel]="sumTotalAmount" placeholder="Remittance amount" readonly>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="sumTotalAmount != 0 && sumTotalAmount > 200000">
                                            <div class="col-md-12 col-sm-12 col-12">
                                                <label for="Opinion" class="form-label">Opinion report
                                                    available?</label><br>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        formControlName="opinionReport" value="1" id="flexRadioDefault1"
                                                        (click)="showhideOpinionReport(1)">
                                                    <label class="form-check-label" for="flexRadioDefault1"
                                                        [checked]="isCheckedYes">
                                                        YES
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        formControlName="opinionReport" value="0" id="flexRadioDefault2"
                                                        (click)="showhideOpinionReport(0)" [checked]="isCheckedNo">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        NO
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"
                                            *ngIf="sumTotalAmount != 0 && sumTotalAmount > 200000 && showOpinionReport == 1">
                                            <div class="col-12">
                                                <label for="Opinion" class="form-label">Attach opinion
                                                    report</label>
                                                <div class="file_add_new" *ngIf="uploadUrl==null || uploadUrl==''">
                                                    <input (error)="onUploadError($event)" (init)="onUploadInit($event)"
                                                        (success)="onUploadSuccess($event)" (sending)="submit($event)"
                                                        *ngIf="type === 'directive'" [dropzone]="config"
                                                        class="dropzone dropzone-container" id="dropzone" />
                                                    <i class="fas fa-file-upload"></i>
                                                    <h5>Drag and Drop files here</h5>
                                                    <p>Files Supported: PDF, XSLS, Image, Scanner</p>
                                                    <p>Maximum Size: 5MB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progressbar" *ngIf="uploading">
                                            <div class="meter">
                                                <span [style.width]="width + '%'"></span>
                                            </div>
                                        </div>
                                        <div class="bottom_submit_section">
                                            <button type="button" class="btn btn-primary">CANCEL</button>
                                            <button type="button" class="btn btn-secondary"
                                                (click)="showhideSummaryPage(1)">PROCEED</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 col-sm-12 col-12" *ngIf="showSummaryPage == 1" #summarypage>
                                    <div class="right_form_new">
                                        <table class="newdatatable">
                                            <tbody>
                                                <tr>
                                                    <td><b>Bank name</b></td>
                                                    <td>
                                                        <p>{{selectedBankName}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Beneficiary name</b></td>
                                                    <td>
                                                        <p>{{selectedBenne.benneName}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Beneficiary account</b></td>
                                                    <td>
                                                        <p>{{selectedBenne.beneAccNo}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><strong>PI details</strong></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total no. of PI</b></td>
                                                    <td>
                                                        <p>{{selectedItems.length}}</p>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let items of selectedItems">
                                                    <td><b>{{items.pipo_no}} </b></td>
                                                    <td>
                                                        <p> ( Amount: {{items.amount}}, Date: {{items.date}}, Buyer
                                                            name: {{items.buyerName}} )
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total PI amount</b></td>
                                                    <td>
                                                        <p>{{sumTotalAmount}}
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Opinion report</b></td>
                                                    <td>
                                                        <p style="color:#51AEE5;">Opinion report.pdf</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="bottom_submit_section">
                                            <button type="button" class="btn btn-primary"
                                                (click)="showhideSummaryPage(0)">BACK</button>
                                            <button type="button" class="btn btn-primary PopupOpen"
                                                popup-close="PREVIEWS"
                                                (click)="PREVIEWS_URL(PREVIEW_PAGE,'Advance-Remittance-flow'+(sumTotalAmount-1))">PREVIEWS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="PREVIEW_PAGE" tabindex="-1" #PREVIEW_PAGE style="display: none;background-color: #00000030;">
    <div class="col-12">
        <app-custom-model [customstyle]="{'max-width':'60vw !important'}" class="p-2" height="98vh" id="PREVIEWS"
            name="Document View">
            <div class="col-12 mt-2 mb-2" *ngIf="this.PREVIEWS_URL_STRING!=''">
                <app-pdf-viewer [downloadShow]="false" [src]="this.PREVIEWS_URL_STRING" name="Documents"
                    width="100%" height="100%"></app-pdf-viewer>
            </div>
            <div class="modal-footer">
                <div style="display:flex;" class="mt-3">
                    <div *ngIf="this.GetDownloadStatus?.status!='Approved'">
                        <div *ngIf="this.GetDownloadStatus?.status==null || this.GetDownloadStatus?.status=='Rejected'">
                            <button type="button" class="btn btn-primary" [disabled]="this.GetDownloadStatus?.status=='pending' ||
               this.GetDownloadStatus?.status=='verify'"
                                (click)="SendApproval(this.GetDownloadStatus?.status,
                sumTotalAmount!=0?'Advance-Remittance-flow'+(sumTotalAmount-1) :null);PREVIEW_PAGE.style.display='none'">Send
                                for
                                Approval</button>
                        </div>
                        <div
                            *ngIf="this.GetDownloadStatus?.status=='pending' || this.GetDownloadStatus?.status=='Verify'">
                            <button type="button" class="btn btn-primary" [disabled]="this.GetDownloadStatus?.status=='pending' ||
              this.GetDownloadStatus?.status=='verify'">Wait for Approval</button>
                        </div>
                    </div>
                </div>
            </div>
        </app-custom-model>
    </div>
</div>