<div class="content-wrap content_top_common scroll-bar-main m-auto">
    <div class="col-12 p-0">
        <section class="admin_dashboard_home">
            <div class="container-fluid p-0">
                <div class="import_export_sec">
                    <div class="row">
                        <div class="col-12">
                            <div class="Dashbord_sec">
                                <h2>DASHBOARD -<span class="italic-text"> design under construction - currently some
                                        dummy values are also displayed</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="import_export_sec padding0 pt-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="Total_pipo">
                                <h5>{{ isImport === false ? 'Total PI/PO' : 'PI/PO'}} </h5>
                                <div id="pipiChart" class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="Total_pipo" *ngIf="isImport ===  false">
                                <h5>Total shipping bill</h5>
                                <div id="SBChart" class="chart"></div>
                            </div>
                            <div class="Total_pipo" *ngIf="isImport === true">
                                <h5>Total Bill of Entry</h5>
                                <div id="BOEChart" class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="Total_pipo" *ngIf="isImport ===  false">
                                <h5>Total inward remittances</h5>
                                <div id="inwardChart" class="chart"></div>
                            </div>
                            <div class="Total_pipo" *ngIf="isImport ===  true">
                                <h5>Outward remittances</h5>
                                <div id="OutwardChart" class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec" *ngIf="isImport ===  false ">
                                <h3>shipping bill pending for Lodgment</h3>
                                <h5 *ngIf="isImport === false "> >21 Days from shipping bill date</h5>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-2">Party Name</th>
                                                <th scope="col" class="col-td-th-1">No. of documents</th>
                                                <th scope="col" class="col-td-th-2">Currency | Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr" *ngFor="let row of shipmentPending; let i = index">
                                                <td scope="col" class="col-td-th-2">{{row?._id[0]}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.toTalcount}}</td>
                                                <td scope="col" class="col-td-th-2 INR">{{row?._id[1]}} | {{
                                                    row.toTalAmount | number :
                                                    '1.2-2'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{shipmentPending?.length === 0 ? 'No Data' :''}}</span>
                            </div>
                            <div class="submission_sec" *ngIf="isImport === true">
                                <h3>Advance Payment pending for BOE submission</h3>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-2">Party Name</th>
                                                <th scope="col" class="col-td-th-1">No. of documents</th>
                                                <th scope="col" class="col-td-th-2">Currency | Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngFor="let row of this.BOE_PENDING_DATA; let i = index">
                                                <td scope="col" class="col-td-th-2">{{row?._id[0]}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.count}}</td>
                                                <td scope="col" class="col-td-th-2">{{row?._id[1]}} |
                                                    {{row.InvoiceAmountSum | number : '1.2-2'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{this.BOE_PENDING_DATA?.length === 0 ? 'No Data'
                                    :''}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec" *ngIf="isImport ===  false ">
                                <h3>shipping bill submitted to bank</h3>
                                <h5>Reference number awaited</h5>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th class="col-td-th-2">Party Name</th>
                                                <th class="col-td-th-1">Doc generated</th>
                                                <!-- <th class="col-td-th-2">Ref no.</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr" *ngFor="let row of shipmentSubmit; let i = index">
                                                <td class="col-td-th-2">{{row?._id}}</td>
                                                <td class="col-td-th-1">{{row?.toTalcount}}</td>
                                                <!-- <td class="col-td-th-2 d-flex flex-column"><p *ngFor="let item of row?.blcopyrefNumber;let j=index">{{(j+1)}}. {{item}}</p></td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{shipmentSubmit?.length === 0 ? 'No Data' :''}}</span>
                            </div>
                            <div class="submission_sec" *ngIf="isImport === true ">
                                <h3>Total BOE submitted to Bank</h3>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-2">Party Name</th>
                                                <th scope="col" class="col-td-th-1">Doc generated</th>
                                                <th scope="col" class="col-td-th-2">Ref no. awaited</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngFor="let row of this.BOE_SUBMISSION_DATA; let i = index">
                                                <td scope="col" class="col-td-th-2">{{row?._id[0]}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.count}}</td>
                                                <td scope="col" class="col-td-th-2">{{row?.count}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{this.BOE_SUBMISSION_DATA?.length === 0 ? 'No Data'
                                    :''}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec remittances">
                                <p *ngIf="isImport ===  false ">Total inward remittances <br /> pending for document
                                    submission </p>
                                <p *ngIf="isImport ===  true ">BOE Pending for Bank Submission </p>
                                <div class="radio_sec">
                                    <div>
                                        <h4>{{inwardRemitancePendingCount}} out of {{inwardRemitanceTotalCount}} pending
                                            <b>Amount : {{inwardRemitanceAmount | number : '1.2-2'}}</b>
                                        </h4>
                                        <section class="progressBar">
                                            <mat-progress-bar [mode]="progressBarMode" [value]="progressBarvalue"
                                                [bufferValue]="bufferValue">
                                            </mat-progress-bar>
                                            <div style="position: absolute; padding: 10px; color: white;">
                                                {{progressBarvalue}}%
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec edpms">
                                <label *ngIf="isImport ===  false">Total EDPMS entries</label>
                                <label *ngIf="isImport ===  true">Total IDPMS entries</label>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="submission_sec_img">
                                            <div id="EdpmsChart" class="chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec map_height Pending_realisation">
                                <b class="bold_titles_common">
                                    {{ isImport === false ? 'Pending realisation ' : 'BOE Pending for Payment'}}
                                </b>
                                <ul>
                                    <li class="Partial_icon">Partial</li>
                                </ul>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-2">Bill Ref No.</th>
                                                <th scope="col" class="col-td-th-1">Bill Amount</th>
                                                <th scope="col" class="col-td-th-1">Sb No.</th>
                                                <th scope="col" class="col-td-th-1">Sb Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngFor="let row of this.billLoedgmentPartial; let i = index">
                                                <td scope="col" class="col-td-th-2">{{row?.blcopyRef?.blcopyrefNumber}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.blcopyRef?.amount}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.SBRef?.sbno}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.SBRef?.fobValue}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{this.billLoedgmentPartial?.length === 0 ? 'No Data'
                                    :''}}</span>
                                <!-- <div id="PartialPendingRealisationChart" class="chart"></div> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec map_height Pending_realisation">
                                <b class="bold_titles_common">
                                    {{ isImport === false ? 'Pending realisation ' : 'BOE Pending for Payment'}}
                                </b>
                                <ul>
                                    <li class="Full_icon">Full</li>
                                </ul>
                                <div class="submission_sec_table_scroll">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-2">Bill Ref No.</th>
                                                <th scope="col" class="col-td-th-1">Bill Amount</th>
                                                <th scope="col" class="col-td-th-1">Sb No.</th>
                                                <th scope="col" class="col-td-th-1">Sb Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngFor="let row of this.billLoedgmentFull; let i = index">
                                                <td scope="col" class="col-td-th-2">{{row?.blcopyRef?.blcopyrefNumber}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.blcopyRef?.amount}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.SBRef?.sbno}}</td>
                                                <td scope="col" class="col-td-th-1">{{row?.SBRef?.fobValue}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span class="nodata_table">{{this.billLoedgmentFull?.length === 0 ? 'No Data'
                                    :''}}</span>
                                <!-- <div id="FullPendingRealisationChart" class="chart"></div> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_secs map_height Pending_realisation">
                                <div class="row">
                                    <div class="col-md-8 col-8"><strong class="bold_titles_common">
                                            {{ isImport === false ? ' Order pending for shipment ' : 'Order pending for
                                            Dispatch'}}
                                        </strong></div>
                                    <div class="col-md-4 col-4">
                                        <div>
                                            <select class="form-select" [(ngModel)]="ospType"
                                                (ngModelChange)="ospTypeChange(ospType)">
                                                <option *ngFor="let data of ospData">{{ data }} </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="orderShipmentChart" class="chart"></div>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_secs map_height Pending_realisation">
                                <b class="bold_titles_common">{{this.documentService.EXPORT_IMPORT['import']==true?'Buyer’s
                                    credit availed':'Packing credit availed'}}</b>
                                <h2>Maturity : 360</h2>
                                <div id="PackingCreditAvailedChart" class="chart"></div>

                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="submission_sec map_height Pending_realisation">
                                <b class="bold_titles_common">Total bill lodged</b>
                                <h2>Maturity : 580</h2>
                                <div id="TotalBillLodgedChart" class="chart"></div>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="this.ORDER_PENDING_SHIPMENT_SHOW_CHART==true">
                            <div class="submission_sec map_height Pending_realisation">
                                <div class="row">
                                    <div class="col-md-8 col-8">
                                        <strong class="bold_titles_common">
                                            {{ isImport === false ? ' Order pending for shipment ' : 'Order pending for
                                            Dispatch'}}
                                        </strong>
                                    </div>
                                    <div>
                                        <select class="form-select" [(ngModel)]="ospType"
                                            (ngModelChange)="ospTypeChange(ospType)">
                                            <option *ngFor="let data of ospData">{{ data }} </option>
                                        </select>
                                    </div>
                                </div>
                                    <div id="ORDER_PENDING_SHIPMENT_SHOW_CHART_OPTIONS" class="chart"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="this.TOTAL_BILL_LODGEMENT_SHOW_CHART==true">
                            <div class="submission_sec map_height Pending_realisation">
                                <div class="row">
                                    <div class="col-md-8 col-8">
                                        <strong class="bold_titles_common">Total bill lodged</strong>
                                    </div>
                                    <div>
                                        <select class="form-select" [(ngModel)]="ospType"
                                            (ngModelChange)="ospTypeChange(ospType)">
                                            <option *ngFor="let data of ospData">{{ data }} </option>
                                        </select>
                                    </div>
                                </div>
                                    <div id="TOTAL_BILL_LODGEMENT_SHOW_CHART_OPTIONS" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>