<div class="content-wrap">

    <main id="content" class="content table-padding" role="main">
        <div style="display: flex; align-items: center;">
            <div class="div1" style="flex-direction:row; width: 50%;">
                <p class="heading" style="float: left;" (click)="manage1Task()">OutStanding BOE
                    <i style="margin-left: 515px;"  *ngIf="!nt" class="fa fa-chevron-circle-up"></i>
                    <i style="margin-left: 515px;" *ngIf="nt" class="fa fa-chevron-circle-down"></i>
                </p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Items</th>
                            <th class="second">Total Payables</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">5</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">2</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">5</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">5</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="div2" style="flex-direction:row;">
                <p class="heading" style="margin-left: 20px;">Report</p>
                <div >
                    <div style="float: left; margin-left: 20px;">
                        <img src="../../../assets/recieve1.png" alt="" style="height: 50px; width: 50px; line-height: 7px;">
                    </div>
                    <div style="float: left; margin-left: 20px; padding-right: 130px; ">
                        <p style="margin-bottom: 0px;" class="text1">Total Receivables</p>
                        <p class="text2">$159.89</p>
                    </div>
                </div>
                <div>
                    <div style="float: left; margin-left: 20px;">
                        <img src="../../../assets/recieve.png" alt="" style="height: 50px; width: 50px; ">
                    </div>
                    <div style="float: left; margin-left: 20px;">
                        <p style="margin-bottom: 0px;" class="text1">Total Payables</p>
                        <p class="text2">$159.89</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; align-items: center;">
            <div class="div1" style="flex-direction:row; width: 50%; margin-top: 40px;">
                <p class="heading" style="float: left;" (click)="manage2Task()">OutStanding SB
                    <i  *ngIf="!nt2" class="fa fa-chevron-circle-up"></i>
                    <i  *ngIf="nt2" class="fa fa-chevron-circle-down"></i>
                </p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Items</th>
                            <th class="second">Total Payables</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">5</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">2</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">5</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">5</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 40px; display: flex; align-items: center;">
            <div class="div1" style="flex-direction:row; width: 42%; margin-top: 40px;">
                <p class="heading" style="float: left;" (click)="manage3Task()">Complaince: Bill of entry pending for payment >180 days
                    <i style="margin-left: 120px;"  *ngIf="!nt3" class="fa fa-chevron-circle-up"></i>
                    <i style="margin-left: 120px;" *ngIf="nt3" class="fa fa-chevron-circle-down"></i>
                </p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Party Name</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="div1" style="flex-direction:row; width: 42%; margin-top: 40px;">
                <p class="heading" style="float: left;" (click)="manage4Task()" >Shipping Bills above 21 days to be submitted to AD
                    <i style="margin-left: 156px;"  *ngIf="!nt4" class="fa fa-chevron-circle-up"></i>
                    <i style="margin-left: 156px;" *ngIf="nt4" class="fa fa-chevron-circle-down"></i>  
                </p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Party Name</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">INR</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">INR</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">INR</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div style="width: 600px;  display: flex; align-items: center; margin-top: 30px;">
                <div style="flex-direction:row; margin-bottom:5px; margin-left: 20px; width: 50%;">
                    <span class="task">8 task completed out of 10</span>
                </div>
                <div style="flex-direction:row; margin-bottom: 5px; width: 50%; text-align: right;">
                    Show: <span class="task1">This week</span>
                </div>
            </div>
            <div class="container1" style="margin-left: 20px;">
                <div class="skill1 html1">80%</div>
            </div>
        </div>
        <div style="margin: 20px;">
            <p>23 December, Sunday - 30 December, Sunday</p>
        </div>
        <div *ngFor='let item of item1;let i = index'>
            <div class="smalldiv" style="width: 588px;">

                <p class="cl3">Date: <span style="text-align: right; margin-left: 10px;"
                        class="cl4">{{item.date}}</span></p>
                <p class="cl3" *ngIf='item.task[0].sbNumbers'>SB Numbers: <span
                        style="text-align: right; margin-left: 10px;" class="cl4"
                        *ngFor='let sb of item.task[0].sbNumbers; let j = index'>{{sb }}</span></p>
                <p class="cl3" *ngIf='item.task[0].tryNumbers'>Tri Numbers: <span
                        style="text-align: right; margin-left: 10px;" class="cl4"
                        *ngFor='let sb of item.task[0].tryNumbers; let j = index'>{{sb}}</span></p>
                Enter the BankRef Number to complete the Task<br>
                <form (ngSubmit)="onSubmit($event, item)" style="margin-bottom: 10px;">
                    <input style="border-radius: 14px;outline: none;border: 1px solid #9d9494;" name="player" value="">
                    <button class="completed" style="margin-left: 10px;">Submit</button>
                </form>


                <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                    style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span>

            </div>
        </div>

        <!-- <div class="smalldiv" style="width: 588px;">
            <p class="cl1">Send BOE for Nikhil by Sunday <span style="text-align: right; margin-left: 280px;"
                    class="cl2">Reminder</span></p>
            <p class="cl3">Due date: <span style="text-align: right; margin-left: 30px;" class="cl4">December 20,
                    2018</span></p>
            <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span> <span
                style="margin-left: 357px;"><button class="ended">Ended</button></span>
        </div>
        <div class="smalldiv" style="width: 588px;">
            <p class="cl1">Send BOE for Nikhil by Sunday <span style="text-align: right; margin-left: 280px;"
                    class="cl2">Event</span></p>
            <p class="cl3">Due date: <span style="text-align: right; margin-left: 30px;" class="cl4">December 20,
                    2018</span></p>
            <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span> <span
                style="margin-left: 357px;"><button class="completed">Completed</button></span>
        </div> -->

    </main>
</div>