<div class="content_top_common pb-2 scroll-bar-main">
    <div class="content-wrap">
        <div class="container-fluid">
            <div class="import_export_sec">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="Dashbord_sec">
                            <h2 class="title_dash">Summary</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="float_right_page">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/home/pipo">Transactions</a></li>
                                    <!-- <li class="breadcrumb-item active" aria-current="page">Add new</li> -->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_white_background">
                <main id="content" class="table-padding" role="main">
                    <div class="new_document_list1">
                        <div class="new_document_list_add_data">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-12">
                                        <div class="new_left_sidedoc">
                                            <img src="/assets/Group3055.png" alt="Drag & drop files here or Browse" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-12">
                                        <div class="right_form_new">
                                            <table class="newdatatable">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Bank name</b></td>
                                                        <td>
                                                            <p>Axis bank</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Beneficiary name</b></td>
                                                        <td>
                                                            <p>Muniraj</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Beneficiary account</b></td>
                                                        <td>
                                                            <p>1234 5678 9012 3456</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><strong>PI details</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Total no. of PI</b></td>
                                                        <td>
                                                            <p>4</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>PI details</b></td>
                                                        <td>
                                                            <p>P102 ( Amount: 1,00,000, Date: 2022-08-12, Buyer name: MEC LTD ) P103 ( Amount: 1,50,000, Date: 2022-08-12, Buyer name: MEC LTD )
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Total PI amount</b></td>
                                                        <td>
                                                            <p>EUR 2,50,000
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Opinion report</b></td>
                                                        <td>
                                                            <p style="color:#51AEE5;">Opinion report.pdf</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="bottom_submit_section">
                                                <button type="button" class="btn btn-primary">BACK</button>
                                                <button type="button" class="btn btn-secondary">CREATE DOCUMENT</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>