<div class="container">
    <app-form (onSubmit)="onSubmit($event?.value,$event?.RawValue)" *ngIf="this.FORM_CREATE_LIST?.length!=0" [item]="{
      FORM_CREATE_LIST:this.FORM_CREATE_LIST,
      FORM_LIST:this.FORM_LIST,
      StepItem:this.StepItem
      }">
        <p *ngIf="CouponData?.status==true" style="color: #2f93ff;margin-left: 10px;">Coupon code
            verified</p>
        <p *ngIf="this.SUM_AMOUNT" style="color: #2f93ff;margin-left: 10px;">Total Subscription Amount :
            <span>{{this.SUM_AMOUNT}}</span>
        </p>
    </app-form>
    <app-progression-buttons class="mobile"></app-progression-buttons>
</div>