<div class="form-container-fluid" *ngIf="dynamicFormGroup!=undefined">
    <div class="col-12 division-panel" [formGroup]="dynamicFormGroup">
        <div class="col-12 p-0" *ngFor="let field of fields">
            <ng-container [ngSwitch]="field.type">
                <div class="form-group mb-3" *ngSwitchCase="'text'">
                    <label>{{field.label}}</label>
                    <input [(ngModel)]="field.value" [type]="field.type" [name]="field.fieldName"
                        class="form-control" />
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'date'">
                    <label>{{field.label}}</label>
                    <input [(ngModel)]="field.value" [type]="field.type" [name]="field.fieldName"
                        class="form-control" />
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'currency'">
                    <label>{{field.label}}</label>
                    <ng-select *ngIf="this.CURRENCY_LIST?.length!=0" [items]="this.CURRENCY_LIST" bindLabel="type"
                        [multiple]="false" placeholder="Select PI/PO" [name]="field.fieldName"
                        [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'ShippingBill'">
                    <label>{{field.label}}</label>
                    <ng-select *ngIf="this.SHIPPING_BILL_LIST?.length!=0" [items]="this.SHIPPING_BILL_LIST"
                        bindLabel="sbno" bindValue="_id" [multiple]="false" placeholder="Select buyer Name"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'buyer'">
                    <label>{{field.label}}</label>
                    <ng-select *ngIf="this.BUYER_DETAILS?.length!=0" [items]="this.BUYER_DETAILS" bindLabel="value"
                        [multiple]="false" placeholder="Select buyer Name" [name]="field.fieldName"
                        [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'consignee'">
                    <label>{{field.label}}</label>
                    <ng-select *ngIf="this.BUYER_DETAILS?.length!=0" [items]="this.BUYER_DETAILS" bindLabel="value"
                        [multiple]="false" placeholder="Select Consignee Name" [name]="field.fieldName"
                        [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'formArray'">
                    <label>{{field.label}}</label>
                    <div [formArrayName]="field.fieldName">
                        <div class="division-panel"
                            *ngFor="let GroupLabelItem of field?.GroupLabel;let labelIndex=index;">
                            <label>{{GroupLabelItem}}</label>
                            <div *ngFor="let formGroupItem of field?.NewformGroup | customSlicePipe:labelIndex:2; let i=index;"
                                [formGroupName]="formGroupItem?.index">
                                <ng-container [ngSwitch]="formGroupItem.type">
                                    <div class="form-group mb-3" *ngSwitchCase="'text'">
                                        <label>{{formGroupItem.label}}</label>
                                        <input [(ngModel)]="formGroupItem.value" [type]="formGroupItem.type"
                                            [name]="formGroupItem.fieldName" [attr.demo]="formGroupItem.fieldName"
                                            [disabled]="formGroupItem.disabled==true?true:false" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'date'">
                                        <label>{{formGroupItem.label}}</label>
                                        <input [(ngModel)]="formGroupItem.value" [type]="formGroupItem.type"
                                            [name]="formGroupItem.fieldName" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'currency'">
                                        <label>{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.CURRENCY_LIST?.length!=0" [items]="this.CURRENCY_LIST"
                                            bindLabel="type" [multiple]="false" placeholder="Select PI/PO"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'buyer'">
                                        <label>{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.BUYER_DETAILS?.length!=0" [items]="this.BUYER_DETAILS"
                                            bindLabel="value" [multiple]="false" placeholder="Select buyer Name"
                                            [name]="formGroupItem.fieldName"
                                            (change)="this.setFormValue($event.Address,(formGroupItem?.index+1),field?.fieldName,formGroupItem?.InputBindValue)"
                                            [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                </ng-container>
                                <dynamic-error [SUBMIT_ERROR]="this.SUBMIT_ERROR"
                                    [formName]="dynamicFormGroup?.controls[field.fieldName]?.controls[formGroupItem?.index]"
                                    [fieldName]="formGroupItem.fieldName"></dynamic-error>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <dynamic-error [SUBMIT_ERROR]="this.SUBMIT_ERROR" [formName]="dynamicFormGroup"
                [fieldName]="field.fieldName"></dynamic-error>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(dynamicFormGroup)">Submit</button>
    </div>
</div>