<div class="form-container-fluid" *ngIf="this.validator.dynamicFormGroup!=undefined"
    [hidden]="this.validator.dynamicFormGroup[this.id]!=undefined?false:true">
    <form class="col-12" [formGroup]="this.validator.dynamicFormGroup[this.id]" onsubmit="return false;"
        [ngClass]="{'division-panel':this.HIDE_BACKGROUND==true}"
        (keyup.enter)="this.KEY_ENTER_ENABLED==true?onSubmit($event,this.validator.dynamicFormGroup[this.id]):''">
        <div class="col-12" *ngFor="let field of this.validator?.FIELDS_DATA[this.id];let fieldIndex=index">
            <ng-container [ngSwitch]="field.type">
                <div class="form-group mb-3" *ngSwitchCase="'text'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <input [(ngModel)]="field.value"
                        (keypress)="this.validator.max_length_validator(this.id,field.fieldName);" [type]="field.type"
                        [name]="field.fieldName"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''" class="form-control"
                        [style]="field?.style" />
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'number'">
                    <div class="form-group mb-3" *ngIf="field.visible==true || field.visible==undefined">
                        <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                        <input [(ngModel)]="field.value"
                            (keypress)="this.validator.max_length_validator(this.id,field.fieldName);"
                            [type]="field.type" [name]="field.fieldName"
                            [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                            class="form-control" [style]="field?.style" />
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'email'">
                    <div class="col-12 p-0">
                        <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                        <!-- <i class="fa fa-envelope envelope-icon" aria-hidden="true"></i> -->
                        <div class="email-input-icon">
                            <input [(ngModel)]="field.value"
                                (keypress)="this.validator.max_length_validator(this.id,field.fieldName);"
                                [type]="field.type" [name]="field.fieldName"
                                [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                                class="form-control email-password-padding" />
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'checkbox'">
                    <div class="col-12 p-0 ml-3">
                        <mat-checkbox [(ngModel)]="field.value" [type]="field.type" [name]="field.fieldName"
                            [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''">{{field.label}}</mat-checkbox>
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'password'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <div class="col-12 p-0">
                        <i class="fa fa-lock lock-icon" aria-hidden="true"></i>
                        <input [(ngModel)]="field.value"
                            (keypress)="this.validator.max_length_validator(this.id,field.fieldName);"
                            [type]="field.showhide==true?'text':field.type" [name]="field.fieldName"
                            [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                            class="form-control email-password-padding" />
                        <i class="fa fa-eye eye-open-close-icon" (click)="field.showhide=!field.showhide"
                            aria-hidden="true" *ngIf="field.showhide"></i>
                        <i class="fa fa-eye-slash eye-open-close-icon" aria-hidden="true"
                            (click)="field.showhide=!field.showhide" *ngIf="!field.showhide"></i>
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'date'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <input [(ngModel)]="field.value"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''" [type]="field.type"
                        [name]="field.fieldName" class="form-control" [style]="field?.style" />
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'currency'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator.CURRENCY_LIST?.length!=0" [items]="this.validator.CURRENCY_LIST"
                        bindLabel="type" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'BuySell'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select [items]="[{value:'Buy'},{value:'Sell'}]" bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        (change)="this.setValue($event?.value,field?.InputBindValue)" [name]="field.fieldName"
                        [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'Underlying'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select
                        [items]="[{value:'Pending'},{value:'Utilized'},{value:'Partially Utilized'},{value:'Cancelled'}]"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'CommericalNo'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.COMMERICAL_NO?.length!=0 && field?.autofillrequired==undefined"
                        [items]="this.validator?.COMMERICAL_NO" bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                    <ng-select *ngIf="this.validator?.COMMERICAL_NO?.length!=0 && field?.autofillrequired==true"
                        [items]="this.validator?.COMMERICAL_NO" bindLabel="value" [multiple]="false"
                        (change)="autofillCommerical($event,field?.autofill)"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'ShippingBill'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.SHIPPING_BILL_LIST?.length!=0"
                        [items]="this.validator?.SHIPPING_BILL_LIST" bindLabel="sbno" bindValue="SB_ID"
                        [multiple]="false" [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'buyer'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.BUYER_DETAILS?.length!=0" [items]="this.validator?.BUYER_DETAILS"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'RemitterName'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-custom-dropdown *ngIf="this.validator?.INWARD_REMITTANCE_NAME_LIST?.length!=0"
                        [items]="this.validator?.INWARD_REMITTANCE_NAME_LIST" bindLabel="Remitter_Name"
                        [multiple]="false" [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value"></ng-custom-dropdown>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'consignee'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.ConsigneeNameList?.length!=0"
                        [items]="this.validator?.ConsigneeNameList" bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'MultiCheckBox'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <custom-checkbox [items]="field?.checkboxlabel" [name]="field.fieldName" [(ngModel)]="field.value">
                    </custom-checkbox>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'OptionMultiCheckBox'" [formArrayName]="field.fieldName">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <custom-checkbox [items]="field?.checkboxlabel" [name]="field.fieldName"
                        (event)="field.value=$event">
                    </custom-checkbox>

                    <div class="col-12 p-0" *ngIf="field.value=='Yes'">
                        <div class="col-12 p-0" *ngFor="let Optionfield of field?.NewOption;let OptionfieldIndex=index"
                            [formGroupName]="OptionfieldIndex">
                            <div class="col-12 p-0"
                                *ngFor="let FormOptionfield of Optionfield | keyvalue;let FormOptionfieldIndex=index">
                                <ng-container [ngSwitch]="FormOptionfield?.value?.type">
                                    <div class="form-group mb-3" *ngSwitchCase="'text'">
                                        <label
                                            *ngIf="FormOptionfield?.value?.label!=undefined && FormOptionfield?.value?.label!=''">{{FormOptionfield?.value?.label}}</label>
                                        <input
                                            [(ngModel)]="this.validator.dynamicFormGroup[this.id].controls[field.fieldName].value[OptionfieldIndex][FormOptionfield?.value?.fieldName]"
                                            [type]="FormOptionfield?.value?.type"
                                            [name]="FormOptionfield?.value?.fieldName"
                                            [placeholder]="FormOptionfield?.value?.placeholderText!=undefined?FormOptionfield?.value?.placeholderText:''"
                                            class="form-control" [style]="FormOptionfield?.value?.style" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'number'">
                                        <div class="form-group mb-3"
                                            *ngIf="FormOptionfield?.value?.visible==true || FormOptionfield?.value?.visible==undefined">
                                            <label
                                                *ngIf="FormOptionfield?.value?.label!=undefined && FormOptionfield?.value?.label!=''">{{FormOptionfield?.value?.label}}</label>
                                            <input
                                                [(ngModel)]="this.validator.dynamicFormGroup[this.id].controls[field.fieldName].value[OptionfieldIndex][FormOptionfield?.value?.fieldName]"
                                                [type]="FormOptionfield?.value?.type"
                                                [name]="FormOptionfield?.value?.fieldName"
                                                [placeholder]="FormOptionfield?.value?.placeholderText!=undefined?FormOptionfield?.value?.placeholderText:''"
                                                class="form-control" [style]="FormOptionfield?.value?.style" />
                                        </div>
                                    </div>
                                </ng-container>
                                <inner-dynamic-error [SUBMIT_ERROR]="this.SUBMIT_ERROR"
                                    [formName]="this.validator.dynamicFormGroup[this.id]?.controls[field.fieldName]?.controls[OptionfieldIndex]"
                                    [fieldName]="FormOptionfield?.value?.fieldName"></inner-dynamic-error>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group mb-3" *ngSwitchCase="'commodity'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.commodity?.length!=0" [items]="this.validator?.commodity"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'typedocument'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select
                        [items]="[{value:'Select Document',id:''},{value:'Proforma Invoice',id:'PI'},{value:'Purchase Order',id:'PO'}]"
                        bindLabel="value" bindValue="id" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'PaymentTermType'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select
                        [items]="[{value:'Advance Payment'},{value:'Letter of Credit'},{value:'Collection Bill'},{value:'Direct Dispatch'}]"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'origin'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.origin?.length!=0" [items]="this.validator?.origin"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'location'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.location?.length!=0" [items]="this.validator?.location"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'PaymentType'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select
                        [items]="[{value:'Advance Import Payment'},{value:'Direct Import Payment'},{value:'Service Payment'}]"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value" required>
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'IncoTerm'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <div class="row m-0">
                        <ng-select style="width: 86% !important;"
                            [items]="[{value:'EXW | Ex-Works or Ex-Warehouse'},{value:'FCA | Free to Carrier'},{value:'FAS | Free Alongside Ship'},{value:'FOB | Free on Board'},
                        {value:'CFR | Cost and Freight'},{value:'CIF | Cost, Insurance and Freight'},{value:'CPT | Carriage Paid To'},{value:'CIP | Carriage and Insurance Paid To'},
                        {value:'DAP | Delivered at Place'},{value:'DPU | Delivered at Place Unloaded (replaces Incoterm® 2010 DAT)'},{value:'DDP | Delivered Duty Paid'}]"
                            bindLabel="value" [multiple]="false"
                            [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                            [name]="field.fieldName" [(ngModel)]="field.value" required>
                        </ng-select>
                        <button type="button" class="btn btn-primary PopupOpen" popup-close="IncoTerm">view</button>
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'Bank'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator?.bankDetail?.length!=0" [items]="this.validator?.bankDetail"
                        bindLabel="value" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'BankList'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <div class="row m-0">
                        <ng-select *ngIf="this.validator.BANK_NAME_LIST_GLOABL?.length!=0"
                            [style]="this.ADD_NEW_BUTTON_VISIBLE==true?'width: 85% !important;':''"
                            [items]="this.validator.BANK_NAME_LIST_GLOABL" bindLabel="value" [multiple]="false"
                            [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                            [name]="field.fieldName" [(ngModel)]="field.value">
                        </ng-select>
                        <button type="button" class="btn btn-primary PopupOpen" popup-close="Add_New_Bank_Name"
                            *ngIf="this.ADD_NEW_BUTTON_VISIBLE==true" (click)="CreateFormBank()">Add New</button>
                    </div>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'BOE'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <ng-select *ngIf="this.validator.BOE_LIST?.length!=0" [items]="this.validator.BOE_LIST"
                        bindLabel="boeNumber" [multiple]="false"
                        [placeholder]="field?.placeholderText!=undefined?field.placeholderText:''"
                        [name]="field.fieldName" [(ngModel)]="field.value">
                    </ng-select>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'AdvanceInfo'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <app-ng-dropdown-custom class="PopupOpen" popup-close="UPLOAD_ORM_POPUP" bindLabel="value"
                        placeHolderText="Select Advance no." (modelChanges)="dump(field?.autofillinput)"
                        [name]="field.fieldName" [(ngModel)]="this.validator.ORM_SELECTION_DATA"
                        [items]="[{value:'Advance no.'}]" [multiple]="false">
                    </app-ng-dropdown-custom>
                </div>
                <div class="form-group mb-3" *ngSwitchCase="'formArray'">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{field.label}}</label>
                    <div [formArrayName]="field.fieldName">
                        <div class="division-panel"
                            *ngFor="let GroupLabelItem of field?.GroupLabel;let labelIndex=index;">
                            <div class="col-12 row m-0 add-btn-panel p-0" *ngIf="this.AddNewRequried==true">
                                <label>{{GroupLabelItem}}</label>
                                <button type="button" class="btn btn-primary"
                                    *ngIf="(field?.GroupLabel?.length-1)==labelIndex"
                                    (click)="addFormArray(field.fieldName,fieldIndex,field,field?.GroupLabel)"><i
                                        class='fa fa-plus'></i></button>
                                <button type="button" class="btn btn-primary" *ngIf="labelIndex!=0"
                                    (click)="removeFormArray(field.fieldName,fieldIndex,labelIndex,field,field?.GroupLabel)"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                            <div *ngFor="let formGroupItem of field?.NewformGroup | customSlicePipe:labelIndex:field?.MAX_LIMIT; let i=index;"
                                [formGroupName]="formGroupItem?.index">
                                <ng-container [ngSwitch]="formGroupItem.type">
                                    <div class="form-group mb-3" *ngSwitchCase="'text'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <input [(ngModel)]="formGroupItem.value" [type]="formGroupItem.type"
                                            [name]="formGroupItem.fieldName"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            (keypress)="this.validator.max_length_validatorFormArray(this.id,field.fieldName,formGroupItem?.index,formGroupItem.fieldName);"
                                            class="form-control" [style]="field?.style" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'number'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <input [(ngModel)]="formGroupItem.value"
                                            (keypress)="this.validator.max_length_validatorFormArray(this.id,field.fieldName,formGroupItem?.index,formGroupItem.fieldName);"
                                            [type]="formGroupItem.type" [name]="formGroupItem.fieldName"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            class="form-control" [style]="field?.style" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'date'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <input [(ngModel)]="formGroupItem.value" [type]="formGroupItem.type"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" class="form-control"
                                            [style]="field?.style" />
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'currency'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.CURRENCY_LIST?.length!=0"
                                            [items]="this.validator?.CURRENCY_LIST" bindLabel="type" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'buyer'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.BUYER_DETAILS?.length!=0"
                                            [items]="this.validator?.BUYER_DETAILS" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName"
                                            (change)="this.setFormValue($event?.Address,(formGroupItem?.index+1),field?.fieldName,formGroupItem?.InputBindValue)"
                                            [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'benne'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.BENEFICIARY_DETAILS?.length!=0"
                                            [items]="this.validator?.BENEFICIARY_DETAILS" bindLabel="value"
                                            [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            (change)="this.setFormValue($event?.Address,(formGroupItem?.index+1),field?.fieldName,formGroupItem?.InputBindValue)"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'CommericalNo'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.COMMERICAL_NO?.length!=0"
                                            [items]="this.validator?.COMMERICAL_NO" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'ShippingBill'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.SHIPPING_BILL_LIST?.length!=0"
                                            [items]="this.validator?.SHIPPING_BILL_LIST" bindLabel="sbno"
                                            bindValue="_id" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'consignee'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.ConsigneeNameList?.length!=0"
                                            [items]="this.validator?.ConsigneeNameList" bindLabel="value"
                                            [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'commodity'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.commodity?.length!=0"
                                            [items]="this.validator?.commodity" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'typedocument'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select
                                            [items]="[{value:'Select Document',id:''},{value:'Proforma Invoice',id:'PI'},{value:'Purchase Order',id:'PO'}]"
                                            bindLabel="value" bindValue="id" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'PaymentTermType'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select
                                            [items]="[{value:'Advance Payment'},{value:'Letter of Credit'},{value:'Collection Bill'},{value:'Direct Dispatch'}]"
                                            bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'origin'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.origin?.length!=0"
                                            [items]="this.validator?.origin" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'location'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.location?.length!=0"
                                            [items]="this.validator?.location" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'PaymentType'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select
                                            [items]="[{value:'Advance Import Payment'},{value:'Direct Import Payment'},{value:'Service Payment'}]"
                                            bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value" required>
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'Bank'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <ng-select *ngIf="this.validator?.bankDetail?.length!=0"
                                            [items]="this.validator?.bankDetail" bindLabel="value" [multiple]="false"
                                            [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                            [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                        </ng-select>
                                    </div>
                                    <div class="form-group mb-3" *ngSwitchCase="'BankList'">
                                        <label *ngIf="formGroupItem.label!=undefined">{{formGroupItem.label}}</label>
                                        <div class="row m-0">
                                            <ng-select *ngIf="this.validator.BANK_NAME_LIST_GLOABL?.length!=0"
                                                [style]="this.ADD_NEW_BUTTON_VISIBLE==true?'width: 85% !important;':''"
                                                [items]="this.validator.BANK_NAME_LIST_GLOABL" bindLabel="value"
                                                [multiple]="false"
                                                [placeholder]="formGroupItem?.placeholderText!=undefined?formGroupItem.placeholderText:''"
                                                [name]="formGroupItem.fieldName" [(ngModel)]="formGroupItem.value">
                                            </ng-select>
                                            <button type="button" class="btn btn-primary PopupOpen"
                                                popup-close="Add_New_Bank_Name"
                                                *ngIf="this.ADD_NEW_BUTTON_VISIBLE==true">Add New</button>
                                        </div>
                                    </div>
                                </ng-container>
                                <inner-dynamic-error [SUBMIT_ERROR]="this.SUBMIT_ERROR"
                                    [formName]="this.validator.dynamicFormGroup[this.id]?.controls[field.fieldName]?.controls[formGroupItem?.index]"
                                    [fieldName]="formGroupItem.fieldName"></inner-dynamic-error>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <inner-dynamic-error [SUBMIT_ERROR]="this.SUBMIT_ERROR"
                [formName]="this.validator.dynamicFormGroup[this.id]"
                [fieldName]="field.fieldName"></inner-dynamic-error>
        </div>
        <ng-content></ng-content>
        <button type="button" class="btn btn-primary submit-button" [id]="this.id"
            [style]="this.HIDE_SUBMIT_BUTTON==true?'display:block':'display:none'"
            (click)="onSubmit($event,this.validator.dynamicFormGroup[this.id]);">Submit</button>
    </form>
</div>

<app-custom-model modalbodyheight="70vh" [FooterButton]="true" EventButton="false"
    [customstyle]="{'max-width':'85vw !important'}" class="p-2 mt-2" height="80vh" id="UPLOAD_ORM_POPUP"
    [name]="'ORM Selection'">
    <div class="p-2">
        <div class="row p-2 col-12 modal-bg">
            <div class="d-flex col-12" style="height:80vh;">
                <div class="row col-12 mt-0">
                    <table class="table">
                        <thead>
                            <tr class="table-tr">
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-2">Advance ref no.</th>
                                <th scope="col" class="col-td-th-2">Advance Amount</th>
                                <th scope="col" class="col-td-th-2">Advance Available Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-tr" *ngFor="let item of this.validator.ORM_BY_PARTY_NAME;let i=index">
                                <td scope="col" class="col-td-th-1"><input type="checkbox" id="orm_checkbox"
                                        (change)="ORM_SELECTION($event,i,item,this.AUTOFILL_INPUT_NAME_LIST)" /></td>
                                <td scope="col" class="col-td-th-2">{{item?.billNo}}</td>
                                <td scope="col" class="col-td-th-2">{{item?.amount}}</td>
                                <td scope="col" class="col-td-th-2">
                                    {{item?.AvailableAmount!='0'?item?.AvailableAmount:item?.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-custom-model>

<app-custom-model *ngIf="this.ADD_NEW_BUTTON_VISIBLE==true" [minimizedisabled]="false" EventButton="false"
    [RemoveBgTop]="false" class="p-2 mt-2" id="Add_New_Bank_Name" [customstyle]="{'max-width':'40vw !important'}"
    height="30vh" [name]="'Add New Bank Name'" #Add_New_Bank_NamePanel>
    <div class="p-2">
        <upload-components id="AddNewBankName"
            (SubmitEvent)="addNewBank($event,Add_New_Bank_NamePanel)"></upload-components>
    </div>
</app-custom-model>

<app-custom-model [minimizedisabled]="false" EventButton="false" [RemoveBgTop]="false" class="p-2 mt-2" id="IncoTerm"
    [customstyle]="{'max-width':'60vw !important','margin-top':'100px !important'}" height="40vh" [name]="'Inco Term'">
    <div class="p-2">
        <img src="../../../../assets/images/incoterm.png" alt="Inco Term" class="img-popup">
    </div>
</app-custom-model>