<div class="ml-0 pb-2 letter-panel">
    <div class="header-letter"></div>
    <div class="hdf-bank">
        <div class="body-letter">
            <p class="p-text">Ref. No.: BC – 452 / 2022 - 2023</p>
            <p class="p-text">November 8, 2022</p>
            <p class="p-text">To</p>
            <p class="p-text mb-0">The Branch Manager</p>
            <p class="p-text mb-0">HDFC Bank Ltd.</p>
            <p class="p-text mb-0">141, Sathy Road,</p>
            <p class="p-text mb-0">Kandakottam Complex,</p>
            <p class="p-text mt-1">Opp To Bus Stand,</p>
            <p class="p-text mb-0">Erode – 638 003.</p>
            <p class="p-text mb-0">We wish to make an advance payment towards import of WET SALTED OX HEIFFER HIDES
                (Goods / Services) as part of our
                Raw Material / Capital Goods requirement:</p>
            <p class="p-text mb-0">Request you to process the Import remittance by [√ ] Swift [ ] Demand Draft as per
                following request</p>
            <div class="table-added mt-1">
                <table class="table mb-0">
                    <thead>
                        <tr class="table-tr">
                            <th scope="col" class="col-td-th-1">#</th>

                            <th scope="col" class="col-td-th-1">Name &amp; Address of the customer</th>
                            <th scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</th>

                            <th scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</th>
                            <th scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</th>

                            <th scope="col" class="col-td-th-1">Account to be debited as applicable</th>
                            <th scope="col" class="col-td-th-1">
                                <div>
                                    <p>INR A/C No : NIL<span></span></p>
                                    <p>For: (CCY &amp; AMT) NIL<span></span></p>
                                    <p>FCY A/C No : 50200002170390<span></span></p>
                                    <p>For: (CCY &amp; AMT) USD 6075.00/-<span></span></p>
                                    <p>(Remittance by SEZ units from INR accounts to beneficiaries within India not
                                        allowed)</p>
                                </div>
                            </th>
                            <th scope="col" class="col-td-th-1">Account to be debited for charges of HDFC Bank Ltd.</th>
                            <th scope="col" class="col-td-th-1">
                                <div>
                                    <p>( ) on us a/c no 50200000966000<span></span></p>
                                    <p>( ) Net off i.e. On beneficiary<span></span></p>
                                </div>
                            </th>

                            <th scope="col" class="col-td-th-1">Amount and currency to be remitted (figures &amp; words)
                            </th>
                            <th scope="col" class="col-td-th-1">USD 6075.00 /- (U.S. DOLLER SIX THOUSAND SEVENTY FIVE
                                ONLY) - 30% ADVANCE PAYMENT.</th>

                            <th scope="col" class="col-td-th-1">Details of Bank Guarantee / Standby Letter of
                                Credit (for advance payment) -
                                If not available as per extant RBI Master
                                Directions, reasons for waiver of Bank Guarantee
                                / Standby Letter of Credit.</th>
                            <th scope="col" class="col-td-th-1">NIL</th>

                            <th scope="col" class="col-td-th-1">Beneficiary name and address</th>
                            <th scope="col" class="col-td-th-1">fgdhfgkdfg</th>

                            <th scope="col" class="col-td-th-1">(A) Beneficiary Bank ACCOUNT NO<br>Beneficiary Bank
                                name, address &amp; Wire details</th>
                            <th scope="col" class="col-td-th-1">
                                <div>
                                    <p>Swift Code: CCRIES2AXXX<span></span></p>
                                    <p>ABA:<span></span></p>
                                    <p>Routing No:<span></span></p>
                                    <p>Sort Code:<span></span></p>
                                </div>
                            </th>
                            <th scope="col" class="col-td-th-1">(B) Correspondent / Intermediary Bank name,
                                address &amp; Wire details</th>
                            <th scope="col" class="col-td-th-1">
                                <div>
                                    <p>NIL<span></span></p>
                                    <p>Swift Code:<span></span></p>
                                    <p>ABA:<span></span></p>
                                    <p>Routing No:<span></span></p>
                                    <p>Sort Code:<span></span></p>
                                </div>
                            </th>
                            <th scope="col" class="col-td-th-1">Foreign bank charges</th>
                            <th scope="col" class="col-td-th-1">( ) on us / ( ) on beneficiary</th>

                            <th scope="col" class="col-td-th-1">Shipment details mandatory for Advance Import Payment
                            </th>
                            <th scope="col" class="col-td-th-1">Expected Date of Despatch / Download (software) – MID OF
                                NOV 2022
                                Name of the shipping company / airlines – (BY SEA)
                                Port of Despatch - ANY PORT IN COLOMBIA
                                Destination Port – CHENNAI, INDIA
                                Proforma Invoice details (In case the invoice is older than 6 months then a declaration
                                to be provided stating the reason for delay)
                                PROFORMA Invoice no - 342-nGH-22 CO Dated 07.11.2022, Amount - USD 20250.00/-</th>

                            <th scope="col" class="col-td-th-1">Goods description and HS classification code</th>
                            <th scope="col" class="col-td-th-1">41012090</th>

                            <th scope="col" class="col-td-th-1">Import License Details (if applicable)</th>
                            <th scope="col" class="col-td-th-1">NIL</th>

                            <th scope="col" class="col-td-th-1">Country of Origin</th>
                            <th scope="col" class="col-td-th-1">COLOMBIA</th>

                            <th scope="col" class="col-td-th-1">SPECIAL REF NO TO BE MENTIONED IN SWIFT</th>
                            <th scope="col" class="col-td-th-1">PAYMENT AGAINST PROFORMA INVOICE NO. 342-nGH-22 CO Dated
                                07.11.2022</th>

                            <th scope="col" class="col-td-th-1">Rate / contract booked with treasury – if any</th>
                            <th scope="col" class="col-td-th-1">NIL</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <p class="p-text p-under-line-text">CUSTOMER DECLARATIONS (As applicable)</p>
            <p class="p-text">(I) BOE Declaration for Advance Remittance: </p>
            <p class="p-text">We undertake that we shall make physical
                import within 6 months from the date of
                remittance (Maximum Period - 3 years in case of Capital goods) and documentary evidence of import (Bill
                of entry – Exchange
                control copy or Courier Bill of Entry or CA certificate in case of Non-Physical import) will be
                furnished within 15 days from the date of
                import. In case of non-import within the above specified period, we shall arrange to repatriate the
                funds and submit original FIRC to
                the bank.
                We further confirm that this advance remittance has not been processed through any other Authorized
                Dealer against the said
                BOE’s</p>
            <p class="p-text">(II) BOE Details for Direct Remittance (Shipment reached and cleared in India):</p>
            <div class="table-added mt-1">
                <table class="table mb-0">
                    <thead>
                        <tr class="table-tr">
                            <th scope="col" class="col-td-th-1">#</th>
                            <th scope="col" class="col-td-th-1">Bill of Entry No. and date</th>
                            <th scope="col" class="col-td-th-1">Bill of Entry CCY &amp; Amount</th>
                            <th scope="col" class="col-td-th-1">Bill of Entry Utilized amount</th>
                            <th scope="col" class="col-td-th-1">Fob Value</th>
                            <th scope="col" class="col-td-th-1">AD Code No</th>
                            <th scope="col" class="col-td-th-1">Port Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-tr">
                            <td scope="col" class="col-td-th-1">#</td>
                            <td scope="col" class="col-td-th-1">Name &amp; Address of the customer</td>
                            <td scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</td>
                            <td scope="col" class="col-td-th-1">#</td>
                            <td scope="col" class="col-td-th-1">Name &amp; Address of the customer</td>
                            <td scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</td>
                            <td scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="p-text">(III) OFAC Declaration: I / We hereby declare that the above transaction does not involve,
                and is not designed for the purpose of any
                contravention or evasion of the provisions of the OFAC.</p>
            <p class="p-text">(IV) FATF Declaration – (If applicable):
                We are aware that the above remittance is being made to a FATF listed country and as per prevailing AML
                guidelines, all due
                diligence of the beneficiary has been carried out at our end. We indemnify the bank and request that the
                remittances should be
                carried out at our risk and responsibility. We shall not hold HDFC Bank responsible if proceeds for the
                said transaction are held by
                any foreign regulators or reach beneficiary with delay. If any additional information is sought by
                foreign regulators or correspondent
                bank or by any other external or internal authorities, the same will be provided by us to ensure
                completion of the transaction. Any
                loss / charges arising out of the said transaction will be borne by us.</p>
            <p class="p-text">(V) EEFC A/C Declaration:
                For EEFC/DDA/RFC account(s)is/are maintained with HDFC bank or with other banks(and/or) that the sum
                total of the accruals in the
                account during a calendar month would be converted into Rupees on or before the last day of the
                succeeding calendar month after
                adjusting for utilization of the balances for approved purposes or forward commitments.</p>
            <p class="p-text mt-3">(VI)Special Foreign Currency a/c Declaration (SPFC) Declaration: - (If applicable
                while undertaking remittances from INR account)</p>
            <p class="p-text mt-3">We do not hold any SPFC account with any bank (or)
                We hold SPFC account with ………………. bank/s, but has no balance in this/these accounts to make the
                captioned remittance”</p>
            <p class="p-text mt-3">(VII) Part Payment: We are hereby paying only part amount of Invoice due to reason
                mentioned below -</p>
            <p class="p-text mt-3">Details of Part Payment already done under this invoice - (If Applicable)</p>
            <div class="table-added mt-1">
                <table class="table mb-0">
                    <thead>
                        <tr class="table-tr">
                            <th scope="col" class="col-td-th-1">#</th>
                            <th scope="col" class="col-td-th-1">Bill Reference No</th>
                            <th scope="col" class="col-td-th-1">CCY</th>
                            <th scope="col" class="col-td-th-1">Amount Remitted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-tr">
                            <td scope="col" class="col-td-th-1">#</td>
                            <td scope="col" class="col-td-th-1">Name &amp; Address of the customer</td>
                            <td scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</td>
                            <td scope="col" class="col-td-th-1">Importer Exporter Code (IEC)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="p-text mt-3">(VIII) FEMA DECLARATION – CUM – UNDERTAKING:</p>
            <p class="p-text mt-3">The goods imported by us are (Pls select any one):</p>
            <p class="p-text mt-3">[ ] Not covered under prohibited or restricted list and are freely importable as per
                relevant para and Chapters of the extant Foreign
                Trade Policy and amendments there to.</p>
            <p class="p-text mt-3">[ ] Restricted for import as per relevant para and Chapters of the extant Foreign
                Trade Policy and amendments there to and original
                exchange control copy of the license issued by D.G.F.T. is enclosed.</p>
            <p class="p-text mt-3">We are eligible to import the abovementioned goods under the extant Foreign Trade
                policy.</p>
            <p class="p-text mt-3">I / We hereby declare that the above transaction does not involve, and is not
                designed for the purpose of any contravention or
                evasion of the provisions of the FEMA 1999 or of any rule, regulation, notification, direction or order
                made thereunder. I/ We also
                hereby agree and undertake to give such information/ documents as will reasonably satisfy you about this
                transaction in terms of
                the above declaration.</p>
            <p class="p-text mt-3">I/ We also undertake that if I/ We refuse to comply with any such requirements or
                make only unsatisfactory compliance therewith,
                the bank shall refuse in writing to undertake the transaction and shall if it has reason to believe that
                any contravention /evasion is
                contemplated by me /us report the matter to Reserve Bank of India. *I / We further declare that the
                undersigned has/have the
                authority to give this declaration and undertaking on behalf of the firm/company.</p>
            <p class="p-text mt-3">(IX) I / We hereby declare that, we are not under investigation by any investigating
                agency.</p>
            <p class="p-text mt-3">Documents Attached:</p>
            <p class="p-text mt-3">[ ] Proforma Invoice (accepted by importer)/Commercial Invoice</p>
            <p class="p-text mt-3">[ ] Purchase order raised by us duly accepted by the Foreign Party (in case of
                advance import payment)</p>
            <p class="p-text mt-3">[ ] Transport Document (Self attested copy of AWB / B/L / Courier Receipt) / Bill of
                Lading details</p>
            <p class="p-text mt-3">[ ] Copy of Bill Of Entry if BOE details are not provided above/Courier BOE required
                in original/CA certificate for software import</p>
            <p class="p-text mt-3">[ ] Form A2 for Software Import Transactions</p>
            <p class="p-text mt-3">[ ] If payment is being made after the expiry of 180 days from the date of shipment
                detailed reason for delayed payment.</p>
            <p class="p-text mt-3">[ ] Original License (Exchange control copy), If applicable</p>
            <p class="p-text mt-3">[ ] Original Bank Guarantee (If amount of advance remittance exceeds USD 200000 or
                Equivalent)</p>
            <p class="p-text mt-3">[ ] Any Other document/s. Pls. specify ____________________________________________
            </p>

            <p class="p-text mt-3">Thanks,</p>
            <p class="p-text mt-3">Yours faithfully,</p>
            <p class="p-text mt-3">For K K S K INTERNATIONAL,</p>
            <br>
            <br>
            <br>
            <p class="p-text mt-3">Authorised Signatory</p>
        </div>
    </div>
</div>