body {
    line-height: 115%;
    font-family: Calibri;
    font-size: 11pt
}

p {
    margin: 0pt 0pt 10pt
}

li,
table {
    margin-top: 0pt;
    margin-bottom: 10pt
}

.BalloonText {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Tahoma;
    font-size: 8pt
}

.Default {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Arial;
    font-size: 12pt;
    color: #000000
}

.ListParagraph {
    margin-left: 36pt;
    margin-bottom: 10pt;
    line-height: 115%;
    font-size: 11pt
}

.NoSpacing {
    margin-bottom: 0pt;
    line-height: normal;
    font-size: 11pt
}

.TableParagraph {
    margin-bottom: 0pt;
    line-height: normal;
    widows: 0;
    orphans: 0;
    font-family: 'Times New Roman';
    font-size: 11pt
}

span.BalloonTextChar {
    font-family: Tahoma;
    font-size: 8pt
}

.Federal-Bank-Format {
    width: 726px;
    height: 800px;
    overflow: auto;
    margin: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}