<upload-components-header title="Create/Export/Bill-Of-Exchanges" id="Shippingbill"
    (UploadHeaderEvent)="clickPipo($event)" [UPLOAD_BUTTON]="false">
    <div class="upload-panel">
        <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
            *ngIf="this.PREVIWES_URL!='' && this.VISIBLITY_PDF==true" name="Bank Pdf"
            [src]="this.PREVIWES_URL"></app-pdf-viewer>
        <upload-components
        [BUTTON_PANEL_SHOW]="true"
        SubmitName="Fill" (SHIPPING_BILL_EVENT)="onChangeShippingBill($event)"
        (BL_COPY_EVENT)="onChangeBLCopy($event)"
        TypeOfValue="Raw" id="EXPORT_BILL_OF_EXCHANGE"
            (SubmitEvent)="onSubmit($event)">
            <button type="button" class="btn btn-primary submit-button" (click)="onFillForm(null)">Submit</button>
        </upload-components>
    </div>
</upload-components-header>
<upload-popup id="Shippingbill" url="member/uploadImage" (event)="response($event)"></upload-popup>