<div class="col-12 pt-2 Invoice">
  <div class="col-12 d-flex">
    <label for="" class="col-6 Invoice-label-left">Transaction Summary</label>
    <label for="" class="col-6 Invoice-label">{{this.TRANSACTION_NAME}}</label>
  </div>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Advance-Outward-Remittance'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Advance Outward Remittance" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">ORM Date</th>
            <th scope="col" class="col-td-th-2">ORM Ref No.</th>
            <th scope="col" class="col-td-th-1">BOE No</th>
            <th scope="col" class="col-td-th-2">Lodgement Ref no.</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getShippingBillCuurency(item?.SBRef)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getFIRX_DETAILS(item?.SBRef)?.FIRX_DATE}}</td>
            <td scope="col" class="col-td-th-2">{{this.getFIRX_DETAILS(item?.SBRef)?.FIRX_NO}}</td>
            <td scope="col" class="col-td-th-1">{{this.getFIRX_DETAILS(item?.SBRef)?.FIRX_AMOUNT}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.blCopyRef?.blcopyrefNumber}}</td>
            <td scope="col" class="col-td-th-1">
              {{item?.Ref_Data?.blCopyRef?.blcopyrefNumber==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.blCopyRef?.blcopyrefNumber!=undefined?true:false"
                (click)="this.router.navigate(['home/upload-documents/Export/Bill-Lodgement-Referance-AdviceCopy',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                AdviceCopy</button></td>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Direct-Bills'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Direct Bills" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">SB Date</th>
            <th scope="col" class="col-td-th-1">SB No.</th>
            <th scope="col" class="col-td-th-2">Lodgement Ref no.</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getShippingBillCuurency(item?.SBRef)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getShippingBill_Details(item?.SBRef)?.SB_DATE}}</td>
            <td scope="col" class="col-td-th-1">{{this.getShippingBill_Details(item?.SBRef)?.SB_NO}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.blCopyRef?.blcopyrefNumber}}</td>
            <td scope="col" class="col-td-th-1">
              {{item?.Ref_Data?.blCopyRef?.blcopyrefNumber==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.blCopyRef?.blcopyrefNumber!=undefined?true:false"
                (click)="this.router.navigate(['home/upload-documents/Export/Bill-Lodgement-Referance-AdviceCopy',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                AdviceCopy</button></td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Import-Under-Collection/LC'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Import Under Collection/LC" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">MT103 DATE</th>
            <th scope="col" class="col-td-th-2">MT103 REF</th>
            <th scope="col" class="col-td-th-2">IRM Advice Ref no.</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{item?.data?.currency}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{item?.date}}</td>
            <td scope="col" class="col-td-th-2">{{item?.data?.Bill_lodgment_Number}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.irRef?.billNo}}</td>
            <td scope="col" class="col-td-th-1">{{item?.Ref_Data?.irRef?.billNo==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.irRef?.billNo!=undefined?true:false"
                (click)="this.router.navigate(['home/upload-documents/Export/InwardRemittanceAdvice',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id}]);">Upload
                IRM</button></td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
</div>