<div class="col-12 pt-2 Invoice">
  <div class="col-12 d-flex">
    <label for="" class="col-6 Invoice-label-left">Transaction Summary</label>
    <label for="" class="col-6 Invoice-label">{{this.TRANSACTION_NAME}}</label>
  </div>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Advance-Outward-Remittance'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Advance Outward Remittance" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">ORM Date</th>
            <th scope="col" class="col-td-th-2">ORM Ref No.</th>
            <th scope="col" class="col-td-th-1">BOE No</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPIPOCurrency(item?.data?.formdata?.paymentTerm)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getORM_Details(item?.ORMRef)?.ORM_DATE}}</td>
            <td scope="col" class="col-td-th-2">{{this.getORM_Details(item?.ORMRef)?.ORM_NO}}</td>
            <td scope="col" class="col-td-th-1">{{this.getBOE_DETAILS(item?.BOERef)?.BOE_NO}}</td>
            <td scope="col" class="col-td-th-1">
              {{getStatus(item?.ORMRef)==false && getStatus(item?.BOERef)==false?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1">
              <button class="btn btn-primary" [disabled]="getStatus(item?.ORMRef)"
                (click)="this.router.navigate(['home/upload-documents/Import/OutwardRemittanceAdvice',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                ORM</button>
              <button class="btn btn-primary" [disabled]="getStatus(item?.BOERef)"
                (click)="this.router.navigate(['home/upload-documents/Import/Boe',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                BOE</button>
            </td>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Direct-Bills'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Direct Bills" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-2">Bill Ref no.</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-2">BOE No</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPIPOCurrency(item?.data?.formdata?.paymentTerm)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.blCopyRef?.blcopyrefNumber}}</td>
            <td scope="col" class="col-td-th-1">{{item?.Ref_Data?.blCopyRef?.amount}}</td>
            <td scope="col" class="col-td-th-2">{{this.getBOE_DETAILS(item?.pipo)?.BOE_NO}}</td>
            <td scope="col" class="col-td-th-1">
              {{item?.Ref_Data?.blCopyRef?.blcopyrefNumber==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1">
              <button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.blCopyRef?.blcopyrefNumber==undefined?false:true"
                (click)="this.router.navigate(['home/upload-documents/Import/Bill-Lodgement-Referance-AdviceCopy',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                AdviceCopy</button>
            </td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Outward-Remittance-A2'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Outward Remittance A2" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">ORM Date</th>
            <th scope="col" class="col-td-th-2">ORM Ref No.</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPIPOCurrency(item?.data?.formdata?.paymentTerm)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getORM_Details(item?.ORMRef)?.ORM_DATE}}</td>
            <td scope="col" class="col-td-th-2">{{this.getORM_Details(item?.ORMRef)?.ORM_NO}}</td>
            <td scope="col" class="col-td-th-1">
              {{getStatus(item?.ORMRef)==false?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1">
              <button class="btn btn-primary" [disabled]="getStatus(item?.ORMRef)"
                (click)="this.router.navigate(['home/upload-documents/Import/OutwardRemittanceAdvice',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id,upload:'true'}]);">Upload
                ORM</button>
            </td>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Import-Under-Collection/LC'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Import Under Collection/LC" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">PIPO NO.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-1">MT103 DATE</th>
            <th scope="col" class="col-td-th-2">MT103 REF</th>
            <th scope="col" class="col-td-th-2">IRM Advice Ref no.</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{item?.data?.currency}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{item?.date}}</td>
            <td scope="col" class="col-td-th-2">{{item?.data?.Bill_lodgment_Number}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.irRef?.billNo}}</td>
            <td scope="col" class="col-td-th-1">{{item?.Ref_Data?.irRef?.billNo==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.irRef?.billNo!=undefined?true:false"
                (click)="this.router.navigate(['home/upload-documents/Export/InwardRemittanceAdvice',{pipo:this.getPipoNumber(item?.pipo),transaction_id:item?._id}]);">Upload
                IRM</button></td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='Buyer-Credit'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="Buyer Credit" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">Supplier Name</th>
            <th scope="col" class="col-td-th-1">LC No/BOE No.</th>
            <th scope="col" class="col-td-th-1">LC/BOE Amount</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-2">Tenor</th>
            <th scope="col" class="col-td-th-2">Lending Bank Name</th>
            <th scope="col" class="col-td-th-2">ROI (Spread)</th>
            <th scope="col" class="col-td-th-2">BC Ref No.</th>
            <th scope="col" class="col-td-th-2">Due Date</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{item?.data?.formdata?.BCQuote[0]?.SupplierName}}</td>
            <td scope="col" class="col-td-th-1">{{item?.data?.formdata?.BCQuote[0]?.LCNoBOENo}}</td>
            <td scope="col" class="col-td-th-1">{{item?.data?.formdata?.BCQuote[0]?.LCBOEAmount}}</td>
            <td scope="col" class="col-td-th-1">{{item?.data?.formdata?.BCQuote[0]?.Currency}}</td>
            <td scope="col" class="col-td-th-2">{{item?.data?.formdata?.BCQuote[0]?.Tenor}}</td>
            <td scope="col" class="col-td-th-2">{{item?.data?.formdata?.BCQuote[0]?.Tenor}}</td>
            <td scope="col" class="col-td-th-2">{{item?.data?.formdata?.BCQuote[0]?.Tenor}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.BCRef?.BCRefNo}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.BCRef?.DueDate}}</td>
            <td scope="col" class="col-td-th-1">{{item?.Ref_Data?.BCRef?.BCRefNo==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
              [disabled]="item?.Ref_Data?.BCRef?.BCRefNo!=undefined?true:false"
              (click)="uploadBC(BCRefNoPanel,item)">Upload
              BC Ref No.</button></td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
  <custom-mat-stepper [BUTTON_PANEL_HIDE]="false" *ngIf="this.TRANSACTION_NAME=='LC-Transaction'"
    (TabEvent)="onTabChanges($event)">
    <custom-mat-step MATSTEP_LABEL="LC Transaction" [NextTrue]="true">
      <table class="table table-striped">
        <thead>
          <tr class="table-tr">
            <th scope="col" class="col-td-th-1">Date</th>
            <th scope="col" class="col-td-th-1">Party Name</th>
            <th scope="col" class="col-td-th-1">Pipo No.</th>
            <th scope="col" class="col-td-th-1">Currency</th>
            <th scope="col" class="col-td-th-1">Amount</th>
            <th scope="col" class="col-td-th-2">FLC Ref No.</th>
            <th scope="col" class="col-td-th-2">Issuance Date</th>
            <th scope="col" class="col-td-th-1">Status</th>
            <th scope="col" class="col-td-th-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-tr" *ngFor="let item of this.TRANSACTION_DATA;let i=index">
            <td scope="col" class="col-td-th-1">{{item?.date}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPIPOBenneName(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoNumber(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPIPOCurrency2(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-1">{{this.getPipoAmountSum(item?.pipo)}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.FLCRef?.FLCRefNo}}</td>
            <td scope="col" class="col-td-th-2">{{item?.Ref_Data?.FLCRef?.IssuanceDate}}</td>
            <td scope="col" class="col-td-th-1">{{item?.Ref_Data?.FLCRef?.FLCRefNo==undefined?'Pending':'Completed'}}</td>
            <td scope="col" class="col-td-th-1"><button class="btn btn-primary"
                [disabled]="item?.Ref_Data?.FLCRef?.FLCRefNo!=undefined?true:false"
                (click)="uploadFLC(FLCRefNoPanel,item)">Upload
                FLC Ref No.</button></td>
          </tr>
        </tbody>
      </table>
    </custom-mat-step>
  </custom-mat-stepper>
</div>

<app-custom-model [FooterButton]="false" [minimizedisabled]="false" [customstyle]="{'max-width':'50vw !important'}"
  [modalbodystyle]="{'max-height':'44vh !important','height':'44vh !important','max-width':'50vw !important'}"
  height="44vh" id="FLCRefNo" name="FLC Ref No." #FLCRefNoPanel>
  <upload-components id="FLCRefNo_UPLOAD" (SubmitEvent)="this.SubmitButton(RawValueEventPanel?.geForm,FLCRefNoPanel)"
    #RawValueEventPanel></upload-components>
</app-custom-model>

<app-custom-model [FooterButton]="false" [minimizedisabled]="false" [customstyle]="{'max-width':'50vw !important'}"
  [modalbodystyle]="{'max-height':'44vh !important','height':'44vh !important','max-width':'50vw !important'}"
  height="44vh" id="BCRefNo" name="BC Ref No." #BCRefNoPanel>
  <upload-components id="BCRefNo_UPLOAD" (SubmitEvent)="this.SubmitButtonBC(BCRefNoRawValueEventPanel?.geForm,BCRefNoPanel)"
    #BCRefNoRawValueEventPanel></upload-components>
</app-custom-model>