<div class="content-wrap pb-2 scroll-bar-main">
  <main id="content" class="content table-padding" role="main">
    <div class="filter_section_top p-2">
      <div class="row m-0">
        <div style="margin: auto;margin-left: 0;">
          <div class="import_export_sec">
            <h3 class="heading_common_tag">BOE Documents ({{this.FILTER_VALUE_LIST.length}})</h3>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <div class="filter_right_new padding_new_top p-0" style="display: flex;gap: 20px;">
            <app-ng-dropdown-custom placeHolderText="Search boe no." class="PopupOpen"
              popup-close="SHIPPING_BILL_ALL_RELATED_DOCUMENTS" width="300px" [items]="this.item1" bindLabel="boeNumber"
              (modelChanges)="SbSearch($event?.boeNumber)" (keyEvent)="SbSearch($event)" [multiple]="false"
              #buyerNameSelection></app-ng-dropdown-custom>
            <button type="button" class="btn btn-primary" (click)="exportToExcel()"><span
                class="ex_icon"></span>Export</button>
            <div class="filter_posit">
              <button (click)="filter_Popup.style.display='block'" type="button"
                class="btn btn-secondary filter-popup"><span class="fi_icon"></span>Filter</button>
              <div class="bg-white filter_main_sec  mt-2" #filter_Popup appFilterToggle>
                <form class="select_filter_options">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">Buyer name</label>
                      <select class="form-select form-control" aria-label="Default select example" name="Buyer_Name"
                        (change)="filter($event.target.value,'benneName');filter_Popup.style.display='none'">
                        <option value="">Buyer name</option>
                        <option [value]="Buyer_Name" *ngFor="let Buyer_Name of this.ALL_FILTER_DATA?.Buyer_Name">
                          {{Buyer_Name}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">BOE NUMBER</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'boeNumber');filter_Popup.style.display='none'"
                        name="Company_Name">
                        <option value="">BOE NUMBER</option>
                        <option [value]="PI_PO_No" *ngFor="let PI_PO_No of this.ALL_FILTER_DATA?.BOE_NUMBER">{{ PI_PO_No
                          }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">AD CODE</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'adCode');filter_Popup.style.display='none'" name="Origin">
                        <option value="">AD CODE</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.AD_CODE">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">AD BILL NO.</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'adBillNo');filter_Popup.style.display='none'"
                        name="Origin">
                        <option value="">AD BILL NO.</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.AD_BILL_NO">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">IEC CODE</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'iecCode');filter_Popup.style.display='none'"
                        name="Origin">
                        <option value="">IEC CODE</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.IEC_CODE">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">IEC NAME</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'iecName');filter_Popup.style.display='none'"
                        name="Origin">
                        <option value="">IEC NAME</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.IEC_NAME">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">ORIGIN</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'origin');filter_Popup.style.display='none'" name="Origin">
                        <option value="">ORIGIN</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.ORIGIN">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">DISCHARGE PORT</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'dischargePort');filter_Popup.style.display='none'"
                        name="Origin">
                        <option value="">DISCHARGE PORT</option>
                        <option *ngFor="let Origin of this.ALL_FILTER_DATA?.DISCHARGE_PORT">{{ Origin }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">Currency</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'currency');filter_Popup.style.display='none'"
                        name="Currency">
                        <option value="">Currency</option>
                        <option *ngFor="let Currency of this.ALL_FILTER_DATA?.Currency" [value]="Currency">{{ Currency
                          }}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-6 col-12">
                      <label for="exampleFormControlInput1" class="form-label">DATE</label>
                      <select class="form-select form-control" aria-label="Default select example"
                        (change)="filter($event.target.value,'boeDate');filter_Popup.style.display='none'" name="date">
                        <option value="">DATE</option>
                        <option [value]="SB_DATE" *ngFor="let SB_DATE of this.ALL_FILTER_DATA?.DATE">{{ SB_DATE }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="footer_buttons">
                    <button type="button" class="btn btn-light"
                      (click)="resetFilter();filter_Popup.style.display='none'">RESET</button>
                  </div>
                </form>
                <i></i>
              </div>
            </div>
            <button class="upload-button btn btn-success" (click)="uploadNew()">
              <span class="add_icon"></span> ADD NEW
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="analytics" #epltable>
      <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" [ExpansionShowHide]="true"
        [items]="this.FILTER_VALUE_LIST_NEW?.items" [Expansionheader]="this.FILTER_VALUE_LIST_NEW?.Expansion_header"
        [Expansionitems]="this.FILTER_VALUE_LIST_NEW?.Expansion_Items"
        [ExpansionKeys]="this.FILTER_VALUE_LIST_NEW?.ExpansionKeys"
        [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass" [ExpansionTitle]="'Bill of Entry extra data'"
        [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" (ViewChanges)="viewpdf($event)" (EditChanges)="toEdit($event)"
        [eventId]="this.FILTER_VALUE_LIST_NEW?.eventId" (DeleteChanges)="handleDelete($event)">
      </custom-expansion-panel>
      <!-- <div *ngIf="!showInvoice" style="width: 100%" class="analytics_top">
        <div style="width: 100%;" class="row">
          <div class="" *ngIf="!showInvoice" id="container">
            <section class="middle_datatable">
              <div class="widget-body p-0 support table-wrapper">
               <table class="table table-hover">
                  <thead>
                    <tr class="table-tr">
                      <th scope="col" class="col-td-th-3"><span class="pl-3">DATE</span></th>
                      <th scope="col" class="col-td-th-3">PIPO NUMBER</th>
                      <th scope="col" class="col-td-th-3">CI NUMBER</th>
                      <th scope="col" class="col-td-th-3">BOE NUMBER</th>
                      <th scope="col" class="col-td-th-3">AD CODE</th>
                      <th scope="col" class="col-td-th-3">AD BILL NO</th>
                      <th scope="col" class="col-td-th-3">Beneficiary Name</th>
                      <th scope="col" class="col-td-th-3">IEC CODE</th>
                      <th scope="col" class="col-td-th-3">IEC NAME</th>
                      <th scope="col" class="col-td-th-3">ORIGIN</th>
                      <th scope="col" class="col-td-th-3">DISCHARGE PORT</th>
                      <th scope="col" class="col-td-th-3">CURRENCY</th>
                      <th scope="col" class="col-td-th-3">BOE AMOUNT</th>
                      <th scope="col" class="col-td-th-3">Balance AMOUNT</th>
                      <th scope="col" class="col-td-th-3">Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-tr" *ngFor="let data of this.FILTER_VALUE_LIST; let i = index"
                      [ngClass]="this.AprrovalPendingRejectService.truefalse(data['deleteflag']=='0') ||
                                        this.AprrovalPendingRejectService.truefalse(this.USER_DATA?.result?.Role_Type!='Approver')">
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{ data.boeDate }}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="boeDate" type="text" placeholder="BOE Date"
                            [(ngModel)]="data.boeDate">
                        </div>
                      </td>
                      <td class="col-td-th-3">{{ getPipoNumbers(data) }}</td>
                      <td class="col-td-th-3"> {{ data.commercialNumber }}</td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]" (click)="
                                                getInvoices(data, i) && getTransactions(data)">
                          {{ data.boeNumber }}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="boeNumber" type="text" placeholder="BOE Number"
                            [(ngModel)]="data.boeNumber">
                        </div>
                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{ data.adCode }}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="adCode" type="text" placeholder="AD Code"
                            [(ngModel)]="data.adCode">
                        </div>
                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{ data.adBillNo }}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="adBillNo" type="text" placeholder="AD Bill No"
                            [(ngModel)]="data.adBillNo">
                        </div>

                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.benneName}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="benneName" type="text" placeholder="Buyer Name"
                            [(ngModel)]="data.benneName">
                        </div>

                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.iecCode}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="iecCode" type="text" placeholder="IEC Code"
                            [(ngModel)]="data.iecCode">
                        </div>

                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.iecName}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="iecName" type="text" placeholder="IEC Name"
                            [(ngModel)]="data.iecName">
                        </div>
                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.origin }}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="origin" type="text" placeholder="Origin"
                            [(ngModel)]="data.origin">
                        </div>

                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.dischargePort}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="dischargePort" type="text"
                            placeholder="Destination" [(ngModel)]="data.dischargePort">
                        </div>
                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.currency}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="currency" type="text" placeholder="Currency"
                            [(ngModel)]="data.currency">
                        </div>
                      </td>
                      <td class="col-td-th-3">
                        <div *ngIf="!optionsVisibility[i]">
                          {{data.invoiceAmount}}
                        </div>
                        <div *ngIf="optionsVisibility[i]">
                          <input class="tblInput form-control" name="invoiceAmount" type="text"
                            placeholder="Invoice Amount" [(ngModel)]="data.invoiceAmount">
                        </div>
                      </td>
                      <td class="col-td-th-3"> {{ data.balanceAmount }}</td>
                      <td class="col-td-th-3">
                        <a title="view" class="PopupOpen" popup-close="VIEW_DOCUMENTS" (click)="viewpdf(data)"><i class="fa fa-eye PopupOpen" popup-close="VIEW_DOCUMENTS"
                          aria-hidden="true"></i></a>
                        <button title="Save" class="savBtn bgnone" *ngIf="optionsVisibility[i]"
                          (click)="toSave(data, i)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        <button title="Edit" class="savBtn bgnone" *ngIf="!optionsVisibility[i]" (click)="toEdit(i)"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button title="Edit" class="savBtn bgnone" *ngIf="!optionsVisibility[i]"
                          (click)="handleDelete(data._id,i)"><a title="Delete" href="javascript:void(0)"><i
                              class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div> -->

    </div>
  </main>
</div>

<app-custom-model [customstyle]="{'margin':'auto !important','margin-top': '32px !important'}" class="p-2" height="95vh"
  id="PDF_VIEW" name="Bill of Entry">
  <div class="p-2">
    <app-pdf-viewer *ngIf="viewData!=''" [downloadShow]="false" name="Bill of Entry" [src]="viewData" width="100%"
      height="500px"></app-pdf-viewer>
  </div>
</app-custom-model>

<app-custom-model *ngIf="this.SHIPPING_BILL_ALL_RELATED_DOCUMENTS.length!=0"
  [customstyle]="{'margin':'auto !important','margin-top': '32px !important'}" class="p-2" height="95vh"
  id="SHIPPING_BILL_ALL_RELATED_DOCUMENTS" [name]="'BOE Details : '+this.SHIPPING_BILL">
  <div class="d-flex" style="width: 120px;flex-direction: row;margin-left: 40px;margin-top: 10px;">
    <div class="col-12 d-flex p-2" *ngFor="let selItems of this.SHIPPING_BILL_ALL_RELATED_DOCUMENTS;let i=index">
      <input type="checkbox" [name]="selItems?.name" (change)="tickdoc($event,i)">
      <label for="">{{selItems?.name}}</label>
    </div>
    <button type="submit" class="btn btn-primary"
      (click)="download(this.SHIPPING_BILL_ALL_RELATED_DOCUMENTS,'zip')">Download Zips</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 20px;"
      (click)="download(this.SHIPPING_BILL_ALL_RELATED_DOCUMENTS,'merge')">Merge Pdf</button>
  </div>
  <div class="col-12 p-2" *ngFor="let selItems of this.SHIPPING_BILL_ALL_RELATED_DOCUMENTS">
    <app-pdf-viewer [downloadShow]="false" [name]="selItems?.name" [src]="selItems?.doc" width="100%"
      height="500px"></app-pdf-viewer>
  </div>
</app-custom-model>


<app-custom-model *ngIf="this.SELECTED_SHIPPING_VALUE!=''"
  [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
  EventButton="false" [customstyle]="{'max-width':'63vw !important'}" class="p-2 mt-2" id="EditSummaryPage"
  [name]="'Bill of Entry Update || Bill of Entry No. : '+this.SELECTED_SHIPPING_VALUE?.boeNumber" #EditSummaryPagePanel>
  <div class="ml-0 p-3 col-12">
    <div class="container-fluid m-auto p-0">
      <div class="content_white_background" style="height: auto;">
        <main id="content" class="table-padding" role="main" style="border-radius: 10px;">
          <div class="new_document_list1">
            <div class="d-flex col-12 p-0 pt-3" id="FromClientRequest" style="flex-direction: column;">
              <div class="row col-12 mt-0 p-0">
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">BOE DATE</label>
                    <ng-custom-input type="date" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.boeDate"
                      placeHolderText="BOE DATE"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Commercial Number</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.commercialNumber"
                      placeHolderText="Commercial Number"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">BOE Number</label>
                    <ng-custom-input type="date" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.boeNumber"
                      placeHolderText="BOE Number"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">benneName</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.benneName"
                      placeHolderText="benneName"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Currency</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.currency"
                      placeHolderText="currency"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Amount</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.invoiceAmount"
                      placeHolderText="Amount"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Balance Amount</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.balanceAmount"
                      placeHolderText="Balance Amount"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">adCode</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.adCode"
                      placeHolderText="adCode"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">adBillNo</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.adBillNo"
                      placeHolderText="adBillNo"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">iecCode</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.iecCode"
                      placeHolderText="iecCode"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">iecName</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.iecName"
                      placeHolderText="iecName"></ng-custom-input>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">origin</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.origin"
                      placeHolderText="origin"></ng-custom-input>
                  </div>
                </div>
                <div class="row col-12 p-0">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Discharge Port</label>
                    <ng-custom-input type="text" [(ngInput)]="this.SHIPPING_BILL_EDIT_FORM_DATA.dischargePort"
                      placeHolderText="Discharge Port"></ng-custom-input>
                  </div>
                </div>
              </div>
              <div class="row col-12 mt-0 p-0 pl-2 pb-2">
                <button class="btn btn-primary"
                  (click)="toSaveNew(this.SHIPPING_BILL_EDIT_FORM_DATA,this.SELECTED_SHIPPING_VALUE?._id,EditSummaryPagePanel)">Update</button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</app-custom-model>