<div class="content-wrap pb-2 scroll-bar-main master-upload-components">
    <main id="content" class="content table-padding" role="main">
        <mat-tab-group>
            <mat-tab label="Export" *ngIf="this.USER_DATA?.result?.sideMenu=='export'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success PopupOpen" popup-close="EXPORT_PIPO_UPLOAD"
                                    (click)="PipoUpload()"><i class="fa fa-upload PopupOpen"
                                        popup-close="EXPORT_PIPO_UPLOAD" aria-hidden="true"
                                        (click)="PipoUpload()"></i></button>
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel">
                        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="Shippingbill" id="export-shipping"><app-shipping-bill
                                    *ngIf="this.SELECTED_ID=='export-shipping'"></app-shipping-bill></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="export-CreditNoteDocument"><export-credit-note
                                    *ngIf="this.SELECTED_ID=='export-CreditNoteDocument'"></export-credit-note></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="export-DebitNoteDocument"><export-debit-note
                                    *ngIf="this.SELECTED_ID=='export-DebitNoteDocument'"></export-debit-note></mat-tab>
                            <mat-tab label="Insurancedocuments"
                                id="export-Insurancedocuments"><export-insurancedocuments
                                    *ngIf="this.SELECTED_ID=='export-Insurancedocuments'"></export-insurancedocuments></mat-tab>
                            <mat-tab label="LetterofCredit" id="export-LetterofCredit"><export-letterof-credit
                                    *ngIf="this.SELECTED_ID=='export-LetterofCredit'"></export-letterof-credit></mat-tab>
                            <mat-tab label="MasterServiceAgreements"
                                id="export-MasterServiceAgreements"><export-master-service-agreements
                                    *ngIf="this.SELECTED_ID=='export-MasterServiceAgreements'"></export-master-service-agreements></mat-tab>
                            <mat-tab label="TripartyAgreements"
                                id="export-TripartyAgreements"><export-triparty-agreements
                                    *ngIf="this.SELECTED_ID=='export-TripartyAgreements'"></export-triparty-agreements></mat-tab>
                            <mat-tab label="OpinionReports" id="export-OpinionReports"><export-opinion-reports
                                    *ngIf="this.SELECTED_ID=='export-OpinionReports'"></export-opinion-reports></mat-tab>
                            <mat-tab label="InwardRemittanceAdvice"
                                id="export-InwardRemittanceAdvice"><export-inward-remittance-advice
                                    *ngIf="this.SELECTED_ID=='export-InwardRemittanceAdvice'"></export-inward-remittance-advice></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="export-AirwayBlCopy"><export-airway-bl-copy
                                    *ngIf="this.SELECTED_ID=='export-AirwayBlCopy'"></export-airway-bl-copy></mat-tab>
                            <mat-tab label="BillOfExchanges" id="export-BillOfExchanges"><export-bill-of-exchanges
                                    *ngIf="this.SELECTED_ID=='export-BillOfExchanges'"></export-bill-of-exchanges></mat-tab>
                            <mat-tab label="DestructionCertificates"
                                id="export-DestructionCertificates"><export-destruction-certificates
                                    *ngIf="this.SELECTED_ID=='export-DestructionCertificates'"></export-destruction-certificates></mat-tab>
                            <mat-tab label="CommercialInvoices"
                                id="export-CommercialInvoices"><export-commercial-invoices
                                    *ngIf="this.SELECTED_ID=='export-CommercialInvoices'"></export-commercial-invoices></mat-tab>
                            <mat-tab label="PackingListInvoices"
                                id="export-PackingListInvoices"><export-packing-list-invoices
                                    *ngIf="this.SELECTED_ID=='export-PackingListInvoices'"></export-packing-list-invoices></mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Export Summary" *ngIf="this.USER_DATA?.result?.sideMenu=='export'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeSummaryAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel">
                        <mat-tab-group (selectedTabChange)="onSummaryTabChanged($event);">
                            <mat-tab label="Shippingbill" id="export-shipping"><app-shipping-bill
                                    *ngIf="this.SELECTED_ID=='export-shipping'"></app-shipping-bill></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="export-CreditNoteDocument"><export-credit-note
                                    *ngIf="this.SELECTED_ID=='export-CreditNoteDocument'"></export-credit-note></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="export-DebitNoteDocument"><export-debit-note
                                    *ngIf="this.SELECTED_ID=='export-DebitNoteDocument'"></export-debit-note></mat-tab>
                            <mat-tab label="Insurancedocuments"
                                id="export-Insurancedocuments"><export-insurancedocuments
                                    *ngIf="this.SELECTED_ID=='export-Insurancedocuments'"></export-insurancedocuments></mat-tab>
                            <mat-tab label="LetterofCredit" id="export-LetterofCredit"><export-letterof-credit
                                    *ngIf="this.SELECTED_ID=='export-LetterofCredit'"></export-letterof-credit></mat-tab>
                            <mat-tab label="MasterServiceAgreements"
                                id="export-MasterServiceAgreements"><export-master-service-agreements
                                    *ngIf="this.SELECTED_ID=='export-MasterServiceAgreements'"></export-master-service-agreements></mat-tab>
                            <mat-tab label="TripartyAgreements"
                                id="export-TripartyAgreements"><export-triparty-agreements
                                    *ngIf="this.SELECTED_ID=='export-TripartyAgreements'"></export-triparty-agreements></mat-tab>
                            <mat-tab label="OpinionReports" id="export-OpinionReports"><export-opinion-reports
                                    *ngIf="this.SELECTED_ID=='export-OpinionReports'"></export-opinion-reports></mat-tab>
                            <mat-tab label="InwardRemittanceAdvice"
                                id="export-InwardRemittanceAdvice"><export-inward-remittance-advice 
                                    *ngIf="this.SELECTED_ID=='export-InwardRemittanceAdvice'"></export-inward-remittance-advice></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="export-airway-blcopy-summary"><export-airway-blcopy-summary [PipoId]="this.validator.SELECTED_PIPO_ID"
                                    *ngIf="this.SELECTED_ID=='export-airway-blcopy-summary' && this.validator.SELECTED_PIPO_ID!=''"></export-airway-blcopy-summary></mat-tab>
                            <mat-tab label="BillOfExchanges" id="export-BillOfExchanges"><export-bill-of-exchanges
                                    *ngIf="this.SELECTED_ID=='export-BillOfExchanges'"></export-bill-of-exchanges></mat-tab>
                            <mat-tab label="DestructionCertificates"
                                id="export-DestructionCertificates"><export-destruction-certificates
                                    *ngIf="this.SELECTED_ID=='export-DestructionCertificates'"></export-destruction-certificates></mat-tab>
                            <mat-tab label="CommercialInvoices"
                                id="export-CommercialInvoices"><export-commercial-invoices
                                    *ngIf="this.SELECTED_ID=='export-CommercialInvoices'"></export-commercial-invoices></mat-tab>
                            <mat-tab label="PackingListInvoices"
                                id="export-PackingListInvoices"><export-packing-list-invoices
                                    *ngIf="this.SELECTED_ID=='export-PackingListInvoices'"></export-packing-list-invoices></mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Import" *ngIf="this.USER_DATA?.result?.sideMenu=='import'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success PopupOpen" popup-close="EXPORT_PIPO_UPLOAD"
                                    (click)="PipoUpload()"><i class="fa fa-upload PopupOpen"
                                        popup-close="EXPORT_PIPO_UPLOAD" aria-hidden="true"
                                        (click)="PipoUpload()"></i></button>
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel">
                        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="Bill Of Entry" id="Bill-Of-Entry"><app-boe-bill *ngIf="this.SELECTED_ID=='Bill-Of-Entry'"></app-boe-bill></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="import-CreditNoteDocument"><import-credit-note
                                    *ngIf="this.SELECTED_ID=='import-CreditNoteDocument'"></import-credit-note></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="import-DebitNoteDocument"><import-debit-note
                                    *ngIf="this.SELECTED_ID=='import-DebitNoteDocument'"></import-debit-note></mat-tab>
                            <mat-tab label="Insurancedocuments"
                                id="import-Insurancedocuments"><import-insurancedocuments
                                    *ngIf="this.SELECTED_ID=='import-Insurancedocuments'"></import-insurancedocuments></mat-tab>
                            <mat-tab label="LetterofCredit" id="import-LetterofCredit"><import-letterof-credit
                                    *ngIf="this.SELECTED_ID=='import-LetterofCredit'"></import-letterof-credit></mat-tab>
                            <mat-tab label="MasterServiceAgreements"
                                id="import-MasterServiceAgreements"><import-master-service-agreements
                                    *ngIf="this.SELECTED_ID=='import-MasterServiceAgreements'"></import-master-service-agreements></mat-tab>
                            <mat-tab label="TripartyAgreements"
                                id="import-TripartyAgreements"><import-triparty-agreements
                                    *ngIf="this.SELECTED_ID=='import-TripartyAgreements'"></import-triparty-agreements></mat-tab>
                            <mat-tab label="OpinionReports" id="import-OpinionReports"><import-opinion-reports
                                    *ngIf="this.SELECTED_ID=='import-OpinionReports'"></import-opinion-reports></mat-tab>
                            <mat-tab label="InwardRemittanceAdvice"
                                id="import-InwardRemittanceAdvice"><import-outward-remittance-advice
                                    *ngIf="this.SELECTED_ID=='import-InwardRemittanceAdvice'"></import-outward-remittance-advice></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="import-AirwayBlCopy"><import-airway-bl-copy
                                    *ngIf="this.SELECTED_ID=='import-AirwayBlCopy'"></import-airway-bl-copy></mat-tab>
                            <mat-tab label="BillOfExchanges" id="import-BillOfExchanges"><import-bill-of-exchanges
                                    *ngIf="this.SELECTED_ID=='import-BillOfExchanges'"></import-bill-of-exchanges></mat-tab>
                            <mat-tab label="DestructionCertificates"
                                id="import-DestructionCertificates"><import-destruction-certificates
                                    *ngIf="this.SELECTED_ID=='import-DestructionCertificates'"></import-destruction-certificates></mat-tab>
                            <mat-tab label="CommercialInvoices"
                                id="import-CommercialInvoices"><import-commercial-invoices
                                    *ngIf="this.SELECTED_ID=='import-CommercialInvoices'"></import-commercial-invoices></mat-tab>
                            <mat-tab label="PackingListInvoices"
                                id="import-PackingListInvoices"><import-packing-list-invoices
                                    *ngIf="this.SELECTED_ID=='import-PackingListInvoices'"></import-packing-list-invoices></mat-tab>
                        </mat-tab-group>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Import Summary" *ngIf="this.USER_DATA?.result?.sideMenu=='import'">
                <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                    <mat-tab label="Bill Of Entry" id="import-shipping"><app-boe-bill
                            *ngIf="this.SELECTED_ID=='import-shipping'"></app-boe-bill></mat-tab>
                    <mat-tab label="CreditNoteDocument" id="import-CreditNoteDocument"><import-credit-note
                            *ngIf="this.SELECTED_ID=='import-CreditNoteDocument'"></import-credit-note></mat-tab>
                    <mat-tab label="DebitNoteDocument" id="import-DebitNoteDocument"><import-debit-note
                            *ngIf="this.SELECTED_ID=='import-DebitNoteDocument'"></import-debit-note></mat-tab>
                    <mat-tab label="Insurancedocuments" id="import-Insurancedocuments"><import-insurancedocuments
                            *ngIf="this.SELECTED_ID=='import-Insurancedocuments'"></import-insurancedocuments></mat-tab>
                    <mat-tab label="LetterofCredit" id="import-LetterofCredit"><import-letterof-credit
                            *ngIf="this.SELECTED_ID=='import-LetterofCredit'"></import-letterof-credit></mat-tab>
                    <mat-tab label="MasterServiceAgreements"
                        id="import-MasterServiceAgreements"><import-master-service-agreements
                            *ngIf="this.SELECTED_ID=='import-MasterServiceAgreements'"></import-master-service-agreements></mat-tab>
                    <mat-tab label="TripartyAgreements" id="import-TripartyAgreements"><import-triparty-agreements
                            *ngIf="this.SELECTED_ID=='import-TripartyAgreements'"></import-triparty-agreements></mat-tab>
                    <mat-tab label="OpinionReports" id="import-OpinionReports"><import-opinion-reports
                            *ngIf="this.SELECTED_ID=='import-OpinionReports'"></import-opinion-reports></mat-tab>
                    <mat-tab label="InwardRemittanceAdvice"
                        id="import-InwardRemittanceAdvice"><import-outward-remittance-advice
                            *ngIf="this.SELECTED_ID=='import-InwardRemittanceAdvice'"></import-outward-remittance-advice></mat-tab>
                    <mat-tab label="AirwayBlCopy" id="import-AirwayBlCopy"><import-airway-bl-copy
                            *ngIf="this.SELECTED_ID=='import-AirwayBlCopy'"></import-airway-bl-copy></mat-tab>
                    <mat-tab label="BillOfExchanges" id="import-BillOfExchanges"><import-bill-of-exchanges
                            *ngIf="this.SELECTED_ID=='import-BillOfExchanges'"></import-bill-of-exchanges></mat-tab>
                    <mat-tab label="DestructionCertificates"
                        id="import-DestructionCertificates"><import-destruction-certificates
                            *ngIf="this.SELECTED_ID=='import-DestructionCertificates'"></import-destruction-certificates></mat-tab>
                    <mat-tab label="CommercialInvoices" id="import-CommercialInvoices"><import-commercial-invoices
                            *ngIf="this.SELECTED_ID=='import-CommercialInvoices'"></import-commercial-invoices></mat-tab>
                    <mat-tab label="PackingListInvoices" id="import-PackingListInvoices"><import-packing-list-invoices
                            *ngIf="this.SELECTED_ID=='import-PackingListInvoices'"></import-packing-list-invoices></mat-tab>
                </mat-tab-group>
            </mat-tab>
        </mat-tab-group>
    </main>
</div>

<app-custom-model [FooterButton]="false" [EventButton]="false"
    [customstyle]="{'margin':'10px auto auto !important','max-width': '95vw !important'}" class="p-2"
    id="EXPORT_PIPO_UPLOAD" name="Pipo Upload">
    <export-app-pipos></export-app-pipos>
</app-custom-model>

<app-custom-model [FooterButton]="false" [EventButton]="false"
    [customstyle]="{'margin':'10px auto auto !important','max-width': '95vw !important'}" class="p-2"
    id="IMPORT_PIPO_UPLOAD" name="Pipo Upload">
    <import-pipos></import-pipos>
</app-custom-model>