<div class="content-wrap pb-2 scroll-bar-main master-upload-components">
    <main id="content" class="content table-padding" role="main">
        <mat-tab-group (selectedTabChange)="onTabToggleChanged($event);">
            <mat-tab label="Export" *ngIf="this.USER_DATA?.result?.sideMenu=='export'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success PopupOpen" popup-close="EXPORT_PIPO_UPLOAD"
                                    (click)="PipoUpload()"><i class="fa fa-upload PopupOpen"
                                        popup-close="EXPORT_PIPO_UPLOAD" aria-hidden="true"
                                        (click)="PipoUpload()"></i></button>
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel" *ngIf="this.validator.SELECTED_PIPO_ID!=''">
                        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="Shippingbill" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="Insurancedocuments" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="LetterofCredit" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="MasterServiceAgreements" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="TripartyAgreements" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="OpinionReports" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="InwardRemittanceAdvice" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="BillOfExchanges" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="DestructionCertificates" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="CommercialInvoices" id="Upload" index="ExportUpload"></mat-tab>
                            <mat-tab label="PackingListInvoices" id="Upload" index="ExportUpload"></mat-tab>
                        </mat-tab-group>
                        <ng-container #UploadContainer></ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Export Summary" *ngIf="this.USER_DATA?.result?.sideMenu=='export'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeSummaryAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel" *ngIf="this.validator.SELECTED_PIPO_ID!=''">
                        <mat-tab-group (selectedTabChange)="onSummaryTabChanged($event);">
                            <mat-tab label="Shippingbill" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="Insurancedocuments" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="LetterofCredit" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="MasterServiceAgreements" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="TripartyAgreements" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="OpinionReports" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="InwardRemittanceAdvice" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="BillOfExchanges" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="DestructionCertificates" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="CommercialInvoices" id="Summary" index="ExportSummary"></mat-tab>
                            <mat-tab label="PackingListInvoices" id="Summary" index="ExportSummary"></mat-tab>
                        </mat-tab-group>
                        <ng-container #SummaryContainer></ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Import" *ngIf="this.USER_DATA?.result?.sideMenu=='import'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success PopupOpen" popup-close="EXPORT_PIPO_UPLOAD"
                                    (click)="PipoUpload()"><i class="fa fa-upload PopupOpen"
                                        popup-close="EXPORT_PIPO_UPLOAD" aria-hidden="true"
                                        (click)="PipoUpload()"></i></button>
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel" *ngIf="this.validator.SELECTED_PIPO_ID!=''">
                        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="Bill-of-Entry" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="Insurancedocuments" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="LetterofCredit" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="MasterServiceAgreements" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="TripartyAgreements" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="OpinionReports" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="OuwardRemittanceAdvice" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="BillOfExchanges" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="DestructionCertificates" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="CommercialInvoices" id="Upload" index="ImportUpload"></mat-tab>
                            <mat-tab label="PackingListInvoices" id="Upload" index="ImportUpload"></mat-tab>
                        </mat-tab-group>
                        <ng-container #UploadContainer></ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Import Summary" *ngIf="this.USER_DATA?.result?.sideMenu=='import'">
                <div class="master-upload-panel">
                    <div class="left-panel">
                        <div class="side-menu">
                            <p>Pipo List ({{this.PIPOLIST?.length}})
                                <button class="upload-button btn btn-success PopupOpen" popup-close="EXPORT_PIPO_UPLOAD"
                                    (click)="PipoUpload()"><i class="fa fa-upload PopupOpen"
                                        popup-close="EXPORT_PIPO_UPLOAD" aria-hidden="true"
                                        (click)="PipoUpload()"></i></button>
                                <button class="upload-button btn btn-success" (click)="reloadPipo()">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="reloadPipo()"></i></button>
                            </p>
                            <div class="over-panel-tag">
                                <h5 class="side-menu-h5" *ngFor="let item of this.PIPOLIST;let i=index"
                                    [ngClass]="{'Active-SideMenu':item?.isActive}"
                                    (click)="removeAllActive(i,item);item.isActive=true">
                                    {{item?.pi_poNo}}
                                    <!-- <span>{{item?.buyerName}}</span> -->
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel" *ngIf="this.validator.SELECTED_PIPO_ID!=''">
                        <mat-tab-group (selectedTabChange)="onSummaryTabChanged($event);">
                            <mat-tab label="Bill-of-Entry" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="CreditNoteDocument" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="DebitNoteDocument" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="Insurancedocuments" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="LetterofCredit" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="MasterServiceAgreements" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="TripartyAgreements" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="OpinionReports" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="OutwardRemittanceAdvice" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="AirwayBlCopy" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="BillOfExchanges" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="DestructionCertificates" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="CommercialInvoices" id="Summary" index="ImportSummary"></mat-tab>
                            <mat-tab label="PackingListInvoices" id="Summary" index="ImportSummary"></mat-tab>
                        </mat-tab-group>
                        <ng-container #SummaryContainer></ng-container>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </main>
</div>

<app-custom-model [FooterButton]="false" [EventButton]="false"
    [customstyle]="{'margin':'10px auto auto !important','max-width': '95vw !important'}" class="p-2"
    id="EXPORT_PIPO_UPLOAD" name="Pipo Upload">
    <export-app-pipos></export-app-pipos>
</app-custom-model>

<app-custom-model [FooterButton]="false" [EventButton]="false"
    [customstyle]="{'margin':'10px auto auto !important','max-width': '95vw !important'}" class="p-2"
    id="IMPORT_PIPO_UPLOAD" name="Pipo Upload">
    <import-pipos></import-pipos>
</app-custom-model>