<div class="content-wrap scroll-bar-main">
  <main id="content" class="content p-0" role="main"
    style="border-radius: 10px;box-shadow: 0px 0px 2px 2px #cdc9c9;background: white;">
    <div class="container-fluid p-0 m-0">
      <div class="col-12 p-0 m-0">
        <div class="col-12 m-0 p-0">
          <div class="header">
            <h2 class="col-12 border-2px p-0">Company {{TEXT_CHANGED}}</h2>
            <h6 class="col-12 p-0 h6">Give some information about your company</h6>
            <button style="position: absolute;
            right: 20px;
            top: 25px;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            font-size: 23px;" *ngIf="this.OPTION_CHANGED==false && this.userData?.role=='manager'" (click)="this.OPTION_CHANGED=true"><i
                class="fas fa-edit"></i></button>
          </div>
          <upload-components *ngIf="this.OPTION_CHANGED==false" FormStyle="display: grid; 
          grid-template-columns: repeat(2,1fr);" [KEY_ENTER_ENABLED]="false" style="width: 100%;"
            id="SHOW_COMPANY_INFO" [HIDE_SUBMIT_BUTTON]="false" [HIDE_BACKGROUND]="false" #uploadcomponents>
          </upload-components>
          <upload-components SubmitName="Update" *ngIf="this.OPTION_CHANGED==true"
            (SubmitEvent)="onSubmit(this.item._id,$event)" FormStyle="display: grid; 
          grid-template-columns: repeat(2,1fr);" (LETTER_HEADE_URL)="this.LETTER_HEADE_URL=$event"
            [KEY_ENTER_ENABLED]="false" style="width: 100%;" id="EDIT_COMPANY_INFO" #uploadcomponents>
            <button class="btn btn-primary" (click)="this.OPTION_CHANGED=false">Back</button>
          </upload-components>
        </div>
      </div>
    </div>
  </main>
  <upload-popup id="Starhousecertificate_Details" url="member/uploadImage" (event)="StarHouse($event)"></upload-popup>
  <!-- <div class="modal" tabindex="-1" #bank_details style="display: none;">
    <div class="col-5 m-auto d-flex" *ngIf="ID!=-1">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bank Details | {{item?.bankDetails[ID].bank}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="bank_details.style.display='none'"></button>
        </div>
        <div class="modal-body">
          <label class="bank">Bic Address</label>
          <span id="password1" type="" placeholder="Bic address" class="form-control rounded-pill password password1"
            style="text-transform: uppercase;">
            {{item?.bankDetails[ID].bicAddress}}</span>
          <label class="bank">Account Number</label>
          <span id="password1" type="" placeholder="Account number"
            class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].accNumber}}</span>
          <label class="bank">Account Type</label>
          <span id="password1" type="" placeholder="Account Type" class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].accType}}</span>
          <label class="bank">Currency Type</label>
          <span id="password1" type="" placeholder="currency" class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].currency}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="bank_details.style.display='none'">Close</button>
        </div>
      </div>
    </div>
  </div>

  <app-custom-model
    [customstyle]="{'margin':'auto !important','max-width': '65vw !important','margin-top': '50px !important'}"
    class="p-2" height="400px" id="Starhousecertificate_Details" name="Star house certificate">
    <div class="col-12">
      <div class="row" style="gap:20px">
        <div class="form-group">
          <label for="exampleInputEmail1">Certificate no</label>
          <input type="text" name="CertificateNo" disabled class="form-control"
            [value]="this.UPDATED_DETAILS?.Starhousecertificate_Details?.CertificateNo" style="border-radius: 5px;"
            aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Issues date</label>
          <input type="date" name="Issuesdate" disabled class="form-control"
            [value]="this.UPDATED_DETAILS?.Starhousecertificate_Details?.Issuesdate" style="border-radius: 5px;"
            aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Expiry Date</label>
          <input type="date" name="ExpiryDate" disabled class="form-control"
            [value]="this.UPDATED_DETAILS?.Starhousecertificate_Details?.ExpiryDate" style="border-radius: 5px;"
            aria-describedby="emailHelp">
        </div>
      </div>
      <div class="sb2" *ngIf="this.Starhousecertificate_Url!=''">
        <app-pdf-viewer [downloadShow]="false" name="Star house certificate" [src]="this.Starhousecertificate_Url"
          width="100%" height="500px"></app-pdf-viewer>
      </div>
    </div>
  </app-custom-model>

  <app-custom-model
    [customstyle]="{'margin':'auto !important','max-width': '65vw !important','margin-top': '50px !important'}"
    class="p-2" height="400px" id="For_Seal_PDF_VIEW" name="For Seal Documents">
    <div class="p-2">
      <img [src]="ForSealheadUrl" style="width: 500px;height: 500px;" alt="">
    </div>
  </app-custom-model>

  <app-custom-model
    [customstyle]="{'margin':'auto !important','max-width': '65vw !important','margin-top': '50px !important'}"
    class="p-2" height="400px" id="letterImageView" name="For Seal Documents">
    <div class="p-2">
      <img [src]="letterheadUrl" style="width: 500px;height: 500px;" alt="">
    </div>
  </app-custom-model> -->