<div class="content-wrap scroll-bar-main" style="position: absolute;left: 245px;margin: auto;margin-top: 0;">
  <main id="content" class="content p-0" role="main"
    style="border-radius: 10px;box-shadow: 0px 0px 2px 2px #cdc9c9;background: white;">
    <div class="container-fluid p-0 m-0">
      <div class="col-12 p-0 m-0">
        <div class="col-12 m-0 p-0">
          <div class="header">
            <h2 class="col-12 border-2px p-0">Company {{TEXT_CHANGED}}</h2>
            <h6 class="col-12 p-0 h6">Give us some of your information about your company</h6>
          </div>
          <div class="card">
            <div class="main-panel front col-12 p-0 m-0">
              <div class="col-12 p-0 m-0 grid-template">
                <div class="form-group">
                  <label for="exampleInputEmail1">Company Name</label>
                  <input type="text" [value]="this.item?.teamName" class="form-control" aria-describedby="emailHelp"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">*Importer exporter code (IEC)</label>
                  <input type="text" class="form-control" [value]="this.item?.iec" id="exampleInputPassword1" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Company Address</label>
                  <input type="text" class="form-control" [value]="this.item?.adress" aria-describedby="emailHelp"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contact Phone number</label>
                  <input type="text" class="form-control" [value]="this.item?.phone" id="exampleInputPassword1"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">CA email id
                    <h6 style="font-size: 12px;
                            color: gray;">Ex: CA email ID’s for submission of documents for documents like 15B,annual
                      statutory auditor certificate, write off etc.,</h6>
                  </label>
                  <input type="text" class="form-control" [value]="this.item?.caEmail" aria-describedby="emailHelp"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">CHA email id</label>
                  <input type="text" class="form-control" [value]="this.item?.chaEmail" id="exampleInputPassword1"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">*GSTIN</label>
                  <input type="text" class="form-control" [value]="this.item?.gst" aria-describedby="emailHelp"
                    disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Location</label>
                  <input type="text" *ngFor="let location of this.item?.location" class="form-control mb-2"
                    [value]="location?.loc" id="exampleInputPassword1" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Commodity</label>
                  <input type="text" *ngFor="let commodity of this.item?.commodity" class="form-control mb-2"
                    [value]="commodity?.como" aria-describedby="emailHelp" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Bank Details</label>
                  <div *ngFor="let course of item?.bankDetails; let i = index" class="mb-2">
                    <div class="bankClass">
                      <div class="column">
                        <label class="bank">*Bank Name | Account Number</label>
                        <span id="password1" type="" placeholder="bank name"
                          class="form-control rounded-pill password password1">
                          {{course.bank}} | {{course.accNumber}}</span>
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="bank_details.style.display='flex';view_bank_details(i)">View</button>
                   </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Letter Head</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius: 5px;"
                    aria-describedby="emailHelp" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Round Seal</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius: 5px;"
                    id="exampleInputPassword1" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">For Seal</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius: 5px;"
                    id="exampleInputPassword1" disabled>
                </div>
                <div class="form-group" style="display: flex;align-items: end;">
                  <button type="submit" class="btn btn-primary" (click)="Edit('.front','.back')" [style]="this.userData?.role!='manager'? ' pointer-events: none;' : ' pointer-events: auto;' ">Edit</button>
                  <button type="submit" class="btn btn-primary" [routerLink]="['/home/dashboardTask']">Back</button>
                </div>
              </div>
            </div>
            <div class="back col-12 p-0 m-0">
              <div class="col-12 p-0 m-0 grid-template">
                <div class="form-group">
                  <label for="exampleInputEmail1">Company Name</label>
                  <input type="text" (keyup)="add_Form_value('teamName',$event.target.value)"
                    [value]="this.UPDATED_DETAILS?.teamName" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">*Importer exporter code (IEC)</label>
                  <input type="text" pattern="^[a-zA-Z0-9 _]{10}$" (keyup)="add_Form_value('iec',$event.target.value)" class="form-control"
                    [value]="this.UPDATED_DETAILS?.iec" maxlength="10" #iec>
                    <span [style]="iec.value.length<10 ? 'display:block' : 'display:none'" class="invalid-feedback">ICE should contains only 10 numbers</span>
                    <!-- <div *ngIf="iec.value.length<10" [style]="iec.value.length<10 ? 'display:block' : 'display:none'" class="invalid-feedback">ICE should contains only 10 numbers</div>
                    <div *ngIf="iec.pattern"  [style]="iec.pattern ? 'display:block' : 'display:none'" class="invalid-feedback">IEC should be numerics with 10 letters EX: 12121ABVEW</div> -->
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Company Address</label>
                  <input type="text" (keyup)="add_Form_value('adress',$event.target.value)" class="form-control"
                    [value]="this.UPDATED_DETAILS?.adress" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contact Phone number</label>
                  <input type="text" pattern="[1-9]{1}[0-9]{9}" maxlength="10" (keyup)="add_Form_value('phone',$event.target.value)" class="form-control"
                  appPhoneValidator [value]="this.UPDATED_DETAILS?.phone" placeholder="Ex: +91 95023 23352" id="exampleInputPassword1" #phone>
                    <span class="invalid-feedback" *ngIf="phone.value.length<10" [style]="phone.value.length<10 ? 'display:block' : 'display:none'">
                      Phone number must be 10 digits
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">CA email id
                    <h6 style="font-size: 12px;
                            color: gray;">Ex: CA email ID’s for submission of documents for documents like 15B,annual
                      statutory auditor certificate, write off etc.,</h6>
                  </label>
                  <input type="text" (keyup)="add_Form_value('caEmail',$event.target.value)" class="form-control"
                    [value]="this.UPDATED_DETAILS?.caEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">CHA email id</label>
                  <input type="text" (keyup)="add_Form_value('chaEmail',$event.target.value)" class="form-control"
                    [value]="this.UPDATED_DETAILS?.chaEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required id="exampleInputPassword1">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">*GSTIN</label>
                  <input type="text" (keyup)="add_Form_value('gst',$event.target.value)" class="form-control"
                    [value]="this.UPDATED_DETAILS?.gst" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Location</label>
                  <div class="row col-12 grid-template-1 p-0 mb-3"
                    *ngFor="let location of this.UPDATED_DETAILS?.location;let i=index">
                    <input type="text" (keyup)="add_ArrayForm_value('location',i,'loc',$event.target.value)"
                      class="form-control col-12" [value]="location?.loc" id="exampleInputPassword1">
                    <button type="submit" *ngIf="(i)!=0 && location?.loc==''" class="btn danger-primary remove-btn"
                      style="background-color: #fd5f00;" (click)="remove_location(i)"><span>&#215;</span></button>
                    <button type="submit" *ngIf="(i+1)==this.UPDATED_DETAILS?.location.length"
                      class="btn btn-primary remove-btn" (click)="add_location()"><span>&#43;</span></button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Commodity</label>
                  <div class="row col-12 grid-template-2 p-0 mb-3"
                    *ngFor="let comm of this.UPDATED_DETAILS?.commodity;let i=index">
                    <input type="text" (keyup)="add_ArrayForm_value('commodity',i,'como',$event.target.value)"
                      class="form-control col-12" [value]="comm?.como" aria-describedby="emailHelp">
                    <button type="submit" *ngIf="(i)!=0 && comm?.como==''" class="btn danger-primary remove-btn"
                      style="background-color: #fd5f00;" (click)="remove_commodity(i)"><span>&#215;</span></button>
                    <button type="submit" *ngIf="(i+1)==this.UPDATED_DETAILS?.commodity.length"
                      class="btn btn-primary remove-btn" (click)="add_commodity()"><span>&#43;</span></button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Bank Details</label>
                  <div class="column bankClass1">
                    <div class="column bank-details"
                      *ngFor="let course of this.UPDATED_DETAILS?.bankDetails; let i = index">
                      <div class="row bank-header p-1 m-auto">
                        <h4>Bank Details_{{i+1}}</h4>
                        <div class="row mr-2">
                          <button type="submit" *ngIf="(i)!=0 && course?.bank==''" class="btn danger-primary remove-btn mr-2"
                            style="background-color: #fd5f00;"
                            (click)="remove_more_Bank(i)"><span>&#215;</span></button>
                          <button type="submit" *ngIf="(i+1)==this.UPDATED_DETAILS?.bankDetails.length"
                            class="btn btn-primary remove-btn mr-2"
                            (click)="add_more_Bank()"><span>&#43;</span></button>
                        </div>
                      </div>
                      <div class="column">
                        <label class="bank">*Bank Name</label>
                        <input type="text" (keyup)="add_ArrayForm_value('bankDetails',i,'bank',$event.target.value)"
                          placeholder="bank name" [value]="course?.bank"
                          class="form-control rounded-pill password password1">
                        <label class="bank">*Account Number</label>
                        <input type="text"
                          (keyup)="add_ArrayForm_value('bankDetails',i,'accNumber',$event.target.value)"
                          placeholder="Amount Number" [value]="course?.accNumber"
                          class="form-control rounded-pill password password1">
                        <label class="bank">Bic Address</label>
                        <input type="text"
                          (keyup)="add_ArrayForm_value('bankDetails',i,'bicAddress',$event.target.value)"
                          [value]="course?.bicAddress" placeholder="Bic address"
                          class="form-control rounded-pill password password1" style="text-transform: uppercase;">
                        <label class="bank">Account Type</label>
                        <ng-select *ngIf="this.Account_Type?.length!=0"
                          [items]="this.Account_Type"
                          bindLabel="type"
                          [multiple]="false"
                          placeholder="Select AccType"
                          name="accType"
                          [ngModel]="course?.accType"
                          (change)="add_ArrayForm_value('bankDetails',i,'accType',$event.type)"></ng-select>
                        <label class="bank">Currency Type</label>
                        <ng-select *ngIf="this.CURRENCY_LIST?.length!=0"
                          [items]="this.CURRENCY_LIST"
                          bindLabel="type"
                          [multiple]="false"
                          placeholder="Select Currency"
                          name="currency"
                          [ngModel]="course?.currency"
                          (change)="add_ArrayForm_value('bankDetails',i,'currency',$event.type)"></ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Letter Head</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius: 5px;"
                    aria-describedby="emailHelp" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Round Seal</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius: 5px;" disabled>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">For Seal</label>
                  <input type="text" class="form-control" style="height: 150px;border-radius:5px;" disabled>
                </div>
                <div class="form-group" style="display: flex;align-items: end;">
                  <button type="submit" class="btn btn-primary" (click)="onSubmit(this.item._id)">Update</button>
                  <button type="submit" class="btn btn-primary" [routerLink]="['/home/dashboardTask']">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="modal" tabindex="-1" #bank_details style="display: none;">
    <div class="col-5 m-auto d-flex" *ngIf="ID!=-1">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bank Details | {{item?.bankDetails[ID].bank}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="bank_details.style.display='none'"><span>&#215;</span></button>
        </div>
        <div class="modal-body">
          <label class="bank">Bic Address</label>
          <span id="password1" type="" placeholder="Bic address" class="form-control rounded-pill password password1"
            style="text-transform: uppercase;">
            {{item?.bankDetails[ID].bicAddress}}</span>
          <label class="bank">Account Number</label>
          <span id="password1" type="" placeholder="Account number" class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].accNumber}}</span>
          <label class="bank">Account Type</label>
          <span id="password1" type="" placeholder="Account Type" class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].accType}}</span>
          <label class="bank">Currency Type</label>
          <span id="password1" type="" placeholder="currency" class="form-control rounded-pill password password1">
            {{item?.bankDetails[ID].currency}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="bank_details.style.display='none'">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
