<div class="col-12 pt-2 Invoice">
    <label for="" class="col-12 Invoice-label">Outward Remittance (A2)</label>
    <custom-mat-stepper>
        <custom-mat-step MATSTEP_LABEL="Outward Remittance (A2) Transaction"
            errorMessage="Please select Inward Remittance" [NextTrue]="true">

        </custom-mat-step>
        <custom-mat-step MATSTEP_LABEL="Generate 15 CA" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">

        </custom-mat-step>
        <custom-mat-step MATSTEP_LABEL="Request for 15 CB" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">

        </custom-mat-step>
        <custom-mat-step MATSTEP_LABEL="15 CA Generate Summary" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">

        </custom-mat-step>
        <custom-mat-step MATSTEP_LABEL="15 CB Request Summary" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">

        </custom-mat-step>
    </custom-mat-stepper>
</div>

<div class="PREVIEW_PAGE" tabindex="-1" #PREVIEW_PAGE style="display: none;background-color: #00000030;">
    <div class="col-12">
        <app-custom-model [customstyle]="{'max-width':'60vw !important'}" class="p-2" height="98vh" id="PREVIEWS"
            name="Document View">
            <div class="col-12 mt-2 mb-2" *ngIf="this.PREVIEWS_URL_STRING!=''">
                <app-pdf-viewer [downloadShow]="false" [src]="this.PREVIEWS_URL_STRING" name="Documents" width="100%"
                    height="100%"></app-pdf-viewer>
            </div>
            <div class="modal-footer">
                <div style="display:flex;" class="mt-3">
                    <button type="button" class="btn btn-primary" (click)="SendApproval(this.GetDownloadStatus?.status,
                     sumTotalAmount!=0?'Advance-Remittance-flow-A2'+(this.REMIITANCE_SUM-1) :null);">Send for
                        Approval</button>
                </div>
            </div>
        </app-custom-model>
    </div>
</div>

<app-custom-model [customstyle]="{'max-width':'99vw !important'}" class="p-2" height="98vh" id="A2_DATA"
    name="Purpose Code Selection" #A2_DATA_PANEL>
    <div class="p-2">
        <div class="row p-2 col-12">
            <div class="d-flex col-12" style="height:80vh;flex-direction: column;gap: 20px;">
                <div class="header-dropdown d-flex" style="gap: 10px;">
                    <app-ng-dropdown-custom style="width: 300px;margin-left: 20px;"
                        placeHolderText="Search Purpose Code" [items]="this.PURPOSE_CODE_LIST_DATA" bindLabel="value"
                        (modelChanges)="filterData($event?.value)">
                    </app-ng-dropdown-custom>
                </div>
                <div class="row col-12 mt-0">
                    <div class="col-12 table-custom">
                        <div class="thead-card">
                            <label for="" class="label-text">RBI Purpose Code</label>
                            <div class="colspan">
                                <label for="" class="label-text">Purpose</label>
                                <label for="" class="label-text">Description</label>
                            </div>
                        </div>
                        <div class="tbody-card" *ngFor="let item of this.PURPOSE_CODE_FILTER_DATA;let j=index">
                            <p class="p-border groupname-text">{{item?.RBI_Purpose_Code}}</p>
                            <div class="colspanitem">
                                <div class="colspan card-layout" [ngClass]="{'isActive':item.isActive==true}"
                                    (click)="SELECT_PURPOSE_CODE(item?.RBI_Purpose_Code,j);">
                                    <p class="p-text"><span
                                            *ngFor="let colspanitem of item?.Purpose">{{colspanitem}}</span></p>
                                    <p class="text-left" *ngIf="sumTotalAmount < 25000">
                                        <span
                                            *ngFor="let colspanitem of item?.Value_greater_25000_equv">{{colspanitem}}</span>
                                    </p>
                                    <p class="text-left" *ngIf="sumTotalAmount!= 0 && sumTotalAmount > 25000">
                                        <span
                                            *ngFor="let colspanitem of item?.Value_less_25000_equv">{{colspanitem}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <custom-model-header>
        <button type="button" class="btn btn-primary"
            [disabled]="this.SELECTED_PURPOSE_CODE_DUMP_SLEECTION?.length!=0?false:true"
            (click)="addA2_DATA();A2_DATA_PANEL?.displayHidden">Done</button>
    </custom-model-header>
</app-custom-model>

<div class="PREVIEW_PAGE" tabindex="-1" #boedropdown style="display: none;background-color: #00000030;">
    <div class="col-12" *ngIf="this.ALL_DROPDOWN_VALUE_LIST.BOE_PIPO=='Select BOE'">
        <app-custom-model [FooterButton]="true" EventButton="false"
            [modalbodystyle]="{'max-height':'calc(100vh - 120px) !important'}"
            [customstyle]="{'max-width':'100vw !important'}" [buttondisabled]="this.ITEM_FILL_PDF.length!=0?false:true"
            class="p-2" height="98vh" id="boedropdown" name="BOE Selection Modal">
            <div class="p-2" style="position: relative;">
                <div class="row p-2 modal-bg">
                    <div class="header-dropdown d-flex" style="gap: 10px;">
                        <app-ng-dropdown-custom placeHolderText="Select Party Name" [items]="this.ORM_BY_PARTY_NAME"
                            bindLabel="partyName" [multiple]="false" (modelChanges)="filterData($event?.partyName)"
                            #partyname>
                        </app-ng-dropdown-custom>
                    </div>
                    <div class="d-flex" style="height: 76vh;">
                        <table class="table">
                            <thead>
                                <tr class="table-tr">
                                    <th scope="col" class="col-td-th-1">#</th>
                                    <th scope="col" class="col-td-th-1">#</th>
                                    <th scope="col" class="col-td-th-2">BOE Date</th>
                                    <th scope="col" class="col-td-th-3">BOE No.</th>
                                    <th scope="col" class="col-td-th-2">Beneficiary Name</th>
                                    <th scope="col" class="col-td-th-3">CURRENCY</th>
                                    <th scope="col" class="col-td-th-3">BOE AMOUNT</th>
                                    <th scope="col" class="col-td-th-3">BOE Balance Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="table-type" *ngFor="let item of this.PIPO_LIST['data'];let i=index"
                                    [ngClass]="{'table-active':item.isExpand==true}">
                                    <tr class="table-tr added-active" title="click here see more details">
                                        <td title="ORM Data Showing and Hide" scope="col" class="col-td-th-1"
                                            (click)="item.isExpand=!item.isExpand;">
                                            <span *ngIf="item.isExpand==true" class="fa fa-chevron-up"></span>
                                            <span *ngIf="item.isExpand==false" class="fa fa-chevron-down"></span>
                                        </td>
                                        <td scope="col" class="col-td-th-1">
                                            <input type="checkbox" (change)="SELECT_PURPOSE_CODE($event,i);" />
                                        </td>
                                        <td scope="col" class="col-td-th-2">
                                            {{item?.boeDate}}</td>
                                        <td scope="col" class="col-td-th-3">
                                            {{item?.boeNumber}}</td>
                                        <td scope="col" class="col-td-th-2">
                                            {{item?.benneName[0]}}</td>
                                        <td scope="col" class="col-td-th-3">{{item?.currency}}
                                        </td>
                                        <td scope="col" class="col-td-th-3">{{item?.invoiceAmount}}
                                        </td>
                                        <td scope="col" class="col-td-th-3">{{item?.balanceAmount}}
                                        </td>
                                    </tr>
                                    <tr class="table-tr table-tr-1 tr-box-shadow"
                                        [ngClass]="{'Table-Show':item.isExpand==true,'Table-Hide':item.isExpand==false}">
                                        <td colspan="4" style="width: 100%;border: none;">
                                            <div class="header">
                                                <h5>CI Against to this BOE No. : {{item?.boeNumber}}
                                                </h5>
                                            </div>
                                            <div class="center-panel">
                                                <table class="table table-style">
                                                    <thead>
                                                        <tr class="table-tr">
                                                            <th scope="col" class="col-td-th-1">#</th>
                                                            <th scope="col" class="col-td-th-2">CI Date</th>
                                                            <th scope="col" class="col-td-th-3">CI No.</th>
                                                            <th scope="col" class="col-td-th-2">Beneficiary Name</th>
                                                            <th scope="col" class="col-td-th-3">CURRENCY</th>
                                                            <th scope="col" class="col-td-th-3">CI AMOUNT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="table-tr added-active"
                                                            title="click here see more details">
                                                            <td title="ORM Data Showing and Hide" scope="col"
                                                                class="col-td-th-1"
                                                                (click)="item.CI_EXPAND=!item.CI_EXPAND;">
                                                                <span *ngIf="item.CI_EXPAND==true"
                                                                    class="fa fa-chevron-up"></span>
                                                                <span *ngIf="item.CI_EXPAND==false"
                                                                    class="fa fa-chevron-down"></span>
                                                            </td>
                                                            <td scope="col" class="col-td-th-2">
                                                                {{item?.CI_DETAILS?.commercialDate}}</td>
                                                            <td scope="col" class="col-td-th-3">
                                                                {{item?.CI_DETAILS?.commercialNumber}}</td>
                                                            <td scope="col" class="col-td-th-2">
                                                                {{item?.CI_DETAILS?.buyerName[0]}}</td>
                                                            <td scope="col" class="col-td-th-3">
                                                                {{item?.CI_DETAILS?.currency}}
                                                            </td>
                                                            <td scope="col" class="col-td-th-3">
                                                                {{item?.CI_DETAILS?.amount}}
                                                            </td>
                                                        </tr>
                                                        <tr class="table-tr table-tr-2 tr-box-shadow"
                                                            [ngClass]="{'Table-Show':item.CI_EXPAND==true,'Table-Hide':item.CI_EXPAND==false}">
                                                            <td colspan="4" style="width: 100%;border: none;">
                                                                <div class="header">
                                                                    <h5>ORM Advice Against to this CI No. :
                                                                        {{item?.CI_DETAILS?.commercialNumber}}
                                                                    </h5>
                                                                </div>
                                                                <div class="center-panel">
                                                                    <table class="table table-style">
                                                                        <thead>
                                                                            <tr class="table-tr">
                                                                                <th class="col-td-th-2">Bill No.</th>
                                                                                <th class="col-td-th-2">Beneficiary Name
                                                                                </th>
                                                                                <th class="col-td-th-2">Currency</th>
                                                                                <th class="col-td-th-2">Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="table-tr">
                                                                                <td class="col-td-th-2">{{
                                                                                    item?.CI_DETAILS?.AdvanceNo }}</td>
                                                                                <td class="col-td-th-2">{{
                                                                                    item?.CI_DETAILS?.buyerName}}</td>
                                                                                <td class="col-td-th-2">{{
                                                                                    item?.CI_DETAILS?.AdvanceCurrency}}
                                                                                </td>
                                                                                <td class="col-td-th-2">{{
                                                                                    item?.CI_DETAILS?.AdvanceAmount }}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-custom-model>
    </div>
</div>

<app-custom-model [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="98vh" id="CA_DATA"
    name="CA SELECTION" #CA_DATA_PANEL>
    <div class="p-2" style="position: relative;">
        <div class="row p-2 modal-bg">
            <div class="d-flex" style="height: 83vh;">
                <div class="row mt-0 p-2">
                    <table class="table AcceptReject">
                        <thead>
                            <tr class="table-tr pr-3">
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-2">Supplier Name</th>
                                <th scope="col" class="col-td-th-3">LC No/BOE No</th>
                                <th scope="col" class="col-td-th-2">LC/BOE Amount</th>
                                <th scope="col" class="col-td-th-3">Currency</th>
                                <th scope="col" class="col-td-th-3">Tenor</th>
                                <th scope="col" class="col-td-th-3">Lending Bank Name and Swift code
                                </th>
                                <th scope="col" class="col-td-th-3">Term SOFR</th>
                                <th scope="col" class="col-td-th-3">ROI (Spread)</th>
                                <th scope="col" class="col-td-th-3">Arrangement Fee</th>
                                <th scope="col" class="col-td-th-3">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-tr tr-box-shadow mt-2 pr-3"
                                *ngFor="let item of this.CA_CERTIFICATE_DATA;let i=index">
                                <td scope="col" class="col-td-th-1">{{(i+1)}}</td>
                                <td scope="col" class="col-td-th-1">
                                    <p class="mb-0"><input type="checkbox" [checked]="this.CA_SELECTION_INDEX[i]"
                                            (click)="CA_SELECTION($event,i)" /></p>
                                </td>
                                <td scope="col" class="col-td-th-2">{{item?.SupplierName}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.LCNoBOENo}}</td>
                                <td scope="col" class="col-td-th-2">{{item?.LCBOEAmount}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.Currency}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.Tenor}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.LendingBankNameandSwiftcode}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.TermSOFR}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.ROISpread}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.ArrangementFee}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="    position: fixed;
        bottom: 40px;right: 20px;">
            <div style="display:flex;" class="mt-3">
                <button type="button" class="btn btn-primary"
                    (click)="addCA();CA_DATA_PANEL?.displayHidden">Done</button>
            </div>
        </div>
    </div>
</app-custom-model>


<app-custom-model [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="98vh" id="CB_DATA"
    name="CB SELECTION" #CB_DATA_PANEL>
    <div class="p-2" style="position: relative;">
        <div class="row p-2 modal-bg">
            <div class="d-flex" style="height: 83vh;">
                <div class="row mt-0 p-2">
                    <table class="table AcceptReject">
                        <thead>
                            <tr class="table-tr pr-3">
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-2">Supplier Name</th>
                                <th scope="col" class="col-td-th-3">LC No/BOE No</th>
                                <th scope="col" class="col-td-th-2">LC/BOE Amount</th>
                                <th scope="col" class="col-td-th-3">Currency</th>
                                <th scope="col" class="col-td-th-3">Tenor</th>
                                <th scope="col" class="col-td-th-3">Lending Bank Name and Swift code
                                </th>
                                <th scope="col" class="col-td-th-3">Term SOFR</th>
                                <th scope="col" class="col-td-th-3">ROI (Spread)</th>
                                <th scope="col" class="col-td-th-3">Arrangement Fee</th>
                                <th scope="col" class="col-td-th-3">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-tr tr-box-shadow mt-2 pr-3"
                                *ngFor="let item of this.CA_CERTIFICATE_DATA;let i=index">
                                <td scope="col" class="col-td-th-1">{{(i+1)}}</td>
                                <td scope="col" class="col-td-th-1">
                                    <p class="mb-0"><input type="checkbox" [checked]="this.CB_SELECTION_INDEX[i]"
                                            (click)="CB_SELECTION($event,i)" /></p>
                                </td>
                                <td scope="col" class="col-td-th-2">{{item?.SupplierName}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.LCNoBOENo}}</td>
                                <td scope="col" class="col-td-th-2">{{item?.LCBOEAmount}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.Currency}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.Tenor}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.LendingBankNameandSwiftcode}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.TermSOFR}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.ROISpread}}</td>
                                <td scope="col" class="col-td-th-3">{{item?.ArrangementFee}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="    position: fixed;
        bottom: 40px;right: 20px;">
            <div style="display:flex;" class="mt-3">
                <button type="button" class="btn btn-primary"
                    (click)="addCB();CB_DATA_PANEL?.displayHidden">Done</button>
            </div>
        </div>
    </div>
</app-custom-model>

<app-custom-model [modalbodystyle]="{'max-height':'calc(100vh - 120px) !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="98vh" id="CA_FORM" name="CA Form Filling">
    <div class="p-2">
        <div class="p-2 modal-bg">
            <app-pdf-viewer [allbtnhide]="false" width="100%"
                src="https://eportal.incometax.gov.in/iec/foservices/#/login"></app-pdf-viewer>
        </div>
    </div>
</app-custom-model>

<app-custom-model [customstyle]="{'max-width':'90vw !important'}" class="p-2" height="75vh" id="HS_CODE_POPUP"
    [minimizedisabled]="false" modalbodyheight="70vh" name="Select HS Code View" #HS_CODE_POPUP_PANEL>
    <div class="col-12 mt-2 mb-2">
        <ng-input [item]="{value:'',type:'text',placeHolderText:'Search Description or HS Code',label:''}"
            (event)="filterHSCode($event)"></ng-input>
        <table class="table">
            <thead>
                <tr class="table-tr pr-3">
                    <th scope="col" class="col-td-th-1">#</th>
                    <th scope="col" class="col-td-th-1">Section</th>
                    <th scope="col" class="col-td-th-1">HS Code</th>
                    <th scope="col" class="col-td-th-3" [style.width]="'430px'">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-tr mt-2 pr-3" *ngFor="let item of this.FILTER_HS_CODE_DATA;let i=index">
                    <td scope="col" class="col-td-th-1"><input type="checkbox" (change)="ToHSCode($event,item,i)"></td>
                    <td scope="col" class="col-td-th-1">{{item?.section}}</td>
                    <td scope="col" class="col-td-th-1">{{item?.hscode}}</td>
                    <td scope="col" class="col-td-th-3" [style.width]="'430px'">{{item?.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer" style="position: fixed;bottom: -30px;right: 20px;">
        <div style="display:flex;" class="mt-3">
            <button type="button" class="btn btn-primary"
                (click)="DoneButton();HS_CODE_POPUP_PANEL?.displayHidden">Done</button>
        </div>
    </div>
</app-custom-model>

<app-custom-model [customstyle]="{'max-width':'690vw !important'}" class="p-2" height="75vh" id="FORWARD_CONTRACT"
    [minimizedisabled]="false" modalbodyheight="70vh" name="Select FORWARD CONTRACT View" #FORWARD_CONTRACTPANEL>
    <div class="col-12 mt-2 mb-2">
        <table class="table">
            <thead>
                <tr class="table-tr pr-3">
                    <th scope="col" class="col-td-th-1">#</th>
                    <th scope="col" class="col-td-th-2">Forward Ref No</th>
                    <th scope="col" class="col-td-th-3">Booking Date</th>
                    <th scope="col" class="col-td-th-2">Forward Contract Amount</th>
                    <th scope="col" class="col-td-th-3">Due Date</th>
                    <th scope="col" class="col-td-th-3">Amount to be utilised</th>
                    <th scope="col" class="col-td-th-3">Exchange rate as per FWC</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-tr mt-2 pr-3" *ngFor="let item of this.ForwardContractDATA;let i=index">
                    <td scope="col" class="col-td-th-1"><input type="checkbox"
                            (change)="ToForwardContract($event,item,i)"></td>
                    <td scope="col" class="col-td-th-2">{{item?.ForwardRefNo}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.BookingDate}}</td>
                    <td scope="col" class="col-td-th-2">{{item?.BookingAmount}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.ToDate}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.AvailableAmount}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.NetRate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer" style="position: fixed;bottom: -30px;right: 20px;">
        <div style="display:flex;" class="mt-3">
            <button type="button" class="btn btn-primary"
                (click)="DoneButton();FORWARD_CONTRACTPANEL?.displayHidden">Done</button>
        </div>
    </div>
</app-custom-model>