<div *ngIf="!toggle" class="card login-form" style="height: 530px !important; margin-bottom: 60px;" >
	<div class="card-body card-content">
		<img height="60px" width="180px" style="margin-left: 30%;" src="../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png" class="card-title text-center">
		<p class="enter">Enter new password </p>
		<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <label class="lable lable1 " for="">Enter your new Password</label> <br>
            <input formControlName="password1" class="input-mail input1" placeholder="Enter a new password" type="password">
            <br>
            <label class="lable lable1" for="">Confirm your new Password</label> <br>
            <input formControlName="password2" class="input-mail input2" placeholder="Confirm new password" type="password">
            <br>
            <button type="submit" class="button">Reset my password</button>
        </form>
	</div>
</div>

<div *ngIf="toggle" class="card login-form" style="margin-bottom: 60px !important;"> 
	<div class="card-body card-content">
		<img height="60px" width="180px" style="margin-left: 30%;" src="../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png" class="card-title text-center">
		<img height="65px" width="65px" style="margin-left: 42%;" src="../../assets/Checkmark.png" class="check">
        <p class="success">Successful password reset!</p>
        <p class="subheading">You can now use your new password to login to <br>
            your account</p>

        <div style="text-align: center;">
            <button class="button1" [routerLink]="['/login']" >Login</button>
        </div>
	</div>
</div> 