<div class="content-wrap ml-0 scroll-bar-main content_white_background">
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr class="table-tr">
          <th scope="col" class="col-td-th-1">#</th>
          <th scope="col" class="col-td-th-2">Id</th>
          <th scope="col" class="col-td-th-2">Summary Page Name</th>
          <th scope="col" class="col-td-th-2">Date</th>
          <th scope="col" class="col-td-th-1">Status</th>
          <th scope="col" class="col-td-th-2" [style.width]="300+'px'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-tr" *ngFor="let item of this.DATA_CREATE let i=index">
          <td class="col-td-th-1">{{i+1}}</td>
          <td class="col-td-th-2">{{item?.UniqueId}}</td>
          <td class="col-td-th-2">{{item['tableName']}}</td>
          <td class="col-td-th-2">{{item['createdAt']}}</td>
          <td class="col-td-th-1">
            <label *ngIf="item['deleteflag']=='2'">Approved</label>
          </td>
          <td class="col-td-th-2" [style.width]="300+'px'">
            <div class="column flex-display">
              <button type="submit" class="btn btn-primary"
                (click)="detailsView(i,ApprovalDetails.style.display='block')">Details</button>
              <button type="submit" *ngIf="item?.Types=='downloadPDF'" class="btn btn-primary"
                (click)="mergeAllPDFs('download',item?.documents,item['tableName'])">Pdf</button>
              <button type="submit" *ngIf="item?.Types=='downloadPDF'" class="btn btn-primary"
                (click)="mergeAllPDFs('zip',item?.documents,item['tableName'])">Zip</button>
              <button type="submit" *ngIf="item?.Types=='downloadPDF'" class="btn btn-primary"
                (click)="mergeAllPDFs('mail',item?.documents,item['tableName'],item['SendMailData'])">Send Mail</button>
                <button type="submit" *ngIf="item?.tableName=='Export-Direct-Dispatch'" class="btn btn-primary"
                (click)="exceldownload(item?.commercialRef)">Excel</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal" tabindex="-1" #ApprovalDetails style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Approval Details</h5>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close"
          (click)="ApprovalDetails.style.display='none'">close</button>
      </div>
      <div class="modal-body">
        <div class="column" *ngIf="this.detailsViewdata.length!=0">
          <p class="done-by"><span class="bold-text">Done By :</span>
            {{this.detailsViewdata['userdetails']['fullName']}}</p>
          <p class="date-time"><span class="bold-text">Date & Time :</span> {{this.detailsViewdata['createdAt']}}</p>
          <p class="status"><span class="bold-text">Status :</span> {{this.detailsViewdata['status']}}</p>
          <p class="comments"><span class="bold-text">Comments :</span> {{this.detailsViewdata['comment']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>