<div class="col-12">
    <div class="col-12 header">
        <button class="upload-button btn btn-success PopupOpen" popup-close="Shippingbill"><i
                class="fa fa-upload PopupOpen" aria-hidden="true" popup-close="Shippingbill"></i>
            Upload</button>
    </div>
    <div class="upload-panel" *ngIf="publicUrl!=''">
        <app-pdf-viewer class="pt-3" [downloadShow]="false" [src]="publicUrl" width="100%"
            Newheight="700px"></app-pdf-viewer>
        <upload-components id="inwardremittancedisposal" (SubmitEvent)="onUpload($event)"></upload-components>
    </div>
</div>

<upload-popup id="Shippingbill" url="documents/inward-disposal/uploadFile" (event)="response($event)"></upload-popup>