<div class="content_top_common pb-2 scroll-bar-main">
    <div class="content-wrap">
        <div class="container-fluid">
            <div class="import_export_sec">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="Dashbord_sec">
                            <h2 class="title_dash">Advance outward remittance</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="float_right_page">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/home/pipo">Transactions</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add new</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_white_background">
                <main id="content" class="table-padding" role="main">
                    <div class="new_document_list1">
                        <div class="new_document_list_add_data">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label for="exampleInputEmail1" class="form-label">Select bank name*</label>
                                        <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                              </select>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label for="exampleInputPassword1" class="form-label">Select beneficiary</label>
                                        <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                              </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>