.custom-expansion-panel {
    flex-direction: column;
    height: 82vh!important;
    border-radius: 10px;
}

.custom-expansion-panel .table-tr {
    cursor: pointer;
}

.custom-expansion-panel .table-style {
    border-radius: 10px;
    padding: 10px !important;
    width: 100%;
    margin: auto;
    background-color: transparent;
}

.custom-expansion-panel table .table-tr {
    cursor: pointer;
}

.custom-expansion-panel table .table-tr-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
    box-shadow: none;
    transition: opacity 1s ease-in-out;
}

.custom-expansion-panel .header h5 {
    margin: auto;
    color: #6322e2;
}

.custom-expansion-panel .center-panel {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

.custom-expansion-panel .table-active {
    background: #fbfbfb;
    transition: opacity .5s ease-in-out;
}

.custom-expansion-panel .Table-Hide {
    opacity: 0;
    display: none !important;
    height: 0;
}

.custom-expansion-panel .Table-Show {
    opacity: 1;
    display: flex;
}

.custom-expansion-panel .table tbody tr {
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #eceaea;
    min-height: 70px;
    max-height: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
    position: relative;
    transition: .8s ease-in-out;
}

.custom-expansion-panel .table thead,
.custom-expansion-panel .table tbody {
    width: 100%;
    margin: 0 auto auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.expansion-panel-inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    max-width: 100%;
    overflow: auto;
}

.custom-expansion-panel .col-td-th-0 {
    width: 80px;
    min-width: auto;
    border: 0 !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    word-break: break-all;
}

.custom-expansion-panel .table th,
.custom-expansion-panel .table td {
    min-width: auto !important;
}

.custom-expansion-panel .disabled {
    pointer-events: none;
}

.custom-expansion-panel .error-p {
    color: red;
    font-weight: 600;
    margin: auto;
    font-size: 10px;
}

.custom-expansion-panel .table-type .custom-expansion-panel-tr {
    transition: 0.3s height cubic-bezier(0.86, 0, 0.07, 1);
}

.custom-expansion-panel .table-type .custom-expansion-panel-tr:hover {
    background-color: #2d3b42 !important;
    transition: 0.3s background-color cubic-bezier(0.86, 0, 0.07, 1);
}

.custom-expansion-panel .table-type .custom-expansion-panel-tr:hover td {
    color: white;
}

.custom-expansion-panel .table-type .custom-expansion-panel-tr:hover .error-p {
    color: white;
}

.custom-expansion-panel .table-tr {
    border-bottom: 0;
}

.custom-expansion-panel .table .custom-expansion-tbody {
    height: calc(100vh - 225px);
    overflow: auto;
}

.custom-expansion-panel .custom-expansion-table {
    width: 99%!important;
    max-width: 100%;
    background-color: #fff;
    margin: auto!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 5px 3px #e1e0e0;
    overflow: auto;
    display: block;
}

.custom-expansion-panel .table .custom-expansion-thead {
    background: #2d3b42;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff !important;
    min-height: 40px;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.custom-expansion-panel .table .custom-expansion-thead tr th {
    color: #fff !important;
    text-transform: uppercase;
}

.custom-expansion-panel .table .thead-not-length {
    background: #2d3b42;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff !important;
    min-height: 40px;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.custom-expansion-panel .table .added-active {
    background-color: #EFE5FD !important;
    color: #6322e2;
    border-radius: unset !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    box-shadow: none !important;
}

.custom-expansion-panel .table .table-active .Table-Show {
    background-color: #EFE5FD !important;
    margin-top: -7px;
    box-shadow: none;
    border-radius: unset;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.custom-expansion-panel ::-webkit-scrollbar-track {
    box-shadow: 0 0 3px 0px #1c39d9;
    border-radius: 10px;
}

.custom-expansion-panel ::-webkit-scrollbar-thumb {
    background-color: #2d3b42;
    border-radius: 10px;
}

.custom-expansion-panel .custom-mat-badge {
    margin-top: 11px;
}

.custom-expansion-panel .text-large{
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    z-index: 9;
}
.custom-expansion-panel .text-large .mat-badge-content {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
    width: auto;
    background: #2d3b42;
    font-size: 1.5em;
    color: #fff;
    min-width: 40px;
    min-height: 30px;
}

.custom-expansion-panel .text-large.accent .mat-badge-content {
    background: #5454b1;
}

.custom-expansion-panel .text-large.warn .mat-badge-content {
    background: #5454b1;
    color: #fffbfb;
}

.pagination {
    margin-top: auto;
    width: 100%;
    margin-top: 0px;
}

.pagination ::ng-deep .mat-paginator {
    background: #fff;
    width: 99%;
    margin: auto;
    box-shadow: 4px 5px 10px 0px #b5b3b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.OTHER_BUTTON {
    background: transparent;
    outline: none;
    border: none;
    color: black;
}

.custom-expansion-panel .table-type .custom-expansion-panel-tr:hover .OTHER_BUTTON {
    color: white;
}

.pagination ::ng-deep .mat-paginator .mat-button,
.pagination ::ng-deep .mat-paginator .mat-icon-button,
.pagination ::ng-deep .mat-paginator .mat-stroked-button,
.pagination ::ng-deep .mat-paginator .mat-flat-button {
    background-color: transparent !important;
}

::ng-deep app-custom-model #PDF_VIEW .PDF_VIEW {
    display: flex;
    height: 98vh;
    max-width: 70vw!important;
    position: absolute;
    right: 0;
    top: 79px;
    margin: auto;
    height: calc(100vh - 138px)!important;
    margin: 0 auto auto!important;
    justify-content: flex-end;
    align-items: flex-end;
}

::ng-deep app-custom-model #PDF_VIEW.dropdown-controller {
    position: absolute!important;
    right: -15px!important;
    left: unset!important;
    width: 560px;
    background-color: transparent!important;
}

::ng-deep app-custom-model #PDF_VIEW .height-controller {
    max-height: calc(100vh - 123px)!important;
}