<div class="d-flex custom-expansion-panel">
    <table class="table custom-expansion-table">
        <thead class="custom-expansion-thead" [ngClass]="{'thead-not-length':this.PAGINATOR_TABLE_DATA.length==0}">
            <tr class="table-tr">
                <th scope="col" class="col-td-th-0" *ngIf="this.Expansion==true">#</th>
                <th scope="col" class="col-td-th-0" *ngIf="this.Expansion==true && this.Expansionheader2.length!=0">#
                </th>
                <th scope="col" class="col-td-th-1" [ngClass]="this.TableHeaderClass[i]"
                    *ngFor="let item of header;let i=index" [innerHTML]="item"></th>
            </tr>
        </thead>
        <tbody class="custom-expansion-tbody" *ngIf="this.PAGINATOR_TABLE_DATA.length!=0">
            <div class="overflow-expansion-panel">
                <custom-table-expansion-panel>
                    <div class="table-type text-large custom-mat-badge"
                        *ngFor="let item of this.PAGINATOR_TABLE_DATA;let i=index"
                        [ngClass]="{'table-active':item?.isExpand==true || item?.isExpand2==true}">
                        <tr class="table-tr custom-expansion-panel-tr"
                            [ngClass]="{'added-active':item?.isExpand==true || item?.isExpand2==true}"
                            title="click arrow icon see more details..." (click)="TrClickEvent(item,i)">
                            <td [title]="ExpandTitle1" scope="col" class="col-td-th-0" *ngIf="this.Expansion==true"
                                (click)="CollapseAll(this.PAGINATOR_TABLE_DATA,'isExpand',i);item.isExpand=!item?.isExpand;">
                                <span *ngIf="item?.isExpand==true" class="fa fa-chevron-up"></span>
                                <span *ngIf="item?.isExpand==false" class="fa fa-chevron-down"></span>
                            </td>
                            <td [title]="ExpandTitle2" scope="col" class="col-td-th-0"
                                *ngIf="this.Expansion==true && this.Expansionheader2.length!=0"
                                (click)="CollapseAll(this.PAGINATOR_TABLE_DATA,'isExpand2',i);item.isExpand2=!item?.isExpand2;">
                                <span *ngIf="item?.isExpand2==true" class="fa fa-chevron-up"></span>
                                <span *ngIf="item?.isExpand2==false" class="fa fa-chevron-down"></span>
                            </td>
                            <td scope="col" class="col-td-th-1" (click)="eventId!='' && j==eventId?TdClick(item,i):''"
                                [ngClass]="this.TableHeaderClass[j]" *ngFor="let objectitem of this.Keys;let j=index"
                                [innerHTML]="item[objectitem]"></td>

                            <td title="Data Show and Hide" scope="col" class="col-td-th-0"
                                *ngFor="let buttonitem of item?.OTHER_BUTTON">
                                <p type="button" class="OTHER_BUTTON PopupOpen" [attr.popup-close]="buttonitem?.popupid"
                                    (click)="buttonitem?.callback(i,{data:item,index:i})" [ngClass]="buttonitem?.className"></p>
                            </td>
                            <td scope="col" class="col-td-th-1"
                                *ngIf="item?.disabled==false && this.ActionRequired==true">
                                <a title="View" *ngIf="this.ViewButton==true" (click)="View(item,i)" class="PopupOpen"
                                    popup-close="PDF_VIEW">
                                    <i class="fa fa-eye PopupOpen" popup-close="PDF_VIEW" aria-hidden="true"></i>
                                </a>
                                <a title="Edit" *ngIf="this.EditButton==true" popup-close="EditSummaryPage"
                                    (click)="Edit(item,i)" class="savBtn bgnone PopupOpen">
                                    <i class="fa fa-pencil-square-o PopupOpen" popup-close="EditSummaryPage"
                                        aria-hidden="true"></i>
                                </a>
                                <a title="Delete" *ngIf="this.DeleteButton==true && item?.RoleType!='Approver'" (click)="Delete(item,i)"
                                    class="savBtn bgnone"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
                            </td>
                            <td scope="col" class="col-td-th-1"
                                *ngIf="item?.disabled==true">
                                <p class="error-p">Check Status Panel...</p>
                            </td>
                            <!-- <td scope="col" class="col-td-th-1" *ngIf="item?.RoleType=='Approver'">
                                <p class="error-p">Access Denied...</p>
                            </td> -->
                        </tr>
                        <tr class="table-tr table-tr-1 tr-box-shadow" *ngIf="this.Expansion==true"
                            [ngClass]="{'Table-Show':item?.isExpand==true,'Table-Hide':item?.isExpand==false}">
                            <div class="expansion-panel-inner">
                                <div class="header">
                                    <h5>{{ExpansionTitle}}</h5>
                                </div>
                                <div class="center-panel">
                                    <table class="table table-style">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-0">#</th>
                                                <th scope="col" class="col-td-th-1"
                                                    *ngFor="let Expansionheaderitem of Expansionheader;let i=index"
                                                    [innerHTML]="Expansionheaderitem"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngIf="ExpansionKeys?.length!=0 && item?.Expansion_Items?.length==1">
                                                <td scope="col" class="col-td-th-0">{{(i+1)}}</td>
                                                <td scope="col" class="col-td-th-1"
                                                    *ngFor="let Expansionitemsobjectitem of this.ExpansionKeys;let i=index"
                                                    [innerHTML]="item?.Expansion_Items[0][Expansionitemsobjectitem]">
                                                </td>
                                            </tr>
                                            <div *ngIf="ExpansionKeys?.length!=0 && item?.Expansion_Items.length!=1">
                                                <tr class="table-tr"
                                                    *ngFor="let itemloop of item?.Expansion_Items;let j=index">
                                                    <td scope="col" class="col-td-th-0">{{(j+1)}}</td>
                                                    <td scope="col" class="col-td-th-1"
                                                        *ngFor="let Expansionitemsobjectitem of this.ExpansionKeys;let i=index"
                                                        [innerHTML]="itemloop[Expansionitemsobjectitem]"></td>
                                                </tr>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tr>
                        <tr class="table-tr table-tr-1 tr-box-shadow"
                            *ngIf="this.Expansion==true && this.Expansionheader2.length!=0"
                            [ngClass]="{'Table-Show':item?.isExpand2==true,'Table-Hide':item?.isExpand2==false}">
                            <div class="expansion-panel-inner">
                                <div class="header">
                                    <h5>{{ExpansionTitle2}}</h5>
                                </div>
                                <div class="center-panel">
                                    <table class="table table-style">
                                        <thead>
                                            <tr class="table-tr">
                                                <th scope="col" class="col-td-th-0">#</th>
                                                <th scope="col" class="col-td-th-1"
                                                    *ngFor="let Expansionheaderitem of Expansionheader2;let i=index"
                                                    [innerHTML]="Expansionheaderitem">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr"
                                                *ngFor="let itemloop of item?.Expansion_Items2;let j=index">
                                                <td scope="col" class="col-td-th-0">{{(j+1)}}</td>
                                                <td scope="col" class="col-td-th-1"
                                                    *ngFor="let Expansionitemsobjectitem of this.ExpansionKeys2;let i=index"
                                                    [innerHTML]="itemloop[Expansionitemsobjectitem]"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tr>
                    </div>
                </custom-table-expansion-panel>

            </div>
        </tbody>
    </table>
    <div class="pagination" *ngIf="this.PAGINATOR_DATA.length!=0">
        <mat-paginator [length]="this.items.length" [pageSize]="10" [pageSizeOptions]="this.PAGINATOR_DATA"
            (page)="this.PAGINATION_EVENT($event)" aria-label="Select page">
        </mat-paginator>
    </div>
</div>