


.bottomCls {
   float: right;
  }
  .submitBtn
  {
    background: #51AEE5; color: #fff;
  }
.bt_cancel{ background: #f1f1f1; border: 1px solid #f1f1f1; }

.bt_cancel:focus{outline: none;}


