<div class="col-12">
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
        <g>
            <path
                style="stroke-miterlimit: 14.34; stroke-linecap: round; stroke-linejoin: round; stroke-width: 18px; fill-rule: evenodd; paint-order: stroke markers; filter: none;"
                d="M 342 7.552 H 466.67 A 10 10 0 0 1 476.67 17.552 V 46.892 H 332 V 17.552 A 10 10 0 0 1 342 7.552 Z"
                bx:shape="rect 332 7.552 144.67 39.34 10 10 0 0 1@c973074a"></path>
        </g>
    </svg>
</div>