<div class="content-wrap ml-0 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="header-panel-upload">
            <h3 class="heading">New EDPMS Data</h3>
        </div>
        <div class="upload-panel">
            <mat-tab-group>
                <mat-tab label="Upload">
                    <div class="right-panel" style="margin: auto;margin-right: 10px;margin-left: 10px;">
                        <custom-status-progress-bar (event)="dumpfun($event)"
                            [data]="this.pipoArrayListdata"></custom-status-progress-bar>
                        <select class="form-control" [(ngModel)]="bankSelection" (ngModelChange)="chooseBank()">
                            <option value="" disabled hidden>Select Bank</option>
                            <option *ngFor="let acc of bankAccounts" [value]="acc" style="min-width:100%;">{{acc}}
                            </option>
                        </select>
                        <form id="file-upload-form" class="uploader" method="POST" (click)="uploadfile?.click();">
                            <input id="file-upload" type="file" name="fileUpload"
                                [attr.disabled]="disableUpload ? '' : null" (error)="onUploadError($event)"
                                (init)="onUploadInit($event)" (success)="onUploadSuccess($event)"
                                (sending)="submit($event)" [dropzone]="config3" id="dropzone"
                                (click)="fileInputClick($event)" #uploadfile />
                            <button class="btn btn-primary m-0">Upload .xls</button>
                        </form>
                    </div>
                    <div class="table-panel" *ngIf="this.edpmsData.length!=0">
                        <div class="col-12 p-0" #debitnotes>
                            <div class="row">
                                <div style="width:100%;height:690px" class="col-12 padding">
                                    <section class="pb-0 box-shadow">
                                        <div class="p-0 table-wrapper">
                                            <table class="table edpms-table mb-0">
                                                <thead>
                                                    <tr class="table-tr">
                                                        <th scope="col" class="col-td-th-3">#</th>
                                                        <th scope="col" class="col-td-th-3">Shipping Bill No.</th>
                                                        <th scope="col" class="col-td-th-3">Shipping Bill Date</th>
                                                        <th scope="col" class="col-td-th-3">AD Code</th>
                                                        <th scope="col" class="col-td-th-3">Port Code</th>
                                                        <th scope="col" class="col-td-th-3">EDPMS STATUS</th>
                                                        <th scope="col" class="col-td-th-3">AD Ref No.</th>
                                                        <th scope="col" class="col-td-th-3">SB Amount</th>
                                                        <th scope="col" class="col-td-th-3">SB Balance amount</th>
                                                        <th scope="col" class="col-td-th-3">System Status</th>
                                                        <th scope="col" class="col-td-th-3">Doc Available</th>
                                                        <!-- <th scope="col" class="col-td-th-3">Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-tr tableclick"
                                                        *ngFor="let row of edpmsData; let i = index"
                                                        (click)="clicktable(row?.sbdata)">
                                                        <th class="col-td-th-3">
                                                            {{(i+1)}}
                                                        </th>
                                                        <th class="col-td-th-3">
                                                            {{row?.sbNo}}
                                                        </th>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbDate | date: 'dd/MM/yyyy'}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.adCode}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.portCode}}
                                                        </td>

                                                        <td class="col-td-th-3">
                                                            {{row?.edpmsStatus}}
                                                        </td>

                                                        <td class="col-td-th-3">
                                                            {{row?.adRefNo}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbAmount}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbBalanceAmount}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.systemStatus}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.docAvailable}}
                                                        </td>
                                                        <!-- <td class="col-td-th-3">
                                                        <div *ngFor="let act of row?.action"
                                                            [class.active]="act === 'Create Documents' || act === 'Upload Documents'"
                                                            (click)="actionEvent(act, row?.sbNo)">{{act}}</div>
                                                    </td> -->
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Compare">
                    <div class="right-panel" style="margin: auto;margin-right: 10px;margin-left: 10px;">
                        <custom-status-progress-bar (event)="dumpfun($event)"
                            [data]="this.pipoArrayListdata2"></custom-status-progress-bar>
                        <app-ng-dropdown-custom placeHolderText="Search sb no." 
                        width="200px" [items]="this.SB_NO_LIST"
                        (modelChanges)="EDMPS_Search($event?.value)"
                            (keyEvent)="EDMPS_Search($event)"
                        bindLabel="value" [multiple]="false" #buyerNameSelection>
                        </app-ng-dropdown-custom>
                        <!-- <select class="form-control" [(ngModel)]="bankSelection" (ngModelChange)="chooseBank()">
                            <option value="" disabled hidden>Select Bank</option>
                            <option *ngFor="let acc of bankAccounts" [value]="acc" style="min-width:100%;">{{acc}}
                            </option>
                        </select> -->
                        <!-- <form id="file-upload-form" class="uploader" method="POST" (click)="uploadfile?.click();">
                            <input id="file-upload" type="file" name="fileUpload"
                                [attr.disabled]="disableUpload ? '' : null" (error)="onUploadError($event)"
                                (init)="onUploadInit($event)" (success)="onUploadSuccess($event)"
                                (sending)="submit($event)" [dropzone]="config3" id="dropzone"
                                (click)="fileInputClick($event)" #uploadfile />
                            <button class="btn btn-primary m-0">Upload .xls</button>
                        </form> -->
                    </div>
                    <div class="table-panel" *ngIf="this.FILTER_EDPMS_DATA.length!=0">
                        <div class="col-12 p-0" #debitnotes>
                            <div class="row">
                                <div style="width:100%;height:690px" class="col-12 padding">
                                    <section class="pb-0 box-shadow">
                                        <div class="p-0 table-wrapper">
                                            <table class="table edpms-table mb-0">
                                                <thead>
                                                    <tr class="table-tr">
                                                        <th scope="col" class="col-td-th-3">#</th>
                                                        <th scope="col" class="col-td-th-3">Shipping Bill No.</th>
                                                        <th scope="col" class="col-td-th-3">Shipping Bill Date</th>
                                                        <th scope="col" class="col-td-th-3">AD Code</th>
                                                        <th scope="col" class="col-td-th-3">Port Code</th>
                                                        <th scope="col" class="col-td-th-3">EDPMS STATUS</th>
                                                        <th scope="col" class="col-td-th-3">AD Ref No.</th>
                                                        <th scope="col" class="col-td-th-3">SB Amount</th>
                                                        <th scope="col" class="col-td-th-3">SB Balance amount</th>
                                                        <th scope="col" class="col-td-th-3">System Status</th>
                                                        <th scope="col" class="col-td-th-3">Doc Available</th>
                                                        <!-- <th scope="col" class="col-td-th-3">Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-tr tableclick"
                                                        *ngFor="let row of this.FILTER_EDPMS_DATA; let i = index"
                                                        (click)="clicktable2(row?.sbdata)">
                                                        <th class="col-td-th-3">
                                                            {{(i+1)}}
                                                        </th>
                                                        <th class="col-td-th-3">
                                                            {{row?.sbNo}}
                                                        </th>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbDate | date: 'dd/MM/yyyy'}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.adCode}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.portCode}}
                                                        </td>

                                                        <td class="col-td-th-3">
                                                            {{row?.edpmsStatus}}
                                                        </td>

                                                        <td class="col-td-th-3">
                                                            {{row?.adRefNo}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbAmount}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.sbBalanceAmount}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.systemStatus}}
                                                        </td>
                                                        <td class="col-td-th-3">
                                                            {{row?.docAvailable}}
                                                        </td>
                                                        <!-- <td class="col-td-th-3">
                                                            <div *ngFor="let act of row?.action"
                                                                [class.active]="act === 'Create Documents' || act === 'Upload Documents'"
                                                                (click)="actionEvent(act, row?.sbNo)">{{act}}</div>
                                                        </td> -->
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </main>
</div>

<app-custom-model [customstyle]="{'margin':'auto !important','margin-top': '32px !important'}" class="p-2" height="95vh"
    id="pdf_view" [name]="'EDPMS Documents View'">
    <div class="col-12 p-2">
        <app-pdf-viewer *ngIf="this.SELECT_DOCUMENTS_VIEWS!=''" [downloadShow]="false"
            [name]="this.SELECT_DOCUMENTS_VIEWS?.text" [src]="this.SELECT_DOCUMENTS_VIEWS?.doc" width="100%"
            height="500px"></app-pdf-viewer>
    </div>
</app-custom-model>

<app-custom-model [customstyle]="{'margin':'auto !important','margin-top': '32px !important'}" class="p-2" height="95vh"
    id="pdf_upload" [name]="'EDPMS Documents View'">
    <div class="col-12 p-2">
        <app-pdf-viewer *ngIf="this.SELECT_DOCUMENTS_UPLOAD!=''" [downloadShow]="false"
            [name]="this.SELECT_DOCUMENTS_UPLOAD?.text" [src]="this.SELECT_DOCUMENTS_UPLOAD?.url" width="100%"
            height="500px"></app-pdf-viewer>
    </div>
</app-custom-model>