<!-- <template-main-page [NAME_OF_API_TYPE]="false" [text]="this.TEXT" text="Scan the QR code and enter the secret key Using Google Authenticator
Application">
  <img *ngIf="this.VALIDATION_DONE==true" [src]="tfa?.dataURL" alt="" class="img-two-auth-thumbnail"
    style="display:block;margin:auto">
  <p *ngIf="this.VALIDATION_DONE==true" style="text-align: center;margin-bottom: 0;" class="pt-2">Auth Type - Time Based
    - OTP</p>
  <upload-components [HIDE_SUBMIT_BUTTON]="this.VALIDATION_DONE" [KEY_ENTER_ENABLED]="true"
    style="width: 100%;" id="2_FACTOR_AUTH" [HIDE_BACKGROUND]="false" (SubmitEvent)="onSubmit($event,FACTOR_AUTH_PANEL?.getRawValue)"
    #FACTOR_AUTH_PANEL>
    <p *ngIf="CouponData?.notfound==true" style="color: red;margin-left: 10px;">Coupon code not
      valid..</p>
    <p *ngIf="CouponData?.status==false" style="color: red;margin-left: 10px;">Coupon code expired..
    </p>
    <p *ngIf="CouponData?.status==true" style="color: #2f93ff;margin-left: 10px;">Coupon code
      verified</p>
    <p *ngIf="this.SUM_AMOUNT" style="color: #2f93ff;margin-left: 10px;">Total Subscription Amount :
      <span>{{this.SUM_AMOUNT}}</span>
    </p>
  </upload-components>
</template-main-page>

<app-custom-model [customstyle]="{'max-width':'750px !important'}" class="p-2" height="65vh" id="TermsofService"
  modalbodyheight="65vh" ModalTitleStyle="font-size: 20px;
    font-weight: bold;" name="SOFTWARE LICENSE AGREEMENT" #TermsofService_PANEL>
  <div class="col-12 mt-2 mb-2">
    <tearms-condition></tearms-condition>
    <button type="button" class="btn btn-primary" (click)="TermsofService_PANEL?.displayHidden">Ok</button>
  </div>

</app-custom-model> -->

<div class="container">
  <app-form (onSubmit)="onSubmit($event?.value,$event?.RawValue)" *ngIf="this.FORM_CREATE_LIST?.length!=0" [item]="{
    FORM_CREATE_LIST:this.FORM_CREATE_LIST,
    FORM_LIST:this.FORM_LIST,
    StepItem:this.StepItem
    }">
    <p *ngIf="CouponData?.status==true" style="color: #2f93ff;margin-left: 10px;">Coupon code
      verified</p>
    <p *ngIf="this.SUM_AMOUNT" style="color: #2f93ff;margin-left: 10px;">Total Subscription Amount :
      <span>{{this.SUM_AMOUNT}}</span>
    </p>
  </app-form>
  <app-progression-buttons class="mobile"></app-progression-buttons>
</div>