<template-main-page [NAME_OF_API_TYPE]="false" text="Scan the QR code and enter the secret key Using Google Authenticator
Application">
  <img [src]="tfa?.dataURL" alt="" class="img-two-auth-thumbnail" style="display:block;margin:auto">
  <p style="text-align: center;margin-bottom: 0;" class="pt-2">Auth Type - Time Based - OTP</p>
  <upload-components [KEY_ENTER_ENABLED]="true" style="width: 100%;" id="2_FACTOR_AUTH" [HIDE_BACKGROUND]="false"
    (SubmitEvent)="onSubmit($event)" #2_FACTOR_AUTH_PANEL>
  </upload-components>
</template-main-page>