<div class="grid">
  <div class="main_nave">
    <header class="logo d-none d-md-block" style="display: flex !important;">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img style="width: 170px;" class="mlogo" src="./assets/new-img/logo-transparent.png" />
      </a>
      <div class="toggle-menu" style="margin: auto;margin-left: -9px;">
        <button type="button" id="sidebarCollapse" class="btn btn-primary"
          style="background: transparent;border: none;outline: none;color: black;">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
    </header>
    <div class="main_nave_haeders">
      <nav class="navbar-dashboard">
        <div class="container-fluid p-0">
          <div class="d-flex">
            <div class="col-custom mr-4">
              <div class="language_options_right">
                <div class="language_options ">
                  <h6 class="side-name1" *ngIf="this.userData['role'] == 'member'">
                    {{this.userData['RoleCheckbox']!=''?this.userData['RoleCheckbox']:this.userData['role']}}
                  </h6>
                  <h6 class="side-name1" *ngIf="role == 'admin'">Super Admin</h6>
                  <h6 class="side-name1" *ngIf="role == 'ca'">CA</h6>
                  <h6 class="side-name1" *ngIf="role == 'manager'">Admin</h6>
                </div>
                <div class="notfication ">
                  <ul>
                    <li><a routerLinkActive="active " ariaCurrentWhenActive="page "><span class="icon ">
                          <img src="./assets/new-img/header_not1.svg" />
                        </span></a></li>
                    <li>
                      <a routerLinkActive="active" ariaCurrentWhenActive="page"
                        [attr.ng-tooltips-popup]="'UserToolTips'" (mouseenter)="UserToolTipsPanel?.displayShow">
                        <span class="icon" [attr.ng-tooltips-popup]="'UserToolTips'"
                          (mouseenter)="UserToolTipsPanel?.displayShow"><img src="./assets/new-img/header-user.svg "
                            class="TOOLTIPS_OPEN_CLOSE" [attr.ng-tooltips-popup]="'UserToolTips'"
                            (mouseenter)="UserToolTipsPanel?.displayShow" />
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-0 pt-3" id="sidebar1">
        <div class="toggle-import-export mr-0"
          *ngIf="this.userData['role']!='manager' && this.userData['role']!='admin'">
          <div class="import_export_button m-auto">
            <div *ngIf="this.userData?.Subscription=='Export'">
              <button type="button" (click)="typeChange('export','import')" class="type_active">
                <span class="icon_top "></span>Export
              </button>
            </div>
            <div *ngIf="this.userData?.Subscription=='Import'">
              <button type="button" (click)="typeChange('import','export')" class="type_active">
                <span class="icon_top"></span>Import </button>
            </div>
            <div *ngIf="this.userData?.Subscription=='both'">
              <button type="button" (click)="typeChange('import','export')"
                [ngClass]="userData?.sideMenu == 'import' ? 'type_active' : 'type_inactive'">
                <span class="icon_top"></span>Import </button>
              <button type="button" (click)="typeChange('export','import')"
                [ngClass]="userData?.sideMenu == 'export' ? 'type_active' : 'type_inactive'">
                <span class="icon_top "></span>Export
              </button>
            </div>
          </div>
        </div>
        <a *ngIf="this.userData['role']!='manager'" [routerLink]="['/home/dashboardTask']" class="sidebar-content"
          style="color: black;
          padding-left: 0;
          font-size: 20px;
          display: flex;
          background: white;
          max-width: 100%;
          width: 200px !important;
          border-radius: 0px;
          padding: 5px;
          font-weight: 600;margin-top: 10px;">
          <span class="icon side-icon"><img style="width: 17px;filter: hue-rotate(358deg);"
              src="./assets/new-img/dashboard.svg" /> Dashboard</span>
        </a>
        <a *ngIf="this.userData['role']=='manager'" class="sidebar-content" style="color: black;
          padding-left: 0;
          font-size: 20px;
          display: flex;
          background: white;
          max-width: 100%;
          width: 200px !important;
          border-radius: 0px;
          padding: 5px;
          font-weight: 600;">
          <span class="icon side-icon"><img style="width: 17px;filter: hue-rotate(358deg);"
              src="./assets/new-img/dashboard.svg" /> Dashboard</span>
        </a>
        <div class="scroll-bar">
          <ul class="list-unstyled components mb-5 p-3">
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true && this.userData['DMS']==true">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documents</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Pipo')">PI/PO Summary</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Commercial')">
                    Commercial Invoices
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/boe')">BOE</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Airway-bl-Copy')">
                    Airway/BL Copy
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Packing-List')">
                    Packing List Invoice
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Bill-Of-Exchange')">
                    Bill Of Exchange
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Credit')">Credit Notes
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Debit')">Debit notes
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Insurance-Document')">
                    Insurance Policy</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Letter-Of-Credit-Lc')">
                    Letter of
                    Credit
                    (LC)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Master-Services')">
                    Master Service
                    Agreement
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/TripartyAgreements')">Tri
                    party
                    agreements</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Opinion-Report')">
                    Opinion Reports
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Outward-Remittance-Advice')">
                    Outward
                    Remittance
                    Advice</h6>
                </li>


                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Destruction')">
                    Destruction
                    Certificate
                  </h6>
                </li>

                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/master-upload')">Master
                    Upload</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'Summary/Import/Bill-Lodgement-Referance-AdviceCopy')">
                    Bill-Lodgement-Reference-AdviceCopy</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Realisation-Cretificate')">
                    Realisation-Cretificate</h6>
                </li> -->
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Import/Swift-Copy-Documents')">
                    Swift-Copy-Documents
                  </h6>
                </li>
              </ul>
            </li>
            <li *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true  && this.userData['Transaction']==true">
            <a href="#SBIRMMatchOff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">BOE ORM Match Off</a>
            <ul class="collapse list-unstyled" id="SBIRMMatchOff">
              <li class="nav-item">
              <li class="nav-item">
                <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Import/BOE-ORM-Macth-Off')">BOE ORM Match Off
                </h6>
              </li>
            </ul>
          </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true && this.userData['Transaction']==true">
              <a href="#Transactions" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Transactions</a>
              <ul class="collapse list-unstyled" id="Transactions">
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'/Transaction/Import/add-advance-outward-remittance')">ADVANCE OUTWARD REMITTANCE</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'/Transaction/Import/add-advance-outward-remittance-a2')">
                    Outward Remittance (A2)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'/Transaction/Import/Import-Direct-Payment')">DIRECT BILL</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'/Transaction/Import/import-direct-dispatch')">Import Bill
                    Lodgement</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/a2cum-application-yesbank')">A2cum
                    Application
                  </h6>
                </li> -->
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/fbg-waiver')">FBG Waiver</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Import/lc-isurance')">
                    LC-Issuance</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Import/Buyer-Credit-Panel')">
                    Buyer Credit
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunder.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_Collection']=true">
                    Bills Under Collection</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_Collection']==true ? 'display:block;' : 'display:none;'"
                    #subbillunder>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'lcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'lcUsance'})">Usance</h6>
                  </div>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunderlc.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_LC']=true">
                    Bills Under LC</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_LC']==true ? 'display:block;' : 'display:none;'"
                    #subbillunderlc>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcUsance'})">Usance</h6>
                  </div>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true && this.userData['Transaction']==true">
              <a href="#ImportTransactionDashBoard" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Transaction Dashboard</a>
              <ul class="collapse list-unstyled" id="ImportTransactionDashBoard">
                <li class="nav-item">
                <li class="nav-item" *ngFor="let item of this.TRANSACTION_DASHBOARD_LIST?.Import">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrlParam($event,'/Transaction/Import/Transaction-Dashboard',item)">{{item}}
                  </h6>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true && this.userData['DMS']==true">
              <a href="#ExportDocuments" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Documents</a>
              <ul class="collapse list-unstyled" id="ExportDocuments">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/Pipo')">PI / PO / Order
                    Copy<i style="font-size: 12px; margin-left:10px;" class="fas fa-plus-circle">
                    </i></h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/commercial')">Commercial
                    Invoices</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/Shipping-bill')">Shipping
                    Bill</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/airway-bl-copy')">Airway/BL
                    Copy</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/packing-list')">Packing List
                    Invoices</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'Summary/Export/export-certificate-of-origin')">Certificate Of
                    Origin</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/bill-of-exchange')">Bill Of
                    Exchange</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/credit-note')">Credit Notes
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/debit-note')">Debit Notes
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/insurance-document')">
                    Insurance Policy
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/letterofcredit-lc')">Letter
                    of Credit (LC)
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/master-services')">Master
                    Service Agreement
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/try-party')">Triparty
                    Agreements</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/opinion-report')">Opinion
                    Reports</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'Summary/Export/Inward-Remittance-Disposal')">Inward
                    Remittance Tracker</h6>
                </li> -->

                <li style="border-bottom: 1px solid rgba(255,255,255,.5);">
                  <a href="#InwardRemittanceTracker" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Inward Remittance Tracker</a>
                  <ul class="collapse list-unstyled" id="InwardRemittanceTracker">
                    <li class="nav-item">
                    <li class="nav-item">
                      <h6 class="nav-link p-0"
                        (click)="navigationByUrlParam($event,'/Summary/Export/Inward-Remittance-Disposal','PendingCaliming')">
                        Pending caliming
                      </h6>
                      <h6 class="nav-link p-0"
                        (click)="navigationByUrlParam($event,'/Summary/Export/Inward-Remittance-Disposal','DisposalSubmitted')">
                        Disposal Submitted
                      </h6>
                      <h6 class="nav-link p-0"
                        (click)="navigationByUrlParam($event,'/Summary/Export/Inward-Remittance-Disposal','Processed')">
                        Processed</h6>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/inward-remittance-advice')">
                    Inward
                    Remittance
                    Advice</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/destruction')">Destruction
                    Certificate</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/Sub-bill-Lodgement')">
                    Bill-Lodgement</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/pipo-export')">PI/PO Master</h6>
                </li> -->
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/master-upload')">Master Upload</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'Summary/Export/Bill-Lodgement-Referance-AdviceCopy')">
                    Bill-Lodgement-Reference-AdviceCopy</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/Realisation-Cretificate')">
                    Realisation-Cretificate</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'Summary/Export/Swift-Copy-Documents')">
                    Swift-Copy-Documents</h6>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true  && this.userData['Transaction']==true">
              <a href="#SBIRMMatchOff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SB IRM Match
                Off</a>
              <ul class="collapse list-unstyled" id="SBIRMMatchOff">
                <li class="nav-item">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Summary/Export/SB-IRM-Match-Off')">SB IRM
                    Match Off
                  </h6>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true  && this.userData['Transaction']==true">
              <a href="#ExportTransactions" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Transactions</a>
              <ul class="collapse list-unstyled" id="ExportTransactions">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Export/export-home')">Inward
                    Remittance Disposal
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunderlc.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_LC']=true">
                    Bills Under LC</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_LC']==true ? 'display:block;' : 'display:none;'"
                    #subbillunderlc>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcUsance'})">Usance</h6>
                  </div>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrl($event,'/Transaction/Export/Packing-Credit-Request-New')">Packing Credit
                    Request</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Export/direct-dispatch')">
                    Export Bill Lodgement
                  </h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Transaction/Export/new-direct-dispatch')">
                    New Export Bill Lodgement
                  </h6>
                </li> -->
                <li style="border-bottom: 1px solid rgba(255,255,255,.5);">
                  <a href="#NewExportBillLodgement" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">New Export Bill Lodgement</a>
                  <ul class="collapse list-unstyled" id="NewExportBillLodgement">
                    <li class="nav-item">
                    <li class="nav-item">
                      <h6 class="nav-link p-0"
                        (click)="navigationByUrlParam($event,'/Transaction/Export/new-direct-dispatch','ExportBillRegularization')">
                        Export Bill Regularization
                      </h6>
                      <h6 class="nav-link p-0"
                        (click)="navigationByUrlParam($event,'/Transaction/Export/new-direct-dispatch','NewBillLodgement')">
                        New Bill Lodgement
                      </h6>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true  && this.userData['Transaction']==true">
              <a href="#ExportTransactionDashBoard" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Transaction Dashboard</a>
              <ul class="collapse list-unstyled" id="ExportTransactionDashBoard">
                <li class="nav-item">
                <li class="nav-item" *ngFor="let item of this.TRANSACTION_DASHBOARD_LIST?.Export">
                  <h6 class="nav-link p-0"
                    (click)="navigationByUrlParam($event,'/Transaction/Export/Transaction-Dashboard',item)">{{item}}
                  </h6>
                </li>
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['export']==true && this.userData['Transaction']==true">
              <a href="#EDPMS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">EDPMS</a>
              <ul class="collapse list-unstyled" id="EDPMS">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/edpms-recon')">EDPMS Recon</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/edpms-recon-table')">EDPMS Recon Table</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Excel-Downloader')">Report</h6>
                </li> -->
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['import']==true && this.userData['Transaction']==true">
              <a href="#IDPMS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">IDPMS</a>
              <ul class="collapse list-unstyled" id="IDPMS">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/idpms-recon')">IDPMS Recon</h6>
                </li>
                <!-- <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/idpms-recon-table')">IDPMS Recon Table</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Excel-Downloader')">Report</h6>
                </li> -->
              </ul>
            </li>
            <li
              *ngIf="this.userData['role']=='member' && this.userData['Teasury']==true && (this.documentService.EXPORT_IMPORT['import']==true || this.documentService.EXPORT_IMPORT['export']==true)">
              <a href="#Treasury" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Treasury</a>
              <ul class="collapse list-unstyled" id="Treasury">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Forward-Contract-Summary')">Forward
                    Contract</h6>
                </li>
              </ul>
            </li>

            <li
              *ngIf="this.userData['role']=='member' && (this.userData['Transaction']==true ||this.userData['DMS']==true) &&
                                                          (this.documentService.EXPORT_IMPORT['export']==true || this.documentService.EXPORT_IMPORT['import']==true)">
              <a href="#ApprovalPanel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Status
                Panel</a>
              <ul class="collapse list-unstyled" id="ApprovalPanel">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Status/pendingpanel')">Pending</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Status/approvalpanel')">Approved</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Status/rejectpanel')">Reject</h6>
                </li>
              </ul>
            </li>
            <li *ngIf="this.userData['role']=='manager'">
              <a href="#ManagerPanel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manager
                Panel</a>
              <ul id="ManagerPanel" class="collapse list-unstyled">
                <li class="nav-item"><a class="sidebar-content" [routerLink]="['/home/manageUser'] ">Manage User</a>
                </li>
                <li class="nav-item">
                  <a href="#ManageCustomer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage
                    Customer</a>
                  <ul id="ManageCustomer" class="collapse list-unstyled">
                    <li class="nav-item">
                      <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/manage-customer/import')">Import</h6>
                    </li>
                    <li class="nav-item">
                      <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/manage-customer/export')">Export</h6>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- <li class="nav-item"
              *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['export']==true">
              <h6 class="nav-link p-0" style="font-size: 11px;"
                (click)="navigationByUrl($event,'/manage-customer/export')">Add buyer</h6>
            </li> -->
            <!-- <li class="nav-item"
              *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['import']==true">
              <h6 class="nav-link p-0" style="font-size: 11px;"
                (click)="navigationByUrl($event,'/manage-customer/import')">Add Beneficiary</h6>
            </li> -->
            <li class="nav-item" *ngIf="role == 'admin' || this.userData['emailId']=='it@bharathexim.com'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/SuperAdminPanel')">
                Super Admin Panel</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin' || this.userData['emailId']=='it@bharathexim.com'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/RoleBase')">Role Panel
              </h6>
            </li>
            <li class="nav-item"
              *ngIf="this.userData['role']=='manager' || this.userData['emailId']=='it@bharathexim.com'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/AdminPanel')">Admin
                Panel</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/powerAdmin/pending')">
                Admin User List</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;"
                (click)="navigationByUrl($event,'/powerAdmin/approved')">Approved</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;"
                (click)="navigationByUrl($event,'/powerAdmin/declined')">Declined</h6>
            </li>
          </ul>
          <div class="footer col-12">
            <ul class="list-unstyled components">
              <li class="nav-item">
                <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/Contact-Us')">
                  Contact Us</h6>
              </li>
              <li class="nav-item">
                <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/t&c')">Terms &
                  Condition</h6>
              </li>
            </ul>
            <h5 class="footer-heading">DocMachine 2023.</h5>
          </div>
        </div>
      </div>
    </nav>
    <div id="content" class="pl-0">
      <router-outlet>
        <app-confirm-dialog></app-confirm-dialog>
      </router-outlet>
    </div>
  </div>
</div>

<ng-custom-tooltips id="UserToolTips" #UserToolTipsPanel>
  <custom-header-tooltips>
    <div class="user_icons_top">
      <div class="left_user_pic">
        <img class="manager" src="./assets/new-img/user_pice.png" alt="" />
      </div>
      <div class="left_user_info">
        <h5 class="name">{{name}}</h5>
        <h6 class="side-name" *ngIf="this.userData['role'] == 'member'">
          {{this.userData['RoleCheckbox']!=''?this.userData['RoleCheckbox']:this.userData['role']}}
        </h6>
        <h6 class="side-name" *ngIf="role == 'admin'">Admin</h6>
        <h6 class="side-name" *ngIf="role == 'ca'">CA</h6>
        <h6 class="side-name" *ngIf="role == 'manager'">Manager</h6>
      </div>
    </div>
  </custom-header-tooltips>
  <custom-content-tooltips>
    <ul class="navbar-nav ml-auto" style="padding-left: 0px !important;margin: auto; margin-left: 0px!important;">
      <li class="nav-item profile-panel" style="display:grid;">
        <span class="fa fa-user"></span>
        <h6 class="p-0" class="CLOSE_CUSTOM_TOOLTIPS" [attr.ng-tooltips-popup]="'UserToolTips'"
          (click)="navigationByUrl($event,'/user-profiles')">Profile</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;">
        <span class="fa fa-calendar"></span>
        <h6 class="p-0" class="CLOSE_CUSTOM_TOOLTIPS" [attr.ng-tooltips-popup]="'UserToolTips'"
          (click)="navigationByUrl($event,'/Sheduler-Calender')">Sheduler-Calender</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;">
        <span class="fas fa-restroom"></span>
        <h6 class="p-0" class="CLOSE_CUSTOM_TOOLTIPS" [attr.ng-tooltips-popup]="'UserToolTips'"
          (click)="navigationByUrl($event,'/account')">Account</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;">
        <span class="fa fa-cog"></span>
        <h6 class="p-0">Settings</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;"
        *ngIf="documentService.AppConfig.environment=='LOCAL' || documentService.AppConfig.environment=='DEV'">
        <span class="fa fa-download"></span>
        <h6 class="p-0" (click)="navigationByUrl($event,'/TallyApiConnector')">Download Tally Connector</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;"
        *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['export']==true">
        <span class="fa fa-plus" aria-hidden="true"></span>
        <h6 class="p-0" (click)="navigationByUrl($event,'/AddBuyerNameAdminMember')">
          Add buyer</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;"
        *ngIf="this.userData['role']=='member'  && this.documentService.EXPORT_IMPORT['import']==true">
        <span class="fa fa-plus" aria-hidden="true"></span>
        <h6 class="p-0" (click)="navigationByUrl($event,'/AddBeneficiaryNameAdminMember')">
          Add Beneficiary</h6>
      </li>
      <li class="nav-item profile-panel" style="display:grid;">
        <span class="fa fa-sign-out"></span>
        <h6 class="p-0" class="CLOSE_CUSTOM_TOOLTIPS" [attr.ng-tooltips-popup]="'UserToolTips'"
          (click)="this.UserLoginLogOut()">Log Out</h6>
      </li>
    </ul>
  </custom-content-tooltips>
</ng-custom-tooltips>