<div class="grid">
  <div class="main_nave">
    <header class="logo d-none d-md-block">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img class="mlogo" src="./assets/new-img/LogoFinal.png" />
      </a>
    </header>
    <div class="main_nave_haeders">
      <nav class="navbar-dashboard">
        <div class="container-fluid p-0">
          <div class="d-flex">
            <div class="col-5">
              <input id="main-search" type="text " placeholder="Type to search. . . " />
            </div>
            <div class="col-custom mr-0">
              <div class="import_export_button m-auto" *ngIf="this.userData['role']!='manager' && this.userData['role']!='admin'">
                <div *ngIf="this.userData?.Subscription=='Export'">
                  <button type="button" (click)="typeChange('export','import')" class="type_active">
                    <span class="icon_top "></span>Export
                  </button>
                </div>
                <div *ngIf="this.userData?.Subscription=='Import'">
                  <button type="button" (click)="typeChange('import','export')" class="type_active">
                    <span class="icon_top"></span>Import </button>
                </div>
                <div *ngIf="this.userData?.Subscription=='both'">
                  <button type="button" (click)="typeChange('import','export')"
                    [ngClass]="userData?.sideMenu == 'import' ? 'type_active' : 'type_inactive'">
                    <span class="icon_top"></span>Import </button>
                  <button type="button" (click)="typeChange('export','import')"
                    [ngClass]="userData?.sideMenu == 'export' ? 'type_active' : 'type_inactive'">
                    <span class="icon_top "></span>Export
                  </button>
                </div>
              </div>
            </div>
            <div class="col-custom mr-4">
              <div class="language_options_right">
                <div class="language_options ">
                  <select style="cursor: pointer " class="dropdown " name="cars " id="cars ">
                    <option value="volvo ">English</option>
                    <option value="saab ">Hindi</option>
                    <option value="opel ">Kannada</option>
                    <option value="audi ">Tamil</option>
                  </select>
                </div>
                <div class="notfication ">
                  <ul>
                    <li><a routerLinkActive="active " ariaCurrentWhenActive="page "><span class="icon ">
                          <img src="./assets/new-img/header_not1.svg" />
                        </span></a></li>
                    <li>
                      <a routerLinkActive="active " ariaCurrentWhenActive="page ">
                        <span class="icon "><img src="./assets/new-img/header-user.svg " />
                        </span>
                      </a>
                      <div class="after_login_drop_down">
                        <div class="user_icons_top">
                          <div class="left_user_pic">
                            <img class="manager" src="./assets/new-img/user_pice.png" alt="" />
                          </div>
                          <div class="left_user_info">
                            <h5 class="name">{{name}}</h5>
                            <h6 class="side-name" *ngIf="this.userData['role'] == 'member'">
                              {{this.userData['RoleCheckbox']!=''?this.userData['RoleCheckbox']:this.userData['role']}}
                            </h6>
                            <h6 class="side-name" *ngIf="role == 'admin'">Admin</h6>
                            <h6 class="side-name" *ngIf="role == 'ca'">CA</h6>
                            <h6 class="side-name" *ngIf="role == 'manager'">Manager</h6>
                          </div>
                        </div>
                        <ul class="navbar-nav ml-auto" style="padding-left: 10px !important;">
                          <li class="nav-item" style="display: flex;">
                            <span class="account_icon"></span>
                            <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/user-profiles')">Profile</h6>
                          </li>
                          <li class="nav-item" style="display: flex;">
                            <span class="account_icon"></span>
                            <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/account')">Account</h6>
                          </li>
                          <li class="nav-item" style="display: flex;">
                            <span class="setting_icon"></span>
                            <h6 class="nav-link p-0">Settings</h6>
                          </li>
                          <li class="nav-item" style="display: flex;">
                            <span class="logout_icons"></span>
                            <h6 class="nav-link p-0" (click)="logout() ">Log Out</h6>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-0 pt-5" id="sidebar1">
          <a [routerLink]="['/home/dashboardTask']" class="sidebar-content" style="color: black;
          padding-left: 0;
          font-size: 20px;
          display: flex;
          background: white;
          max-width: 100%;
          width: 200px !important;
          border-radius: 0px;
          padding: 5px;
          font-weight: 600;">
            <span class="icon side-icon"><img style="width: 17px;filter: hue-rotate(358deg);" src="./assets/new-img/dashboard.svg" /> Dashboard</span> 
          </a>
        <div class="scroll-bar">
          <ul class="list-unstyled components mb-5 p-3">
            <li class="active"  *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documents</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/pipo-doc')">PI/PO</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/boe')">BOE</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/importCredit')">Credit Notes</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/importDebit')">Debit notes</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/importInsurance')">Insurance Documents</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/letterofcredit-import-lc')">Letter of Credit
                    (LC)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-master-services')">Master Service
                    Agreement
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/importTriParty')">Tri party agreements</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-opinion-report')">Opinion Reports</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/outward-remittance-advice')">Outward
                    Remittance
                    Advice</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-airway-bl-copy')">Airway/BL Copy</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-bill-of-exchange')">Bill Of Exchange
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-destruction')">Destruction Certificate
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-commercial')">Commercial Invoices</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-packing-list')">Packing List Documents
                  </h6>
                </li>
              </ul>
            </li>
            <li class="active"  *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['import']==true">
              <a href="#Transactions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transactions</a>
              <ul class="collapse list-unstyled" id="Transactions">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/add-advance-outward-remittance')">Advance remittance Flow</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/advance-outward-remittance')">Advance Outward
                    Remittance(Old)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/direct-import-payment')">Direct Import Payment(Old)
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Import-Direct-Payment')">Direct Import Payment(New)
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/import-direct-dispatch')">Import Bill Lodgement</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/a2cum-application-yesbank')">A2cum Application
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/fbg-waiver')">FBG Waiver</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/lc-isurance')">LC-Issuance</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/buyer-credit')">Buyer Credit</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunder.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_Collection']=true">
                    Bills Under Collection</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_Collection']==true ? 'display:block;' : 'display:none;'"
                    #subbillunder>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'lcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'lcUsance'})">Usance</h6>
                  </div>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunderlc.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_LC']=true">
                    Bills Under LC</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_LC']==true ? 'display:block;' : 'display:none;'" #subbillunderlc>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcUsance'})">Usance</h6>
                  </div>
                </li>
              </ul>
            </li>
            <li class="active"  *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true">
              <a href="#Documents" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documents</a>
              <ul class="collapse list-unstyled" id="Documents">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/pipo')">PI/PO Summary <i
                      style="font-size: 12px; margin-left:10px;" class="fas fa-plus-circle">
                    </i></h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/view-document/sb')">Shipping Bill</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/credit-note')">Credit Notes</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/debit-note')">Debit Notes</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/insurance-document')">Insurance Documents</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/letterofcredit-lc')">Letter of Credit (LC)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/master-services')">Master Service Agreement
                  </h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/try-party')">Triparty Agreements</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/opinion-report')">Opinion Reports</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/inward-remittance-advice')">Inward Remittance
                    Advice</h6>
                </li>
    
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/airway-bl-copy')">Airway/BL Copy</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/bill-of-exchange')">Bill Of Exchange</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/destruction')">Destruction Certificate</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/commercial')">Commercial Documents</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/packing-list')">Packing List Documents</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Sub-bill-Lodgement')">Bill-Lodgement</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/pipo-export')">PI/PO Master</h6>
                </li>
              </ul>
            </li>
            <li class="active"  *ngIf="this.userData['role']=='member' && this.documentService.EXPORT_IMPORT['export']==true">
              <a href="#Transactions" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transactions</a>
              <ul class="collapse list-unstyled" id="Transactions">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Pdf-Upload')">Inward Remittance Disposal</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/bill-lodgement')">Bill Under Collection</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/new-Bill-Under-Collection')">New Bill Under Collection</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0"
                    (click)="subbillunderlc.style.display='block';this.HIDE_ALL_SUB_MENU();this.SUB_MENU['Bills_Under_LC']=true">
                    Bills Under LC</h6>
                  <div class="sub-menu navbar-nav ml-auto"
                    [style]="this.SUB_MENU['Bills_Under_LC']==true ? 'display:block;' : 'display:none;'" #subbillunderlc>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcSight'})">Sight</h6>
                    <h6 class="nav-link p-0"
                      (click)="navigationByUrlParam($event,'/bill-under-collection',{file:'nonlcUsance'})">Usance</h6>
                  </div>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/packing-credit-request')">Packing Credit
                    Request(Old)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Packing-Credit-Request-New')">Packing Credit
                    Request(New)</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/direct-dispatch')">Export Bill Lodgement</h6>
                </li>
              </ul>
            </li>
            <li class="active" *ngIf="this.userData['role']=='member'">
              <a href="#TransactionDashBoard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaction Summary</a>
              <ul class="collapse list-unstyled" id="TransactionDashBoard">
                <li class="nav-item" *ngFor="let item of this.TRANSACTION_DASHBOARD_LIST">
                  <h6 class="nav-link p-0" (click)="navigationByUrlParam($event,'/Transaction-Dashboard',item)">{{item}}</h6>
                </li>
              </ul>
            </li>
            <li class="active" *ngIf="this.userData['role']=='member'">
              <a href="#EDPMS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">EDPMS</a>
              <ul class="collapse list-unstyled" id="EDPMS">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/edpms-recon')">EDPMS Recon</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/edpms-recon-table')">EDPMS Recon Table</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/Excel-Downloader')">Report</h6>
                </li>
              </ul>
            </li>
            <li class="active" *ngIf="this.userData['role']=='member'">
              <a href="#ApprovalPanel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Status Panel</a>
              <ul class="collapse list-unstyled" id="ApprovalPanel">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/pendingpanel')">Pending</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/approvalpanel')">Approved</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/rejectpanel')">Reject</h6>
                </li>
              </ul>
            </li>
            <li class="active" *ngIf="this.userData['role']=='member'">
              <a href="#Other" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Other</a>
              <ul class="collapse list-unstyled" id="Other">
                <li class="nav-item">
                <a [routerLink]="[ '/home/upload'] " class="sidebar-content ">
                  <span class="icon side-icon "><img src="./assets/new-img/upload.svg " /></span> Upload Documents
                </a>
               </li>
               <li class="nav-item">
                 <a class="sidebar-content ">
                   <span class="icon side-icon ">
                     <img src="./assets/new-img/transport.svg " />
                   </span> Transaction
                 </a>
              </li>
              <li class="nav-item">
              <a href="#ViewDocument" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">View Document </a>
              <ul id="ViewDocument" class="collapse list-unstyled">
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/view-document/sb')">Shipping Bill</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/view-document/boe')">BOE Documents</h6>
                </li>
                <li class="nav-item">
                  <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/view-document/pipo')">PI/PO Documents</h6>
                </li>
              </ul>
            </li>
             </ul>
            </li>
            <li *ngIf="this.userData['role']=='manager'">
              <a href="#ManagerPanel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manager Panel</a>
             <ul id="ManagerPanel" class="collapse list-unstyled">
              <li class="nav-item"><a class="sidebar-content" [routerLink]="['/home/manageUser'] ">Manage User</a>
              </li>
              <li class="nav-item">
                  <a href="#ManageCustomer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Customer</a>
                  <ul id="ManageCustomer" class="collapse list-unstyled">
                    <li class="nav-item">
                      <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/manage-customer/import')">Import</h6>
                    </li>
                    <li class="nav-item">
                      <h6 class="nav-link p-0" (click)="navigationByUrl($event,'/manage-customer/export')">Export</h6>
                    </li>
                  </ul>
              </li>           
             </ul>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/powerAdmin/pending')">Admin User List</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/powerAdmin/approved')">Approved</h6>
            </li>
            <li class="nav-item" *ngIf="role == 'admin'">
              <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/powerAdmin/declined')">Declined</h6>
            </li>
          </ul>
          <div class="footer col-12">
            <ul class="list-unstyled components">
              <li class="nav-item mt-2">
                <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/help')">Need Help?</h6>
              </li>
              <li class="nav-item">
                <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/')">Contact Us</h6>
              </li>
              <li class="nav-item">
                <h6 class="nav-link p-0" style="font-size: 11px;" (click)="navigationByUrl($event,'/t&c')">Terms & Condition</h6>
              </li>
            </ul>
            <h5 class="footer-heading">DocMachine 2020.</h5>
            <p class="footer-content ">
              Created with love for the community <br /> of designers and project managers.
            </p>
          </div>
        </div>
      </div>
    </nav>
    <div id="content" class="pl-0">
      <router-outlet>
        <app-confirm-dialog></app-confirm-dialog>
      </router-outlet>
    </div>
  </div>
</div>