<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="filter_section_top p-2">
            <div class="row m-0">
                <div style="margin: auto;margin-left: 0;">
                    <div class="import_export_sec">
                        <h3 class="heading_common_tag">Bill-Lodgement-Referance-AdviceCopy
                            ({{this.filteranytablepagination?.TABLE_CONTROLLER_DATA?.length}})</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="filter_right_new padding_new_top p-0">
                        <button type="button" class="btn btn-primary" (click)="exportToExcel()"><span
                                class="ex_icon"></span>Export</button>
                        <div class="filter_posit">
                            <button type="button" class="filter-popup btn btn-secondary"><span
                                    class="fi_icon filter-popup"></span>Filter</button>
                            <ng-custom-filter-popup (ResetEvent)="reset()" FormStyle="display: grid;
                                grid-template-columns: repeat(2,1fr);" (FilterEvent)="onSubmit($event)"
                                *ngIf="this.FILTER_FORM!=''" [data]="this.FILTER_FORM"></ng-custom-filter-popup>
                        </div>
                        <button class="upload-button btn btn-success"
                        [routerLink]="['/home/upload-documents/Export/Bill-Lodgement-Referance-AdviceCopy']">
                            <span class="add_icon"></span> ADD NEW
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics">
            <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" [ExpansionShowHide]="false"
                [items]="this.FILTER_VALUE_LIST_NEW?.items"
                [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass"
                [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" [PageSize]="this.FILTER_VALUE_LIST_NEW?.PageSize"
                TableName="blCopy" [SHOW_TABLE_TBODY]="this.filteranytablepagination?.SHOW_TABLE_TBODY"
                [TableFormat]="this.FILTER_VALUE_LIST_NEW" [FILTER_FORM_VALUE]="this.FILTER_FORM_VALUE"
                (EditChanges)="toEdit($event)" (ViewChanges)="viewDN($event)">
            </custom-expansion-panel>
        </div>
    </main>
</div>

<app-custom-model [customstyle]="{'margin':'auto !important'}" class="p-2" height="95vh" id="PDF_VIEW"
    name="BillLodgement-Referance-AdviceCopy">
    <div class="p-2">
        <app-pdf-viewer *ngIf="viewData!=''" [downloadShow]="false" name="BillLodgement-Referance-AdviceCopy"
            [src]="viewData" width="100%" height="500px"></app-pdf-viewer>
    </div>
</app-custom-model>