<mat-tab-group>
    <mat-tab label="Summary">
        <div class="p-2 SHIPING_BILL_POPUP" style="height: 84vh;">
            <app-ng-dropdown-custom placeHolderText="Select Buyer Name"
                [items]="this.exportbilllodgementdata?.BUYER_LIST"
                (modelChanges)="this.exportbilllodgementdata?.getShippingBill($event,'MatchOff')" bindLabel="buyerName"
                [multiple]="false">
            </app-ng-dropdown-custom>
            <mat-accordion>
                <mat-expansion-panel
                    *ngFor='let data of this.exportbilllodgementdata?.SHIPPING_BILL_DATA_LINKAGE;let i = index'>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <div class="d-flex flex-column">
                                <mat-panel-title>
                                    SB DETAILS
                                    <button style="margin: auto;
                                    margin-right: 10px;
                                    position: absolute;
                                    right: 80px;"
                                    class="btn btn-primary Transaction-btn"
                                    (click)="this.download(data)">.pdf</button>
                                    <button style="margin: auto;margin-right: 10px;"
                                        class="btn btn-primary Transaction-btn"
                                        (click)="this.exportbilllodgementdata?.dselect(data)">D-Select</button>
                                </mat-panel-title>
                                <table class="table mb-0">
                                    <tbody>
                                        <tr class="table-tr">
                                            <td class="col-td-th-3">
                                                SB DATE : {{data.sbdate}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB NUMBER : {{data.sbno}}
                                            </td>
                                            <td class="col-td-th-3">
                                                BUYER NAME : {{data.buyerName}}
                                            </td>
                                            <td class="col-td-th-3">
                                                CURRENCY : {{data.fobCurrency}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB AMOUNT : {{data.fobValue}}
                                            </td>
                                            <td class="col-td-th-3">
                                                AVAILABLE AMOUNT : {{data.balanceAvai}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex flex-column">
                        <mat-expansion-panel *ngFor='let commercialdata of data?.commercialdetails;let i = index'>
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div class="d-flex flex-column">
                                        <mat-panel-title>
                                            CI DETAILS
                                        </mat-panel-title>
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr class="table-tr">
                                                    <td class="col-td-th-3">
                                                        CI DATE : {{commercialdata.commercialDate}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI NO. : {{commercialdata.commercialNumber}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI Value(USD) : {{commercialdata.amount}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        Damages / Deductions(Debit Note) :
                                                        {{commercialdata.debitAmount}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        SB Amout to be realized : {{commercialdata.SB_Amout_Realized}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        Value to be Realised in FIRX(USD) :
                                                        {{commercialdata.IRADVICE_SUM}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <table class="table mb-0">
                                <thead>
                                    <tr class="table-tr">
                                        <th scope="col" class="col-td-th-1">FIRX Number/ID</th>
                                        <th scope="col" class="col-td-th-1">Recieved Amount</th>
                                        <th scope="col" class="col-td-th-1">Commision Amount</th>
                                        <th scope="col" class="col-td-th-1">Used Amount</th>
                                        <th scope="col" class="col-td-th-3">Available Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-tr"
                                        *ngFor='let IRM_REFdata of commercialdata?.MatchOffData;let j = index'>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata?.billNo}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata?.amount}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata?.commision}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata?.InputValue}}
                                        </td>
                                        <td class="col-td-th-3">
                                            {{IRM_REFdata?.BalanceAvail}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab label="Match Off">
        <div class="p-2 SHIPING_BILL_POPUP" style="height: 84vh;">
            <app-ng-dropdown-custom placeHolderText="Select Buyer Name"
                [items]="this.exportbilllodgementdata?.BUYER_LIST"
                (modelChanges)="this.exportbilllodgementdata?.getShippingBill($event,'MatchOff')" bindLabel="buyerName"
                [multiple]="false">
            </app-ng-dropdown-custom>
            <mat-accordion>
                <mat-expansion-panel [expanded]="data?.CheckBoxEnabled"
                    *ngFor='let data of this.exportbilllodgementdata?.SHIPPING_BILL_DATA;let i = index'>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                                <mat-panel-title>
                                    <p> SB DETAILS</p>
                                    <button style="margin: auto;margin-right: 10px;"
                                        class="btn btn-primary Transaction-btn"
                                        (click)="this.exportbilllodgementdata?.Reload">Refresh</button>
                                </mat-panel-title>
                                <table class="table mb-0">
                                    <tbody>
                                        <tr class="table-tr">
                                            <td class="col-td-th-1"><input [checked]="data?.CheckBoxEnabled"
                                                    type="checkbox"
                                                    (click)="this.exportbilllodgementdata?.setSelectedShippingBill($event,data)" />
                                            </td>
                                            <td class="col-td-th-3">
                                                SB DATE : {{data.sbdate}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB NUMBER : {{data.sbno}}
                                            </td>
                                            <td class="col-td-th-3">
                                                BUYER NAME : {{data.buyerName}}
                                            </td>
                                            <td class="col-td-th-3">
                                                CURRENCY : {{data.fobCurrency}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB AMOUNT : {{data.fobValue}}
                                            </td>
                                            <td class="col-td-th-3">
                                                AVAILABLE AMOUNT : {{data.balanceAvai}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex">
                        <table class="table mb-0">
                            <thead>
                                <tr class="table-tr">
                                    <th scope="col" class="col-td-th-1">#</th>
                                    <th scope="col" class="col-td-th-1">CI Date</th>
                                    <th scope="col" class="col-td-th-1">CI No.</th>
                                    <th scope="col" class="col-td-th-1">CI Value(USD)</th>
                                    <th scope="col" class="col-td-th-1">Select DNN</th>
                                    <th scope="col" class="col-td-th-3">Damages / Deductions(Debit Note)</th>
                                    <th scope="col" class="col-td-th-3">SB Amout to be realized</th>
                                    <th scope="col" class="col-td-th-1">FIRX Option</th>
                                    <th scope="col" class="col-td-th-3">Value to be Realised in FIRX(USD)</th>
                                    <th scope="col" class="col-td-th-3">View IRM Details...</th>
                                    <th scope="col" class="col-td-th-1">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-tr" [ngClass]="{'disabled-tr':commercialdata?.AmountUsed==true}"
                                    *ngFor='let commercialdata of data?.commercialdetails;let j = index'>
                                    <td class="col-td-th-1">
                                        <input type="checkbox" [checked]="commercialdata?.CheckBoxEnabled"
                                            (click)="this.exportbilllodgementdata?.TotalCommercialSum($event,data,commercialdata);" />
                                    </td>
                                    <td class="col-td-th-1">
                                        {{commercialdata.commercialDate}}
                                    </td>
                                    <td class="col-td-th-1">
                                        {{commercialdata.commercialNumber}}
                                    </td>
                                    <td class="col-td-th-1">
                                        {{commercialdata.amount}}
                                    </td>
                                    <td class="col-td-th-1">
                                        <button type="submit" class="PopupOpen btn btn-primary"
                                            popup-close="DEBIT_NOTE">Select
                                            DNN No.</button>
                                    </td>
                                    <td class="col-td-th-3">
                                        <p> {{commercialdata?.debitAmount}}</p>
                                    </td>
                                    <td class="col-td-th-3">
                                        <p> {{commercialdata?.SB_Amout_Realized}}</p>
                                    </td>
                                    <td class="col-td-th-1">
                                        <button type="submit" [disabled]="commercialdata?.Firxbutton"
                                            class="PopupOpen btn btn-primary" popup-close="FIRX"
                                            (click)="SelectIRM(j)">Select IRM
                                            No.</button>
                                    </td>
                                    <td class="col-td-th-3">
                                        {{commercialdata?.IRADVICE_SUM}}
                                    </td>
                                    <td class="col-td-th-3">
                                        <button style="width: 50%;" type="submit"
                                            class="filter-popup  btn btn-primary">More...</button>
                                        <!-- <ng-custom-filter-popup>
                                                <div class="col-12">
                                                  <table class="table mb-0">
                                                      <thead>
                                                          <tr class="table-tr">
                                                              <th scope="col" class="col-td-th-2">FIRX Number/ID</th>
                                                              <th scope="col" class="col-td-th-2">Recieved Amount</th>
                                                              <th scope="col" class="col-td-th-2">Commision Amount</th>
                                                              <th scope="col" class="col-td-th-2">Available Balance</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr class="table-tr"
                                                              *ngFor='let IRADVICE_DATAdata of commercialdata?.IRADVICE_DATA;let i = index'>
                                                              <td class="col-td-th-2">
                                                                  {{IRADVICE_DATAdata.billNo}}
                                                              </td>
                                                              <td class="col-td-th-2">
                                                                  {{IRADVICE_DATAdata.amount}}
                                                              </td>
                                                              <td class="col-td-th-2">
                                                                  {{IRADVICE_DATAdata.commision}}
                                                              </td>
                                                              <td class="col-td-th-2">
                                                                  {{IRADVICE_DATAdata.BalanceAvail}}
                                                              </td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                </div>
                                              </ng-custom-filter-popup> -->
                                    </td>
                                    <td class="col-td-th-1">
                                        <button type="submit"
                                            (click)="this.exportbilllodgementdata?.SaveChanges(data,i)"
                                            class="btn btn-primary">Save
                                            Changes</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>

<app-custom-model [FooterButton]="false" [modalbodystyle]="{height:'90vh !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="90vh" id="SHIPING_BILL_POPUP"
    [name]="'Selection of Shipping Bill'" #ShippingBill>
    <div class="p-2 SHIPING_BILL_POPUP">
        <app-ng-dropdown-custom placeHolderText="Select Buyer Name" [items]="this.exportbilllodgementdata?.BUYER_LIST"
            (modelChanges)="this.exportbilllodgementdata?.getShippingBill($event,'MatchOff')" bindLabel="buyerName"
            [multiple]="false">
        </app-ng-dropdown-custom>
        <mat-accordion>
            <mat-expansion-panel [expanded]="data?.CheckBoxEnabled"
                *ngFor='let data of this.exportbilllodgementdata?.SHIPPING_BILL_DATA;let i = index'>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                            <mat-panel-title>
                                SB DETAILS
                            </mat-panel-title>
                            <table class="table mb-0">
                                <tbody>
                                    <tr class="table-tr">
                                        <td class="col-td-th-1"><input [checked]="data?.CheckBoxEnabled" type="checkbox"
                                                (click)="this.exportbilllodgementdata?.setSelectedShippingBill($event,data)" />
                                        </td>
                                        <td class="col-td-th-3">
                                            SB DATE : {{data.sbdate}}
                                        </td>
                                        <td class="col-td-th-3">
                                            SB NUMBER : {{data.sbno}}
                                        </td>
                                        <td class="col-td-th-3">
                                            BUYER NAME : {{data.buyerName}}
                                        </td>
                                        <td class="col-td-th-3">
                                            CURRENCY : {{data.fobCurrency}}
                                        </td>
                                        <td class="col-td-th-3">
                                            SB AMOUNT : {{data.fobValue}}
                                        </td>
                                        <td class="col-td-th-3">
                                            AVAILABLE AMOUNT : {{data.balanceAvai}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="d-flex">
                    <table class="table mb-0">
                        <thead>
                            <tr class="table-tr">
                                <th scope="col" class="col-td-th-1">#</th>
                                <th scope="col" class="col-td-th-1">CI Date</th>
                                <th scope="col" class="col-td-th-1">CI No.</th>
                                <th scope="col" class="col-td-th-1">CI Value(USD)</th>
                                <th scope="col" class="col-td-th-1">Select DNN</th>
                                <th scope="col" class="col-td-th-3">Damages / Deductions(Debit Note)</th>
                                <th scope="col" class="col-td-th-3">SB Amout to be realized</th>
                                <th scope="col" class="col-td-th-1">FIRX Option</th>
                                <th scope="col" class="col-td-th-3">Value to be Realised in FIRX(USD)</th>
                                <th scope="col" class="col-td-th-3">View IRM Details...</th>
                                <th scope="col" class="col-td-th-1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-tr" *ngFor='let commercialdata of data?.commercialdetails;let j = index'>
                                <td class="col-td-th-1">
                                    <input type="checkbox" [checked]="commercialdata?.CheckBoxEnabled"
                                        (click)="this.exportbilllodgementdata?.TotalCommercialSum($event,data,commercialdata,commercialdata.Firxbutton=!commercialdata.Firxbutton);" />
                                </td>
                                <td class="col-td-th-1">
                                    {{commercialdata.commercialDate}}
                                </td>
                                <td class="col-td-th-1">
                                    {{commercialdata.commercialNumber}}
                                </td>
                                <td class="col-td-th-1">
                                    {{commercialdata.amount}}
                                </td>
                                <td class="col-td-th-1">
                                    <button type="submit" class="PopupOpen btn btn-primary"
                                        popup-close="DEBIT_NOTE">Select
                                        DNN No.</button>
                                </td>
                                <td class="col-td-th-3">
                                    <p> {{commercialdata?.debitAmount}}</p>
                                </td>
                                <td class="col-td-th-3">
                                    <p> {{commercialdata?.SB_Amout_Realized}}</p>
                                </td>
                                <td class="col-td-th-1">
                                    <button type="submit" [disabled]="commercialdata?.Firxbutton"
                                        class="PopupOpen btn btn-primary" popup-close="FIRX"
                                        (click)="SelectIRM(j)">Select IRM
                                        No.</button>
                                </td>
                                <td class="col-td-th-3">
                                    {{commercialdata?.IRADVICE_SUM}}
                                </td>
                                <td class="col-td-th-3">
                                    <button style="width: 50%;" type="submit" class="btn btn-primary">More...</button>
                                </td>
                                <td class="col-td-th-1">
                                    <button type="submit" (click)="this.exportbilllodgementdata?.SaveChanges(data,i)"
                                        class="btn btn-primary">Save
                                        Changes</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</app-custom-model>

<app-custom-model [FooterButton]="true" EventButton="false"
    [customstyle]="{'margin':'auto !important','max-width': '75vw !important','margin-top': '90px !important'}"
    class="p-2" height="400px" id="FIRX"
    [name]="'FIRX Number Against of : '+this.exportbilllodgementdata?.SELECTED_BUYER_NAME?.buyerName">
    <div class="container-fluid mt-2 mb-2">
        <div class="middle_bts">
            <div class="login py-5" style="padding: 0px !important; width:100%;">
                <div class="container_innser">
                    <section style="overflow: auto;
                    height: 60vh;">
                        <div class="d-flex" style="color: white;padding: 10px;background: #1844ce;gap: 20px;">
                            <h5 style="margin: auto;margin-left: 30px;">SB No. :
                                {{this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL?.sbno}}</h5>
                            <h5 style="margin: auto;margin-right: 30px;">SB Amount :
                                {{this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL?.fobValue}}</h5>
                            <h5 style="margin: auto;margin-right: 30px;">CI Amount :
                                {{this.exportbilllodgementdata?.SELECTED_COMMERICAIL_DATA?.amount}}</h5>
                            <h5 style="margin: auto;margin-right: 30px;">Total FIXR Amount : {{
                                this.exportbilllodgementdata?.TOTAL_FIRX_AMOUNT}}
                            </h5>
                        </div>
                        <table class="table mb-0">
                            <thead>
                                <tr class="table-tr">
                                    <th scope="col" class="col-td-th-1">#</th>
                                    <th scope="col" class="col-td-th-2">FIRX Number/ID</th>
                                    <th scope="col" class="col-td-th-2">Recieved Amount</th>
                                    <th scope="col" class="col-td-th-2">Commision Amount</th>
                                    <th scope="col" class="col-td-th-2">Available Balance</th>
                                    <th scope="col" class="col-td-th-2">Bank Charges</th>
                                    <th scope="col" class="col-td-th-2">Utilization Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-tr"
                                    *ngFor='let data of this.exportbilllodgementdata?.FIREX_DETAILS;let i = index'>
                                    <td class="col-td-th-1"><input [checked]="data?.isChecked"
                                            (click)="this.exportbilllodgementdata?.FirxSelection($event,this.CI_INDEX,data);"
                                            [disabled]="data?.Enabled" type="checkbox" />
                                    </td>
                                    <td class="col-td-th-2">
                                        {{data.billNo}}
                                    </td>
                                    <td class="col-td-th-2">
                                        {{data.amount}}
                                    </td>
                                    <td class="col-td-th-2">
                                        {{data.commision}}
                                    </td>
                                    <td class="col-td-th-2">
                                        {{data.BalanceAvail}}
                                    </td>
                                    <td class="col-td-th-2">
                                        <div class="d-flex">
                                            <button class="btn-primary yes-btn btn remove-no-button"
                                               (click)="data.YesNo='true';this.exportbilllodgementdata?.BankChargesAmount(data,'Yes')"
                                                [ngClass]="{'yes-button':data?.YesNo=='true','remove-no-button-1':data?.YesNo=='false'}">YES</button>
                                            <button (click)="data.YesNo='false';this.exportbilllodgementdata?.BankChargesAmount(data,'No')" class="btn-primary btn no-btn remove-no-button"
                                                [ngClass]="{'no-button':data?.YesNo=='false','remove-no-button-2':data?.YesNo=='true'}">NO</button>
                                        </div>
                                    </td>
                                    <td class="col-td-th-2">
                                        <input type="text"
                                            (keypress)="this.exportbilllodgementdata?.FIRXAMOUNT(data,$event)"
                                            [(ngModel)]="data.InputValue">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</app-custom-model>