<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div class="accordion" id="syllabus2">
    <div class="card">
      <div
        class="card-header"
        id="first1"
        data-target="#firstbody1"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="firstbody1"
        style="text-align: center"
      >
        <h5>
          Service
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="firstbody1"
        aria-labelledby="first1"
        data-parent="#syllabus2"
      >
        <ul>
          <li>What is Service ?</li>
          <li>Create a Service.</li>
          <li>Async Service and Promise</li>
          <li>Introduction to Observable</li>
          <li>Injectable Services</li>
          <li>Dependencey Injection</li>
          <li>Shared Service</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header"
        id="second2"
        data-target="#secondbody2"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="secondbody2"
        style="text-align: center"
      >
        <h5>
          Material Design
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="secondbody2"
        aria-labelledby="second2"
        data-parent="#syllabus2"
      >
        <ul>
          <li>Introduction to Material Design</li>
          <li>How to use Material components</li>
          <li>Material Grid</li>
          <li>Material Card</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header"
        id="third3"
        data-toggle="collapse"
        data-target="#thirdbody3"
        aria-expanded="false"
        aria-controls="thirdbody3"
        style="text-align: center"
      >
        <h5>
          Forms
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="thirdbody3"
        aria-labelledby="third3"
        data-parent="#syllabus2"
      >
        <ul>
          <li>What are Forms and how we handle it ?</li>
          <li>Template Driven</li>
          <li>Access of Forms</li>
          <li>Create Reactive form through code</li>
          <li>What are Reactive Forms</li>
          <li>Custom Validators</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header"
        id="fourth4"
        data-toggle="collapse"
        data-target="#fourthbody4"
        aria-expanded="false"
        aria-controls="fourthbody4"
        style="text-align: center"
      >
        <h5>
          Pipes
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="fourthbody4"
        aria-labelledby="fourth4"
        data-parent="#syllabus2"
      >
        <ul>
          <li>What are Pipes in Angular ?</li>
          <li>Chaining Multiple Pipes in Angular.</li>
          <li>Filter Pipe</li>
          <li>Async Pipes</li>
          <li>Parameterizing a Pipe</li>
          <li>Impure & Pure Pipe</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header"
        id="fifth5"
        data-target="#fifthbody5"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="fifthbody5"
        style="text-align: center"
      >
        <h5>
          HTTP Requests
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="fifthbody5"
        aria-labelledby="fifth5"
        data-parent="#syllabus2"
      >
        <ul>
          <li>What is HTTP requests ?</li>
          <li>How to send requests ?</li>
          <li>How to handle get and put request</li>
          <li>async with http request</li>
          <li>Catching http error</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header"
        id="sixth6"
        data-target="#sixthbody6"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="sixthbody6"
        style="text-align: center"
      >
        <h5>
          Unit Testing
          <i
            style="float: right; font-size: 25px"
            class="bx bxs-plus-circle"
          ></i>
        </h5>
      </div>
      <div
        class="collapse"
        id="sixthbody6"
        aria-labelledby="sixth6"
        data-parent="#syllabus2"
      >
        <ul>
          <li>What is Unit testing ?</li>
          <li>Adding Components with tests</li>
          <li>Running test with CLI</li>
          <li>Async Tasks</li>
          <li>Component and Dependencies</li>
        </ul>
      </div>
    </div>
  </div>
</div>
