<div class="content_top_common scroll-bar-main content_white_background">
  <div class="content-wrap">
    <div class="container-fluid">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Documents Id</th>
      <th scope="col">Date</th>
      <th scope="col">Customer/Supplier</th>
      <th scope="col">Approve Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
