<div class="content-wrap ml-0 scroll-bar-main content_white_background">
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr class="table-tr">
          <th scope="col" class="col-td-th-1">#</th>
          <th scope="col" class="col-td-th-1">Id</th>
          <th scope="col" class="col-td-th-2">Summary Page Name</th>
          <th scope="col" class="col-td-th-2">Date</th>
          <th scope="col" class="col-td-th-1">Status</th>
          <th scope="col" class="col-td-th-2">Comments</th>
          <th scope="col" class="col-td-th-2" *ngIf="this.USER_DETAILS?.RoleCheckbox!='Maker'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.DATA_CREATE let i=index" class="table-tr">
          <td class="col-td-th-1">{{i+1}}</td>
          <td class="col-td-th-1">{{item?.UniqueId}}</td>
          <td class="col-td-th-2">{{item['tableName']}} | {{item['TypeOfPage']}}</td>
          <td class="col-td-th-2">{{item['createdAt']}}</td>
          <td class="col-td-th-1">
            <label>{{item['status']}}</label>
          </td>
          <td class="col-td-th-2">
            <label>{{item['comment']}}</label>
          </td>
          <td class="col-td-th-2">
            <div class="column flex-display"
              *ngIf="this.USER_DETAILS?.RoleCheckbox==='Approver' || this.USER_DETAILS?.RoleCheckbox==''">
              <button type="submit" class="btn btn-success" (click)="Approved({
              id: item['_id'],
              Tableid: item['id'],
              tableName:item['tableName'],
              status:'Approved',
              deleteflag:'2'
            },i)">Approve</button>
              <button type="submit" class="btn btn-danger" (click)="Reject({
              id: item['_id'],
              Tableid: item['id'],
              tableName:item['tableName'],
              status:'Rejected',
              deleteflag:'0',
              Types:item['Types']
            },i)">Reject</button>
              <button type="submit" class="btn btn-primary PopupOpen" popup-close="Documents_View"
                (click)="openView(item,i)">View</button>
            </div>
            <div class="column flex-display"
              *ngIf="this.USER_DETAILS?.RoleCheckbox==='Checker' && item['status']!='Verify'">
              <button type="submit" class="btn btn-success" (click)="Approved({
              id: item['_id'],
              Tableid: item['id'],
              tableName:item['tableName'],
              status:'Verify',
              deleteflag:'1'
            },i)">Verify</button>
              <button type="submit" class="btn btn-danger" (click)="Reject({
              id: item['_id'],
              Tableid: item['id'],
              tableName:item['tableName'],
              status:'Rejected',
              deleteflag:'0',
              Types:item['Types']
            },i)">Reject</button>
              <button type="submit" *ngIf="item?.Types=='downloadPDF'" class="btn btn-primary PopupOpen" [attr.popup-close]="'Documents_View'"
                (click)="openView(item,i)">View</button>
              <button type="submit" *ngIf="item?.Types!='downloadPDF'" class="btn btn-primary PopupOpen" [attr.popup-close]="'Documents_View'"
                (click)="openView(item,i)">View</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>