<upload-components-header title="Upload/Import/New Proforma invoice/ Purchase Order" id="Shippingbill"
    (UploadHeaderEvent)="clickPipo($event)" [PIPO_DISABLED]="false">
    <div class="upload-panel" *ngIf="publicUrl!=''">
        <app-pdf-viewer class="pt-3" [downloadShow]="false" [src]="publicUrl" width="100%"
            Newheight="700px"></app-pdf-viewer>
        <upload-components id="PIPO_IMPORT" [AddNewRequried]="true" (SubmitEvent)="onSubmit($event)"></upload-components>
    </div>
</upload-components-header>
<upload-popup id="Shippingbill" url="member/uploadImage" (event)="response($event)"></upload-popup>