<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <summary-page-header [Length]="this.filteranytablepagination?.TABLE_CONTROLLER_DATA?.length"
            TITLE="Destruction Certificate" (exportToExcel)="exportToExcel()" (reset)="reset()"
            (onSubmit)="onSubmit($event)" [RouterLink]="['/home/upload-documents/Export/DestructionCertificates']"
            [FILTER_FORM]="this.FILTER_FORM">
        </summary-page-header>
        <div class="analytics">
            <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" [ExpansionShowHide]="false"
                [items]="this.FILTER_VALUE_LIST_NEW?.items"
                [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass"
                [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" [PageSize]="this.FILTER_VALUE_LIST_NEW?.PageSize"
                TableName="destructions" [SHOW_TABLE_TBODY]="this.filteranytablepagination?.SHOW_TABLE_TBODY"
                [TableFormat]="this.FILTER_VALUE_LIST_NEW" [FILTER_FORM_VALUE]="this.FILTER_FORM_VALUE"
                (ViewChanges)="viewpdf($event)" (EditChanges)="toEdit($event)" (DeleteChanges)="handleDelete($event)">
            </custom-expansion-panel>
        </div>
    </main>
</div>

<app-custom-model [customstyle]="{'margin':'auto !important'}" class="p-2" height="95vh" id="PDF_VIEW"
    name="Destruction Certificate">
    <div class="p-2">
        <app-pdf-viewer *ngIf="viewData!=''" [downloadShow]="false" name="Destruction Certificate" [src]="viewData"
            width="100%" height="500px"></app-pdf-viewer>
    </div>
</app-custom-model>

<app-custom-model *ngIf="this.SELECTED_VALUE!=''"
    [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
    EventButton="false" [customstyle]="{'max-width':'63vw !important'}" class="p-2 mt-2" id="EditSummaryPage"
    [name]="'Destruction Certificate Update || Destruction Certificate No. : '+this.SELECTED_VALUE?.destructionNumber"
    #EditSummaryPagePanel>
    <div class="ml-0 p-3 col-12">
        <div class="container-fluid m-auto p-0">
            <div class="content_white_background" style="height: auto;">
                <main id="content" class="table-padding" role="main" style="border-radius: 10px;">
                    <div class="new_document_list1">
                        <div class="d-flex col-12 p-0 pt-3" id="FromClientRequest" style="flex-direction: column;">
                            <div class="row col-12 mt-0 p-0">
                                <div class="row col-12 p-0">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">DATE</label>
                                        <ng-custom-input type="date" [(ngInput)]="this.EDIT_FORM_DATA.destructionDate"
                                            placeHolderText="O R DATE"></ng-custom-input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Destruction Certificate No.</label>
                                        <ng-custom-input type="text" [(ngInput)]="this.EDIT_FORM_DATA.destructionNumber"
                                            placeHolderText="Destruction Certificate No."></ng-custom-input>
                                    </div>
                                </div>
                                <div class="row col-12 p-0">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">BUYER NAME</label>
                                        <ng-custom-input type="text" [(ngInput)]="this.EDIT_FORM_DATA.buyerName"
                                            placeHolderText="BUYER NAME"></ng-custom-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12 mt-0 p-0 pl-2 pb-2">
                                <button class="btn btn-primary"
                                    (click)="toSaveNew(this.EDIT_FORM_DATA,this.SELECTED_VALUE?._id,EditSummaryPagePanel)">Update</button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</app-custom-model>