.custom-dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  border-radius: 5px;
  background: white;
  text-align: left;
  line-height: 27px;
  color: #444;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  border: 1px solid #ccc;
  height: 36px;

}

.custom-dropdown::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-width: 6px 5px 0 5px;
  border-style: solid;
  border-color: #a0a0a0 transparent;
}

.custom-dropdown.custom-dropdown-active {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-dropdown.custom-dropdown-active::before {
  border-width: 0 6px 5px 5px;
}

.custom-dropdown .dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: inherit;
  box-shadow: inherit;
  background: inherit;
  transition: opacity .3s ease;
  transform-origin: top;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  color: black;
  background: white;
  box-shadow: unset;
  margin-top: -1px;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100.5%;
  margin: auto;
  margin-left: -1px;
}

.custom-dropdown .dropdown li {
  overflow: hidden;
  padding: 6px 10px;
  font-size: 1em !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-weight: 500;
  height: 100%;
  transition: all .5s ease-in-out;
}

.custom-dropdown .dropdown li:last-child {
  border-bottom: none;
}

.custom-dropdown .dropdown li:hover {
  background: #ebf5ff;
}

.custom-dropdown.custom-dropdown-active .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 999999;
  height: auto;
  min-height: auto !important;
  max-height: 200px;
  overflow: auto;
  color: #000;
  background: white;
  padding: 0;
  font-size: 12px;
  top: 100%;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  left: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom-dropdown.custom-dropdown-active .dropdown::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-dropdown input {
  border: none !important;
  outline: none;
  background: transparent;
  font-size: 11px;
  color: black;
  padding-left: 10px;
  height: 100% !important;
}

.clear-input {
  position: absolute;
  right: 33px;
  color: #a0a0a0;
  z-index: 99;
  top: 5px;
  font-size: 18px;
}

.clear-input:hover {
  color: #D0021B;
}

.custom-dropdown input::placeholder {
  font: 11px sans-serif;
}

.disabled-dropdown {
  pointer-events: none;
  opacity: 0.8;
}