<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="filter_section_top p-2">
            <div class="row m-0">
                <div style="margin: auto;margin-left: 0;">
                    <div class="import_export_sec">
                        <h3 class="heading_common_tag">PI / PO Documents ({{this.filteranytablepagination?.TABLE_CONTROLLER_DATA?.length}})</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="filter_right_new padding_new_top p-0">
                        <button type="button" class="btn btn-primary" (click)="exportToExcel()"><span
                                class="ex_icon"></span>Export</button>
                        <div class="filter_posit">
                            <button type="button" class="filter-popup btn btn-secondary"><span
                                    class="fi_icon filter-popup"></span>Filter</button>
                            <ng-custom-filter-popup (ResetEvent)="reset()" FormStyle="display: grid;
                        grid-template-columns: repeat(2,1fr);" (FilterEvent)="onSubmit($event)"
                                *ngIf="this.FILTER_FORM!=''" [data]="this.FILTER_FORM"></ng-custom-filter-popup>
                        </div>
                        <button type="button" class="btn btn-success" routerLink='/home/upload-documents/Export/PIPO'
                            [disabled]="this.USER_DATA?.result?.Role_Type=='Approver'"><span class="add_icon"></span>ADD
                            NEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="data_table_new" #piposummery>
            <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" [ExpansionShowHide]="false"
                [items]="this.FILTER_VALUE_LIST_NEW?.items" [eventId]="this.FILTER_VALUE_LIST_NEW?.eventId"
                [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass"
                [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" (event)="MouseHover($event,CustomHoverPanel)"
                [PageSize]="this.FILTER_VALUE_LIST_NEW?.PageSize"
                TableName="pi_po"
                [SHOW_TABLE_TBODY]="this.filteranytablepagination?.SHOW_TABLE_TBODY"
                [TableFormat]="this.FILTER_VALUE_LIST_NEW"
                [FILTER_FORM_VALUE]="this.FILTER_FORM_VALUE"
                (ViewChanges)="toView($event)" (EditChanges)="toEdit($event)" (DeleteChanges)="handleDelete($event)">
            </custom-expansion-panel>
        </div>
    </main>
</div>

<custom-hover-panel [pipoid]="this.HOVER_DATA" #CustomHoverPanel></custom-hover-panel>

<div class="modal" tabindex="-1" #ApprovalDetails style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rejected Details</h5>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close"
                    (click)="ApprovalDetails.style.display='none'">close</button>
            </div>
            <div class="modal-body">
                <div class="column" *ngIf="this.detailsViewdata.length!=0">
                    <p class="done-by"><span class="bold-text">Done By :</span>
                        {{this.detailsViewdata['userdetails']['fullName']}}</p>
                    <p class="date-time"><span class="bold-text">Date & Time :</span>
                        {{this.detailsViewdata['updatedAt']}}</p>
                    <p class="status"><span class="bold-text">Status :</span> {{this.detailsViewdata['status']}}</p>
                    <p class="comments"><span class="bold-text">Comments :</span>
                        {{this.detailsViewdata['rejectcomment']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>