<!-- <div *ngIf="login">
    <app-detail></app-detail>

</div>

<div *ngIf="login"></div>

<app-detail></app-detail> -->
<app-custom-confirm-dialog-model></app-custom-confirm-dialog-model>
<div [class]="this.doc.loading==true?'loading-overlay visible' : 'hidden'">
 <div class="container loading-main">
        <div class="loading-container">
          <span class="loading one"></span>
          <span class="loading two"></span>
          <span class="loading three"></span>
          <span class="loading four"></span>
        </div>
      </div>
</div>

<div>
<router-outlet></router-outlet>
</div>
