.content-wrap {
    margin: auto;
}

.import_export_sec {
    margin: auto;
    margin-left: 0;
}

.filter_section_top {
    display: grid;
    width: 99%;
    background-color: #f6f6f6;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #dbdbdb;
    padding-right: 20px;
}

.middle_datatable .support {
    height: calc(100vh - 159px);
}

.table-padding {
    background-color: transparent !important;
    box-shadow: none;
}

.content-wrap.scroll-bar-main {
    overflow: hidden;
    padding: 0;
}

.filter_right_new.padding_new_top {
    display: flex;
    gap: 10px;
}