<div class="container">
  <div class="row">
    <app-step-tracker-icons class="nav"> </app-step-tracker-icons>
    <div class="column">
      <form [formGroup]="stepForm" name="stepForm">
        <ng-container *ngIf="this.formService.FORM_CREATE_BOOLEAN==true">
          <div *ngFor="let item of this.formService.FORM_CREATE_LIST;let i=index;" style="width: 100%;">
            <div *ngIf="this.formService.TitleDesciption?.length!=0 && activeStep$ ==(i+1)">
              <label class="title-text">{{this.formService.TitleDesciption[i]?.Title}}</label>
              <p class="description">{{this.formService.TitleDesciption[i]?.description}}</p>
            </div>
            <upload-components *ngIf="activeStep$ ==(i+1)" [HIDE_SUBMIT_BUTTON]="false" [KEY_ENTER_ENABLED]="true"
              style="width: 100%;" [id]="item" [HIDE_BACKGROUND]="false" #FACTOR_AUTH_PANEL>
              <ng-content></ng-content>
            </upload-components>
            <app-progression-buttons (onSubmit)="confirmAndSubmitForm($event)"
              [ButtonDisabled]="this.validator?.dynamicFormGroup[item]?.status!='INVALID' && this.formService.TitleDesciption[i]?.condition==false?false:true"
              class="progress" *ngIf="activeStep$ ==(i+1)"></app-progression-buttons>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>