<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="container-fuild">
            <div class="col-13 panel">
              <div class="left-panel">
                <img src="../../../assets/back.png" [routerLink]="['/home/dashboardTask']"
                style="width: 20px; height: 20px;"><span style="margin-left: 10px;"
                [routerLink]="['/home/dashboardTask']">Back</span>
              </div>
                  <div class="right-panel">
                    <h6 class="display-5">Invite your team <span class="text-left" style="font-size: 15px;" *ngIf="item1.length!=0">| Total Member : {{item1.length}}</span></h6>
                    <button type="button" class="btn btn-primary" (click)="OpenPopup(formmodel)"> Add</button>
                  </div>
            </div>
            <div class="container1 p-3">
                <div *ngFor="let data of item1 let i=index" id="login-container">
                    <div class="content1 top-panel">
                        <div *ngIf="data.imageUrl">
                            <img class="img2" src="{{data.imageUrl}}" [alt]="data.name+' \nimage not found...'">
                        </div>
                        <div *ngIf="!data.imageUrl">
                            <img class="img4" src="./assets/ic_mail-2.png">
                        </div>
                    </div>
                    <div class="content1">
                        <h6 class="name">{{data.name}}</h6>
                        <h6 class="email">{{data.email}}</h6>
                    </div>
                      <div class="row pb-3 flex-display">
                        <div class="bottom" (click)="EditData(Editformmodel.style.display='block',{id:data['_id'],index:i})">
                          <img src="./assets/Eye.png">Edit
                      </div>
                      <div class="bottom bottom1" (click)="deleteuser(data)">
                          <i class="fa fa-trash" aria-hidden="true"></i> Delete
                      </div>
                       </div>
                </div>
            </div>
            <br>
            <div>
                <button [routerLink]="['/home/dashboard']">Finish</button>
            </div>
        </div>
    </main>
</div>
<div class="modal" id="formmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #formmodel>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Member</h5>
        <button type="button" class="btn-close" (click)="formmodel.style.display='none'"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="button-wrapper">
          <form class="form" method="POST">
            <p class="heading">Add New Member</p>
              <span class="label">
                  <img *ngIf="!toggle" class="img1" src="./assets/ic_mail-2.png">
                  <img *ngIf="toggle" class="img3" src="{{img}}" style="height: 70px; width: 70px;">
              </span>
              <div *ngIf="!toggle" class="upload-div">
                  <input name="upload" class="upload-box" placeholder="Upload File"
                      (error)="onUploadError($event)" (init)="onUploadInit($event)"
                      (success)="onUploadSuccess($event)" *ngIf="type === 'directive'"
                      [dropzone]="config" class="dropzone dropzone-container" id="dropzone">
              </div>
          </form>
      </div>
        <form [formGroup]="memeberForm" (ngSubmit)="onSubmit(formmodel)">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name : </label>
            <input type="text" class="form-control p-2" id="recipient-name"
            formControlName="name" placeholder="Enter Name"  [ngClass]="{ 'is-invalid': submitted && this.FORM_BUILDER['name']==''}"
            (keyup)="FORM_BUILDER_INSERT_VALUE('name',$event.target.value)"
            >
            <div *ngIf="submitted && this.FORM_BUILDER['name']==''" class="invalid-feedback">
              <div *ngIf="this.FORM_BUILDER['name']==''">name is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Email id :</label>
            <input class="form-control p-2" id="message-text" formControlName="email"
            type="text" placeholder="Enter Email Id" [ngClass]="{ 'is-invalid': submitted && this.FORM_BUILDER['email']==''}"
            (keyup)="FORM_BUILDER_INSERT_VALUE('email',$event.target.value)"
            >
            <div *ngIf="submitted && this.FORM_BUILDER['email']==''" class="invalid-feedback">
              <div *ngIf="this.FORM_BUILDER['email']==''">Email id is required</div>
            </div>
          </div>
            <div class="mb-3" *ngIf="this.userData?.result['Subscription']!='both'">
            <label for="message-text" class="col-form-label">Subscription :</label>
            <select class="form-select" aria-label="Default select example" disabled
            [ngClass]="{ 'is-invalid': submitted && this.FORM_BUILDER['UnderSubscription']=='' ||
            this.FORM_BUILDER['UnderSubscription']==='Select Subscription' }"
            (change)="FORM_BUILDER_INSERT_VALUE('UnderSubscription',$event.target.value)">
              <option [value]="this.userData?.result['Subscription']">{{this.userData?.result['Subscription']}}</option>
            </select>
            <div *ngIf="submitted && this.FORM_BUILDER['UnderSubscription']=='' ||
              this.FORM_BUILDER['UnderSubscription']=='Select Subscription'" class="invalid-feedback">
              <div *ngIf="this.FORM_BUILDER['UnderSubscription']=='' ||
              this.FORM_BUILDER['UnderSubscription']=='Select Subscription'">UnderSubscription is required</div>
            </div>
          </div>
          <div class="mb-3" *ngIf="this.userData?.result['Subscription']=='both'">
            <label for="message-text" class="col-form-label">Subscription :</label>
            <select class="form-select" aria-label="Default select example"
            [ngClass]="{ 'is-invalid': submitted && this.FORM_BUILDER['UnderSubscription']=='' ||
            this.FORM_BUILDER['UnderSubscription']==='Select Subscription' }"
            (change)="FORM_BUILDER_INSERT_VALUE('UnderSubscription',$event.target.value)">
            <option value="">Select Option</option>
            <option value="Export">Export</option>
            <option value="Import">Import</option>
            </select>
            <div *ngIf="submitted && this.FORM_BUILDER['UnderSubscription']=='' ||
              this.FORM_BUILDER['UnderSubscription']=='Select Subscription'" class="invalid-feedback">
              <div *ngIf="this.FORM_BUILDER['UnderSubscription']=='' ||
              this.FORM_BUILDER['UnderSubscription']=='Select Subscription'">Subscription is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Role_Type :</label>
            <select class="form-select" aria-label="Default select example" disabled
            [ngClass]="{ 'is-invalid': submitted && this.FORM_BUILDER['Role_Type']=='' ||
            this.FORM_BUILDER['Role_Type']==='Select Subscription' }"
            (change)="FORM_BUILDER_INSERT_VALUE('Role_Type',$event.target.value)">
              <option [value]="this.userData?.result['Role_Type']">{{this.ROLE_LIST[this.userData?.result['Role_Type']]}}</option>
            </select>
            <div *ngIf="submitted && this.FORM_BUILDER['Role_Type']=='' ||
              this.FORM_BUILDER['Role_Type']=='Select Subscription'" class="invalid-feedback">
              <div *ngIf="this.FORM_BUILDER['Role_Type']=='' ||
              this.FORM_BUILDER['Role_Type']=='Select Subscription'">Role_Type is required</div>
            </div>
          </div>
         <div class="mb-3">
            <div class="row flex col-5" *ngIf="this.userData?.result['Role_Type']=='1'">
                <!-- <label for="message-text" class="col-form-label">Role : </label> -->
                <!-- <div class="form-check" *ngFor="let cat of [{value:'Maker'},{value:'Checker'},{value:'Approver'}]">
                  <input class="form-check-input" (change)="onChange(cat.value, $event.target.checked)"name="{{ cat.value }}"
                   type="checkbox" id="{{cat.value}}">
                  <label class="form-check-label" for="{{cat.value}}">
                      {{cat.value}}
                  </label>
              </div> -->
            </div>
            <div class="column"  *ngIf="this.userData?.result['Role_Type']=='2'">
              <label for="message-text" class="col-form-label">Role : </label>
              <div class="row flex col-5">
                  <div class="form-check" *ngFor="let cat of [{value:'Maker'},{value:'Approver'}]">
                    <input class="form-check-input" (change)="onChange($event,cat.value, $event.target.checked)"name="{{ cat.value }}"
                     type="checkbox" id="{{cat.value}}">
                    <label class="form-check-label" for="{{cat.value}}">
                        {{cat.value}}
                    </label>
                </div>
                </div>
              </div>
              <div class="column"  *ngIf="this.userData?.result['Role_Type']=='3'">
                <label for="message-text" class="col-form-label">Role : </label>
                <div class="row flex col-5">
                <div class="form-check" *ngFor="let cat of [{value:'Maker'},{value:'Checker'},{value:'Approver'}]">
                  <input class="form-check-input" (change)="onChange($event,cat.value, $event.target.checked)"name="{{ cat.value }}"
                   type="checkbox" id="{{cat.value}}">
                  <label class="form-check-label" for="{{cat.value}}">
                      {{cat.value}}
                  </label>
              </div>
              </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formmodel.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="formmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #Editformmodel>
  <div class="modal-dialog" *ngIf="this.SELECTED_INDEX!=0">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
        <button type="button" class="btn-close" (click)="Editformmodel.style.display='none'"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="button-wrapper">
          <form class="form" method="POST">
            <p class="heading">Update Member</p>
              <span class="label">
                  <img class="img3" [src]="this.SELECTED_EDIT_DATA['imageUrl']" style="height: 70px; width: 70px;">
              </span>
              <div *ngIf="!toggle" class="upload-div">
                  <input name="upload" class="upload-box" placeholder="Upload File"
                      (error)="onUploadError($event)" (init)="onUploadInit($event)"
                      (success)="onUploadSuccess($event)" *ngIf="type === 'directive'"
                      [dropzone]="config" class="dropzone dropzone-container" id="dropzone">
              </div>
          </form>
      </div>
        <form [formGroup]="memeberForm" (ngSubmit)="onEditSubmit(Editformmodel,{
          email: editemail.value,
          name:editname.value
        })">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name : </label>
            <input type="text" class="form-control p-2" id="recipient-name" [value]="this.SELECTED_EDIT_DATA['name']"
             #editname placeholder="Enter Name"  [ngClass]="{ 'is-invalid': submitted && this.EDIT_FORM_BUILDER['name']==''}"
            (keyup)="EDIT_FORM_BUILDER_INSERT_VALUE('name',$event.target.value)">
            <div *ngIf="submitted && this.EDIT_FORM_BUILDER['name']==''" class="invalid-feedback">
              <div *ngIf="this.EDIT_FORM_BUILDER['name']==''">name is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Email id :</label>
            <input class="form-control p-2" id="message-text"
            [value]="this.SELECTED_EDIT_DATA['email']"
            type="text" #editemail placeholder="Enter Email Id" [ngClass]="{ 'is-invalid': submitted && this.SELECTED_EDIT_DATA['email']==''}"
            (keyup)="EDIT_FORM_BUILDER_INSERT_VALUE('email',$event.target.value)"
            >
            <div *ngIf="submitted && this.SELECTED_EDIT_DATA['email']==''" class="invalid-feedback">
              <div *ngIf="this.SELECTED_EDIT_DATA['email']==''">Email id is required</div>
            </div>
          </div>
          <div class="mb-3">
            <app-checkbox-components [data]="[{value:'Maker'},{value:'Checker'},{value:'Approver'}]"></app-checkbox-components>
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Editformmodel.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>

