<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="container-fuild">
            <div class="col-13 panel">
              <div class="left-panel">
                <img src="../../../assets/back.png" [routerLink]="['/home/dashboardTask']"
                style="width: 20px; height: 20px;"><span style="margin-left: 10px;"
                [routerLink]="['/home/dashboardTask']">Back</span>
              </div>
                  <div class="right-panel">
                    <h6 class="display-5">Invite your team</h6>
                    <button type="button" class="btn btn-primary" (click)="formmodel.style.display='block'">Add</button>
                  </div>
            </div>
            <div class="container1 pt-3">
                <div *ngFor="let data of item1" id="login-container">
                    <div class="content1 top-panel">
                        <div *ngIf="data.imageUrl">
                            <img class="img2" src="{{data.imageUrl}}" [alt]="data.name">
                        </div>
                        <div *ngIf="!data.imageUrl">
                            <img class="img4" src="./assets/ic_mail-2.png">
                        </div>
                    </div>
                    <div class="content1">
                        <h6 class="name">{{data.name}}</h6>
                        <h6 class="email">{{data.email}}</h6>
                    </div>
                   <div class="row">
                    <div class="bottom" style="float: left;margin-top: 10px;">
                      <img src="./assets/Shape-4.png" alt="" style="margin-right: 5px;"> Invited
                  </div>
                  <div class="bottom bottom1" style="float: right; margin-right: 15px;">
                      <img src="./assets/Eye.png" style="margin-right: 5px;"> View
                  </div>
                   </div>
                </div>
            </div>
            <br>
            <div>
                <button [routerLink]="['/home/dashboard']">Finish</button>
            </div>
        </div>
    </main>
</div>
<div class="modal" id="formmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #formmodel>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Member</h5>
        <button type="button" class="btn-close" (click)="formmodel.style.display='none'"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="button-wrapper">
          <form class="form" method="POST">
            <p class="heading">Add New Member</p>
              <span class="label">
                  <img *ngIf="!toggle" class="img1" src="./assets/ic_mail-2.png">
                  <img *ngIf="toggle" class="img3" src="{{img}}" style="height: 70px; width: 70px;">
              </span>
              <div *ngIf="!toggle" class="upload-div">
                  <input name="upload" class="upload-box" placeholder="Upload File"
                      (error)="onUploadError($event)" (init)="onUploadInit($event)"
                      (success)="onUploadSuccess($event)" *ngIf="type === 'directive'"
                      [dropzone]="config" class="dropzone dropzone-container" id="dropzone">
              </div>
          </form>
      </div>
        <form [formGroup]="memeberForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name : </label>
            <input type="text" class="form-control p-2" id="recipient-name" formControlName="name" placeholder="Enter Name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Email id :</label>
            <input class="form-control p-2" id="message-text" formControlName="email" type="text" placeholder="Enter Email Id">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Under subscription :</label>
            <select class="form-select" aria-label="Default select example" formControlName="UnderSubscription" >
              <option selected value="Select Under subscription">Select Under subscription</option>
              <option value="Imports">Imports</option>
              <option value="Export">Export</option>
              <option value="Any one or both">Any one or both</option>
            </select>
          </div>
        <div class="row m-auto">
          <div class="mb-3 col-3">
            <div class="form-check">
              <label class="col-md-1 checkbox-inline checkbox-label" for="checkboxes-0">
                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" formControlName="UnderSubscriptionCheckBox">
                Maker
              </label>
            </div>
          </div>
          <div class="mb-3 col-3">
            <div class="form-check">
              <label class="col-md-1 checkbox-inline checkbox-label" for="checkboxes-0">
                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="2" formControlName="UnderSubscriptionCheckBox">
                Checker
              </label>
            </div>
          </div>
          <div class="mb-3 col-3">
            <div class="form-check">
              <label class="col-md-1 checkbox-inline checkbox-label" for="checkboxes-0">
                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="3" formControlName="UnderSubscriptionCheckBox">
                Approver
              </label>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary" (click)="formmodel.style.display='none'">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formmodel.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>
