<div class="col-12 pt-2 Invoice">
    <label for="" class="col-12 Invoice-label">{{this.TITLE_CHANGED}}</label>
    <custom-mat-stepper>
        <custom-mat-step MATSTEP_LABEL="Invoice Summary" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">
            <div class="col-12 mt-2 mb-2">
                <ng-select style="width: 300px;" *ngIf="this.validator?.BENEFICIARY_DETAILS?.length!=0"
                    [items]="this.validator?.BENEFICIARY_DETAILS" bindLabel="value" [multiple]="false"
                    placeholder="Select Beneficiary Name" (change)="this.BENEFICIARY_CALLBACK($event)" name="benne">
                </ng-select>
                <table class="table height-control">
                    <thead>
                        <tr class="table-tr pr-3">
                            <th scope="col" class="col-td-th-1">#</th>
                            <th scope="col" class="col-td-th-1">INV NO.</th>
                            <th scope="col" class="col-td-th-1">CURRENCY</th>
                            <th scope="col" class="col-td-th-1">AMOUNT</th>
                            <th scope="col" class="col-td-th-2">UTILISED ORM REF NO.</th>
                            <th scope="col" class="col-td-th-1">BALANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-tr mt-2 pr-3" [ngClass]="{'isDisabled':item?.isDisabled==true}"
                            *ngFor="let item of this.PIPO_LIST;let i=index">
                            <td scope="col" class="col-td-th-1">
                                <input [disabled]="item?.isDisabled" *ngIf="item?.ischecked==false || item?.ischecked==undefined"
                                    [checked]="item?.ischecked" type="checkbox" (change)="PIPO_LIST_CHECKED(item,i)">
                                <label *ngIf="item?.ischecked==true">Completed</label>
                            </td>
                            <td scope="col" class="col-td-th-1">{{item?.pi_poNo}}</td>
                            <td scope="col" class="col-td-th-1">{{item?.currency}}</td>
                            <td scope="col" class="col-td-th-1">{{item?.paymentTerm[0]?.amount}}</td>
                            <td scope="col" class="col-td-th-2">{{this.getORMRef(item?.AdviceRef)}}</td>
                            <td scope="col" class="col-td-th-1">{{item?.paymentTerm[0]?.BalanceAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </custom-mat-step>
        <custom-mat-step MATSTEP_LABEL="Create Transaction" errorMessage="Please select Inward Remittance"
            [NextTrue]="true">
            <div class="upload-panel-2">
                <div class="left-panel">
                    <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                        *ngIf="PREVIWES_URL!='' && this.VISIBLITY_PDF==true" name="Covering Schedule"
                        [src]="PREVIWES_URL"></app-pdf-viewer>
                    <div id="federal-bank-letter-head">
                        <federal-bank-import-letter-head *ngIf="PREVIWES_URL!='' && this.VISIBLITY_PDF==true"
                            [data]="[this.ExportBillLodgement_Form,this.BENEFICIARY_DETAILS[0]]"
                            (url)="urlletterhead($event)"></federal-bank-import-letter-head>
                    </div>
                    <div class="col-12 p-2" *ngFor="let item of this.SELECTED_PIPO_URL_LIST;let i=index">
                        <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                            [name]="item?.name" [src]="item?.pdf"></app-pdf-viewer>
                    </div>
                </div>
                <upload-components [BUTTON_PANEL_SHOW]="true" [BUTTON_PANEL_SHOW]="false" SubmitName="Fill PDF"
                    (BankEvent)="setSelectedBankDetails($event)" id="IMPORT_TRANSACTION"
                    (BENEFICIARY_EVENT)="BENEFICIARY_CALLBACK($event)"
                    (PIPO_EVENT)="PIPO_CALLBACK($event,ORM_POPUP_PANEL)"
                    (SubmitEvent)="this.SubmitButton(RawValueEventPanel?.geForm)"
                    (AddButton)="FORWARD_CONTRACTPANEL?.displayShow" #RawValueEventPanel>
                    <button class="btn btn-primary" style="position: absolute;
                    bottom: 10px;
                    right: 100px;
                    height: 50px;" *ngIf="this.Send_for_Approval_button==true"
                        (click)="PREVIEWS_PANEL?.displayShow">Previews</button>
                </upload-components>
            </div>
        </custom-mat-step>
    </custom-mat-stepper>
</div>


<app-custom-model [customstyle]="{'max-width':'34vw !important'}" class="p-2" height="33vh" id="ORM_POPUP"
    [minimizedisabled]="false" modalbodyheight="27vh" ModalTitleStyle="font-size:13px;"
    [name]="'Invoice Utilisation Details | '+this.SELECTED_PIPO_ORM_DETAILS?.pi_poNo" #ORM_POPUP_PANEL>
    <div class="col-12 mt-2 mb-2">
        <table class="table">
            <thead>
                <tr class="table-tr pr-3">
                    <th scope="col" class="col-td-th-2">ORM No.</th>
                    <th scope="col" class="col-td-th-3">ORM Amount</th>
                </tr>
            </thead>
            <tbody *ngIf="this.SELECTED_PIPO_ORM_DETAILS!=undefined && this.SELECTED_PIPO_ORM_DETAILS?.length!=0">
                <tr class="table-tr mt-2 pr-3"
                    *ngFor="let item of this.SELECTED_PIPO_ORM_DETAILS?.AdviceRef;let i=index">
                    <td scope="col" class="col-td-th-2">{{item?.billNo}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</app-custom-model>

<app-custom-model [customstyle]="{'max-width':'690vw !important'}" class="p-2" height="75vh" id="FORWARD_CONTRACT"
    [minimizedisabled]="false" modalbodyheight="70vh" name="Select FORWARD CONTRACT View" #FORWARD_CONTRACTPANEL>
    <div class="col-12 mt-2 mb-2">
        <table class="table">
            <thead>
                <tr class="table-tr pr-3">
                    <th scope="col" class="col-td-th-1">#</th>
                    <th scope="col" class="col-td-th-2">Forward Ref No</th>
                    <th scope="col" class="col-td-th-3">Booking Date</th>
                    <th scope="col" class="col-td-th-3">Currency</th>
                    <th scope="col" class="col-td-th-2">Forward Contract Amount</th>
                    <th scope="col" class="col-td-th-3">Due Date</th>
                    <th scope="col" class="col-td-th-3">Amount to be utilised</th>
                    <th scope="col" class="col-td-th-3">Exchange rate as per FWC</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-tr mt-2 pr-3" *ngFor="let item of this.ForwardContractDATA;let i=index">
                    <td scope="col" class="col-td-th-1"><input type="checkbox"
                            (change)="ToForwardContract($event,item,i)"></td>
                    <td scope="col" class="col-td-th-2">{{item?.ForwardRefNo}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.BookingDate}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.Currency}}</td>
                    <td scope="col" class="col-td-th-2">{{item?.BookingAmount}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.ToDate}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.AvailableAmount}}</td>
                    <td scope="col" class="col-td-th-3">{{item?.NetRate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <custom-model-header>
        <button type="button" class="btn btn-primary" [disabled]="ToForwardContract_Selected?.length!=0?false:true"
            (click)="DoneButton();FORWARD_CONTRACTPANEL?.displayHidden">Done</button>
    </custom-model-header>
</app-custom-model>

<app-custom-model [customstyle]="{'max-width':'98vw !important'}" class="p-2" height="98vh" id="PREVIEWS"
    name="Document View" #PREVIEWS_PANEL>
    <div class="col-12 mt-2 mb-2">
        <app-pdf-viewer *ngIf="this.PREVIEWS_URL_LIST!=''" [downloadShow]="false" [src]="this.PREVIEWS_URL_LIST"
            name="Documents" width="100%" height="100%"></app-pdf-viewer>
    </div>
    <custom-model-header>
        <button type="button" class="btn btn-primary"
            (click)="SendApproval(this.GetDownloadStatus?.status,'SendApprover');">Send for
            Approval</button>
    </custom-model-header>
</app-custom-model>