<div class="content-wrap">

    <main id="content" class="content table-padding" role="main">
        
        <div >
            <div>
                <button class="upload-button" [routerLink]="['/home/createBene']">Add New Customer +</button>
                <h3 class="heading">Beneficiary / Customer details </h3>
            </div>
            <div class="analytics" style="width: 90%;">
                <div class="analytics-side">
                    <div class="row">
                        <div class="col-12 mb-lg padding">
                            <section class="widget pb-0 box-shadow">
    
                                <div class="widget-body p-0 support table-wrapper ">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr class="text-muted table-heading">
                                                <th class="rect"></th>
                                                <th scope="col"><span class=" pl-3">Name</span></th>
                                                <th scope="col">Bank Name</th>
                                                <th scope="col">Account Number</th>
                                                <th scope="col">IBAN</th>
                                                <th scope="col">Sort Code</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-dark">
                                            <tr class="table-row" *ngFor="let data of item2">
                                                <th class="rect"><input type="radio"></th>
                                                <th class="pl-4 fw-normal">{{data.beneName}}</th>
                                                <td >{{data.beneBankName}}</td>
                                                <td> {{data.beneAccNo}} </td>
                                                <td>{{data.iban}}</td>
                                                <td>{{data.sortCode}}</td>
                                                <td class="three" [routerLink]="'/home/editBene/'+data._id"><img style="width: 10px; width: 10px;" src='../../../assets/3-dots.png' alt=""></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
    
            </div>



        </div>

    </main>
</div>