<div class="content-wrap pb-2 scroll-bar-main">
    <div class="import_export_sec">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="Dashbord_sec">
                    <h2 class="title_dash">Beneficiary / Customer details</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="float_right_page">
                    <div *ngIf="file == 'import'">
                        <button class="upload-button" (click)="open(content)">
                  Add New Customer<span>+</span>
                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_white_background">
        <main id="content" class="content table-padding" role="main">
            <div class="filter_section_top">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-12"></div>
                    <div class="col-md-8 col-sm-8 col-12">
                        <div *ngIf="file == 'export'">
                            <button class="upload-button" (click)="open1(content1)">
          Add Buyer +
        </button>

                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="file == 'import'" class="analytics" style="width: 100%">
                <div style="width: 100%" class="analytics_top">
                    <div class="padding">
                        <section class="box-shadow middle_datatable">
                            <div class="widget-body p-0 support table-wrapper">
                               <table class="table table-hover">
                                    <thead>
                                        <tr class="table-tr">
                                            <th class="col-td-th-1"></th>
                                            <th scope="col" class="col-td-th-3"><span class="pl-3">Name</span></th>
                                            <th scope="col" class="col-td-th-3">Bank Name</th>
                                            <th scope="col" class="col-td-th-3">Account Number</th>
                                            <th scope="col" class="col-td-th-3">IBAN</th>
                                            <th scope="col" class="col-td-th-3">Sort Code</th>
                                            <th scope="col" class="col-td-th-3"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-tr" *ngFor="let data of item2">
                                            <td class="col-td-th-1"><input type="radio" /></td>
                                            <td class="col-td-th-3">{{ data.benneName }}</td>
                                            <td class="col-td-th-3">{{ data.beneBankName }}</td>
                                            <td class="col-td-th-3">{{ data.beneAccNo }}</td>
                                            <td class="col-td-th-3">{{ data.iban }}</td>
                                            <td class="col-td-th-3">{{ data.sortCode }}</td>
                                            <td class="col-td-th-3" [routerLink]="'/home/editBene/' + data._id">
                                                <img width="18px" src="../../../assets/dot3.png" alt="" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div *ngIf="file == 'export'" class="analytics" style="width: 100%">
                <div style="width: 100%" class="analytics-side">
                    <div class="middle_datatable">
                        <div class="">
                            <section class="box-shadow">
                                <div class="support table-wrapper">
                                   <table class="table table-hover">
                                        <thead>
                                            <tr class="table-tr">
                                                <th class="col-td-th-1"></th>
                                                <th scope="col" class="col-td-th-3"><span class="pl-3">Name</span></th>
                                                <th scope="col" class="col-td-th-3">Address</th>
                                                <th scope="col" class="col-td-th-3"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr" *ngFor="let data of item2">
                                                <td class="col-td-th-1"><input type="radio" /></td>
                                                <td class="col-td-th-3">{{ data.buyerName }}</td>
                                                <td class="col-td-th-3">{{ data.buyerAdrs }}</td>
                                                <td class="col-td-th-3" [routerLink]="'/home/editBuyer/' + data._id">
                                                    <img style="width: 10px; width: 10px" src="../../../assets/3-dots.png" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<ng-template #content let-modal>

    <div class="modal-body">
        <div class="row no-gutter">
            <!-- The image half -->
            <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->

            <!-- The content half -->
            <div class="col-md-7 bg-dark" style="margin: 10px">
                <div class="login d-flex py-5" style="padding: 0px !important">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mrg">
                                <h6 class="display-5">Create New Beneficiary</h6>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-3">
                                        <label>Name</label>
                                        <input style="width: 350px" formControlName="benneName" placeholder="Beneficiary/ Customer name" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Address</label>
                                        <input style="width: 350px" formControlName="beneAdrs" placeholder="Ex: street address, City. PIN" required="" class="form-control rounded-pill password password1" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Bank Name</label>
                                        <input style="width: 350px" formControlName="beneBankName" id="password1" type="" placeholder="Ex: 23489234324" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Account No</label>
                                        <input style="width: 350px" formControlName="beneAccNo" id="password1" type="" placeholder="Ex: 23489234324" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>IBAN</label>
                                        <p class="sl">
                                            * Mandatory for remittances to Middle-East countries and Europe
                                        </p>
                                        <input style="width: 350px" formControlName="iban" id="password1" type="" placeholder="Ex: 238923 23423423" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Beneficiary’s bank’s (any one) SWIFT code**</label>
                                        <input style="width: 350px" formControlName="beneBankSwiftCode" type="" placeholder="Ex: 1234566" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Beneficiary’s bank’s address including country</label
                    >
                    <input
                      style="width: 350px"
                      formControlName="beneBankAdress"
                      id="inputEmail"
                      type="text"
                      placeholder="Ex: street address, City. PIN"
                      required=""
                      class="form-control rounded-pill email"
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label
                      >Intermediary Bank details (if applicable) SWIFT
                      code**</label
                    >
                    <input
                      style="width: 350px"
                      formControlName="interBankSwiftCode"
                      placeholder="Ex: CC/OD/PC/PCFC/EBRD/BP/EEFC-USD/EUR/GBP/CHF/JPY ETC"
                      required=""
                      class="form-control rounded-pill"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label>Intermediary Bank Name (if any)</label>
                                        <input style="width: 350px" formControlName="interBankName" id="inputEmail" type="text" placeholder="Ex: Western union" required="" class="form-control rounded-pill" />
                                    </div>

                                    <div class="form-group mb-3">
                                        <label>Sort Code</label>
                                        <input style="width: 350px" formControlName="sortCode" placeholder="Ex: ESEIEC." required="" class="form-control rounded-pill" />
                                    </div>

                                    <button type="submit" class="btn">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #content1 let-modal>
    <div class="modal-body">
        <div class="row no-gutter">
            <!-- The image half -->
            <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->

            <!-- The content half -->
            <div class="col-md-7 bg-dark" style="margin: 10px">
                <div class="login d-flex py-5" style="padding: 0px !important">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mrg">
                                <h6 class="display-5">Create New Buyer</h6>
                                <form [formGroup]="buyerForm" (ngSubmit)="onSubmitBuyer()">
                                    <div class="form-group mb-3">
                                        <label>Name</label>
                                        <input style="width: 350px" formControlName="buyerName" placeholder="Buyer’s name" required="" class="form-control rounded-pill" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Address</label>
                                        <input style="width: 350px" formControlName="buyerAdrs" placeholder="Ex: street address, City. PIN" required="" class="form-control rounded-pill password password1" />
                                    </div>

                                    <button type="submit" class="btn">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</ng-template>