<section class="contact-us" id="contact-section">
  <upload-components style="width: 100%;" label="CONTACT US" labelStyle="{
    color: rgb(220, 140, 219);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }"  [HIDE_SUBMIT_BUTTON]="false" id="ContactUsTechnical"
    (SubmitEvent)="onChangesContactUsTechnical($event)" #ContactUsTechnicalPanel>
    <button type="button" class="btn btn-primary submit-button" (click)="ContactUsTechnicalPanel?.onClickButton">Send a
      message</button>
  </upload-components>
</section>