<!DOCTYPE html>
<div class="col-12" style="padding: 30px;overflow: auto;" id="federal-bank-letter-head-2">
    <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
    *ngIf="this.PREVIWES_URL!='' && this.VISIBLITY_PDF==true" name="Bank Pdf"
    [src]="this.PREVIWES_URL"></app-pdf-viewer>
    <!-- <img [src]="this.LETTER_HEAD_IMAGE" alt="LETTER_HEAD_IMAGE" class="letter-head">
    <div class="hdf-bank" style="
    background-size: 100% 100%;
    width: 610px;
    padding-top: 90px;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    transform: scale(.9);">
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;position: relative;'>
            <span style="position: absolute;font-size: 19px;font-weight: bold;top: 0;">The Manager</span>
            <span style="position: absolute;right: 160px;
            font-size: 19px;
            font-weight: bold;">Date</span>
        </p>
        <p style='margin:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top: 25px;'>Federal Bank Ltd.&nbsp;
        </p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>CCSC, Federal Bank Ltd.&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>St. Marks Road Bangalore 560 001</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Dear Sir/Madam,</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><u>Sub: RE- Submission Export
                    documents against remittance received ; </u></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><u>Ref: Cash Credit account
                    no: {{this.data[2]?.accNumber}}</u></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>&nbsp;</strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'>Inviting reference
            to
            your email dated __________, we hereby submit the requisite documents for the following shipments received.
            Kindly issue the EBRC, which is currently showing pending in your records.</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <table style="width: 5.0e2pt;
    margin-left: 0;
    border-collapse: collapse;
    border: none;
    height: 150px;">
            <tbody>
                <tr>
                    <td style="width: 28.3pt;border: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>SI</strong>
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>No.</strong>
                        </p>
                    </td>
                    <td
                        style="width: 63.8pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Date</strong>
                        </p>
                    </td>
                    <td
                        style="width: 70.9pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Customer Name</strong>
                        </p>
                    </td>
                    <td
                        style="width: 35.35pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>CNY</strong>
                        </p>
                    </td>
                    <td
                        style="width: 49.65pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Amount</strong>
                        </p>
                    </td>
                    <td
                        style="width: 56.6pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Shipping Bill No</strong>
                        </p>
                    </td>
                    <td
                        style="width: 63.7pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Advance</strong>
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>/Against Invoice</strong>
                        </p>
                    </td>
                    <td
                        style="width: 133.65pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            <strong>Reference No.</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td
                        style="width: 28.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                    </td>
                    <td
                        style="width: 63.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 70.9pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 35.35pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 49.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 56.6pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 63.7pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 133.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 44.95pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                </tr>
                <tr>
                    <td
                        style="width: 28.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                    </td>
                    <td
                        style="width: 63.8pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 70.9pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 35.35pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 49.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 56.6pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 63.7pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                    <td
                        style="width: 133.65pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm;height: 45pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                            &nbsp;
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'>Kindly have the
            same
            adjusted and close the pending EDPMS entries reflecting in our AD CODE. </p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'>&nbsp;</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'>Thanking You,</p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>For C M Envirosystems Pvt.
                Ltd.</strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>&nbsp;</strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>&nbsp;</strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>&nbsp;</strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong>Authorized Signatory</strong>
        </p>
    </div> -->
</div>