<!-- <div>
    <div class="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
            <ul class="drawer-menu">
                <li><a class="drawer-brand" href="#">Brand</a></li>
                <li><a class="drawer-menu-item" href="#">Nav1</a></li>
                <li><a class="drawer-menu-item" href="#">Nav2</a></li>
            </ul>
        </nav>
    </div>
</div> -->
<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">

        <div class="header-panel">
            <div style="display: flex; align-items: center;width: 190px;">
                <h3 class="heading">EDPMS Recon</h3>
            </div>
            <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 0.8%;
                    padding-left: 3%;
                    padding-bottom: 0.8%;
                    margin-left: 10px;
                    width:300px">
                <div style="display: flex; align-items: center">
                    <select style="display: flex; align-items: center;" [(ngModel)]="bankSelection"
                        (ngModelChange)="chooseBank()">
                        <option value="" disabled hidden>Select Bank</option>
                        <option *ngFor="let acc of bankAccounts" [value]="acc" style="min-width:100%;">{{acc}}</option>
                    </select>
                </div>

                <div style="padding-top: 0.7%">
                    <!-- <button style=" color: #ffffff !important; font-weight: 100 ; font-family: Poppins ,sans-serif; padding: 5px 8px; font-size: 14px;
                      background-color: #49A2D7;
                      border: none;
                      border-radius: 5px;">Export To Excel</button> -->
                    <!-- (click)="exportToExcel()" -->
                    <button class="upload-button" (click)="openNew()">
                        <!-- (click)="newDebit()" -->
                        Upload New
                    </button>
                </div>
            </div>

        </div>

        <div class="analytics">
            <div style="width: 100%" class="analytics-side" #debitnotes>
                <!-- *ngIf="!showInvoice" -->
                <div style="width: 100%" class="row">
                    <div style="width: 100%; height:523px" class="col-12 mb-lg padding" id="container">
                        <!-- *ngIf="!showInvoice" -->
                        <section style="width: 120%; margin-left: 10px" class="widget pb-0 box-shadow">
                            <div class="widget-body p-0 support table-wrapper">
                                <table style="width: 100%" class="table table-striped mb-0">
                                    <!-- *ngIf='pipo' -->
                                    <thead style="width: 100%">
                                        <tr class="table-tr">
                                            <th scope="col" class="col-td-th-3">Shipping Bill No.</th>
                                            <th scope="col" class="col-td-th-3">Shipping Bill Date</th>
                                            <th scope="col" class="col-td-th-3">AD Code</th>
                                            <th scope="col" class="col-td-th-3">Port Code</th>
                                            <th scope="col" class="col-td-th-3">EDPMS STATUS</th>
                                            <th scope="col" class="col-td-th-3">AD Ref No.</th>
                                            <th scope="col" class="col-td-th-3">SB Amount</th>
                                            <th scope="col" class="col-td-th-3">SB Balance amount</th>
                                            <th scope="col" class="col-td-th-3">System Status</th>
                                            <th scope="col" class="col-td-th-3">Doc Available</th>
                                            <th scope="col" class="col-td-th-3">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-tr" *ngFor="let row of edpmsData; let i = index">
                                            <th class="col-td-th-3">
                                                {{row?.sbNo}}
                                            </th>

                                            <td class="col-td-th-3">
                                                {{row?.sbDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.adCode}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.portCode}}
                                            </td>

                                            <td class="col-td-th-3">
                                                {{row?.edpmsStatus}}
                                            </td>

                                            <td class="col-td-th-3">
                                                {{row?.adRefNo}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.sbAmount}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.sbBalanceAmount}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.systemStatus}}
                                            </td>
                                            <td class="col-td-th-3">
                                                {{row?.docAvailable}}
                                            </td>
                                            <td class="col-td-th-3">
                                                <div *ngFor="let act of row?.action"
                                                    [class.active]="act === 'Create Documents' || act === 'Upload Documents'"
                                                    (click)="actionEvent(act, row?.sbNo)">{{act}}</div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
        <div class="row no-gutter">
            <div class="col-md-7" style="margin: 10px;">
                <div class="login d-flex py-5" style="padding: 0px !important;">
                    <div class="container popup">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mrg">
                                <h6 class="display-6">Debit Note</h6>
                                <iframe width="315%" height="500px"></iframe>
                                <button type="submit" style="margin-left: 250px;" class="submitBTN"
                                    (click)="modal.dismiss('Cross click')">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>