<div class="modal custommodel" tabindex="-1" *ngIf="this.MODEL_TYPE_VIEW['ConfirmDialog']==true" role="dialog" #custommodel style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.CustomConfirmDialogModel.titleheader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="custommodel.style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{this.CustomConfirmDialogModel.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="custommodel.style.display='none'">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="custommodel.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal DropDownInputConfirmDialog" tabindex="-1" role="dialog" #DropDownInputConfirmDialog [style]="this.MODEL_TYPE_VIEW['DropDownInputConfirmDialog']==true?'display: block;z-index:99999999;' : 'display: none;'" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.CustomConfirmDialogModel.titleheader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="DropDownInputConfirmDialog.style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">{{this.CustomConfirmDialogModel.message}}</label>
          <input type="text" class="form-control input-remove" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter {{this.message}}" #input> -->
           <app-custom-dropdown
           name="depot_Name"
           placeholdertext="Please select...."
           key="depot_Name"
           [labeltext]="this.CustomConfirmDialogModel.message"
           limit="15"
           [data]="[{value:'Wrong Entry'},{value:'Missing Entry'},{value:'Duplicate Entry'},{value:'others'}]"
            #input autocomplete_on_off="off"
           ></app-custom-dropdown>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this.CALLBACKS_CALL({Inputdata:input.value},DropDownInputConfirmDialog.style.display='none')">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="DropDownInputConfirmDialog.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal InputConfirmDialog" tabindex="-1" role="dialog" #InputConfirmDialog [style]="this.MODEL_TYPE_VIEW['InputConfirmDialog']==true?'display: block;' : 'display: none;'" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.CustomConfirmDialogModel.titleheader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="InputConfirmDialog.style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">{{this.CustomConfirmDialogModel.message}}</label>
          <input type="text" class="form-control input-remove" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter {{this.message}}" #normal_input>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this.CALLBACKS_CALL({Inputdata:normal_input.value},InputConfirmDialog.style.display='none')">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="InputConfirmDialog.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal iframecustommodel" tabindex="-1" role="dialog" #iframecustommodel [style]="this.MODEL_TYPE_VIEW['IframeModel']==true?'display: block;' : 'display: none;'" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.CustomConfirmDialogModel.titleheader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="iframecustommodel.style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group ifrmae-group">
         <iframe [src]="this.ByPassSecurityTrustResourceUrl(url)" *ngFor="let url of this.CustomConfirmDialogModel.url" width="450px" height="500px"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="iframecustommodel.style.display='none'">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal YesNoDialogModel" tabindex="-1" role="dialog" #YesNoDialogModel [style]="this.MODEL_TYPE_VIEW['YesNoDialogModel']==true?'display: block;' : 'display: none;'" >
  <div class="form-group YesNoDialogModel-group">
    <button type="button" class="close YesNoDialogModel-btn" data-dismiss="modal" aria-label="Close" (click)="YesNoDialogModel.style.display='none'">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="column">
      <h5 class="modal-title">{{this.CustomConfirmDialogModel.titleheader}}</h5>
      <div class="row" style="gap: 10px;">
        <button type="button" class="btn btn-primary" (click)="this.CALLBACKS_CALL({Inputdata:'Yes'},YesNoDialogModel.style.display='none')">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="this.CALLBACKS_CALL({Inputdata:'No'},YesNoDialogModel.style.display='none')">No</button>
      </div>
    </div>
   </div>
</div>

<div class="modal DropDownInput" tabindex="-1" role="dialog" #DropDownInput [style]="this.MODEL_TYPE_VIEW['DropDownInput']==true?'display: block;z-index:99999999;' : 'display: none;'" >
  <div class="modal-dialog" role="document">
        <div class="form-group">
           <app-custom-dropdown
           name="depot_Name"
           placeholdertext="Please select...."
           key="depot_Name"
           [labeltext]="this.CustomConfirmDialogModel.message"
           limit="15"
           [data]="this.CustomConfirmDialogModel.message"
            #input autocomplete_on_off="off"
           ></app-custom-dropdown>
        </div>
      </div>
</div>
