<div class="pdf-viewer-wrap" [style.width]="width" [style.height]="height">
  <div class="pdf-viewer-controls-wrap">
    <h2>{{name}}</h2>
    <div class="pdf-viewer-controls">
      <!-- <div class="pdfv-control">
        Select PDF:
        <input (change)="onFileSelected()" type="file" id="file">
        <div>Total Pages:{{totalPages}}</div>
      </div> -->
      <!-- <div class="pdfv-control">
        <button (click)="originalSize = !originalSize">[original-size]="{{originalSize}}"</button>
      </div>
      <div class="pdfv-control">
        <button (click)="fitToPage = !fitToPage">[fit-to-page]="{{fitToPage}}"</button>
      </div>
      <div class="pdfv-control">
        <button (click)="showAll = !showAll">[show-all]="{{showAll}}"</button>
      </div>
      <div class="pdfv-control">
        <button (click)="autoresize = !autoresize">[autoresize]="{{autoresize}}"</button>
      </div>
      <div class="pdfv-control">
        <button (click)="showBorders = !showBorders">[show-borders]="{{showBorders}}"</button>
      </div>
      <div class="pdfv-control">
        <button (click)="renderText = !renderText">[render-text]="{{renderText}}"</button>
      </div> -->
      <!-- <div class="pdfv-control">
        Render Text Mode
        <select name="renderTextMode" [(ngModel)]="renderTextMode">
          <option [value]="o" *ngFor="let o of renderTextModes">{{o}}</option>
        </select>
        <button (click)="renderTextMode = !renderTextMode">[render-text-mode]="{{renderTextMode}}"</button>
      </div> -->
      <div class="pdfv-control">
        <button (click)="zoomOut()">-</button>  <button (click)="zoomIn()">+</button>
      </div>
      <div class="pdfv-control">
        <select name="zoomScales" [(ngModel)]="zoomScale">
          <option [value]="o" *ngFor="let o of zoomScales">{{o}}</option>
        </select>
      </div>
      <div class="pdfv-control">
        <button (click)="rotateDoc()"><i class="fas fa-snowman" data-fa-transform="rotate-90"></i>
        </button>
      </div>
      <div class="pdfv-control" *ngIf="this.downloadShow==true">
        <button (click)="downloadPdf(src)" title="download"><i class="fa fa-download" aria-hidden="true"></i></button>
      </div>
      <div class="pdfv-control" *ngIf="this.downloadShow==true">
        <button (click)="printPdf(src)" title="print"><i class="fa fa-print" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="pdf-viewer-viewer-window">
    <pdf-viewer class="pdf-viewer" [src]="src"
    [original-size]="false"
    [show-all]="showAll"
    [fit-to-page]="fitToPage"
    [zoom]="zoom"
    [zoom-scale]="zoomScale"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="autoresize"
    [show-borders]="showBorders" [style.width]="width" [style.height]="height">
    </pdf-viewer>
  </div>

</div>
