<div class="pdf-viewer-wrap" [style.width]="width">
  <div class="pdf-viewer-controls-wrap">
    <h2>{{name}}</h2>
    <div class="pdf-viewer-controls">
      <div class="pdfv-control">
        <button (click)="zoomOut(this.SRC_UPDATE)">-</button>  <button (click)="zoomIn(this.SRC_UPDATE)">+</button>
      </div>
      <div class="pdfv-control">
        <select name="zoomScales" [(ngModel)]="zoomScale" (change)="fitScreen($event.target.value)">
          <option [value]="o" [selected]="i==0?true : ''" *ngFor="let o of zoomScales;let i=index">{{o}}</option>
        </select>
      </div>
      <div class="pdfv-control" *ngIf="this.downloadShow==true">
        <button (click)="downloadPdf(src)" title="download"><i class="fa fa-download" aria-hidden="true"></i></button>
      </div>
      <div class="pdfv-control" *ngIf="this.downloadShow==true">
        <button (click)="printPdf(src)" title="print"><i class="fa fa-print" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="pdf-viewer-viewer-window pb-2" *ngIf="this.src!=''">
    <div class="container-fluid p-0" [style.width]="width" [style.height]="100+'%'">
      <ng-container *ngIf="isLoading$ | async; else notloading">
        <div class="progress progress-modal">
          <div
            class="
              progress-bar progress-bar-striped progress-bar-animated
              bg-primary
            "
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </ng-container>
      <ng-template #notloading>
        <iframe
          frameborder="0"
          allowtransparency="true" 
          style="background: #FFFFFF;" 
          *ngIf="this.URL_IFRAME"
          [src]="this.URL_IFRAME"
          [style.width]="width" [style.height]="100+'%'"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </ng-template>
    </div>
  </div>

</div>
