<jqxScheduler class="custom-jqxScheduler" (onAppointmentClick)="onCellClick($event,Appointment_1)"
    [editDialogCreate]="editDialogCreate" #schedulerReference [auto-create]="false"></jqxScheduler>


<app-custom-model
    [customstyle]="{'margin':'auto !important','max-width': '80vw !important','margin-top': '80px !important'}"
    class="p-2" height="700px" id="BOE_DATA" [name]="'Data Showing'" #Appointment_1>
    <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" 
        [ExpansionShowHide]="false"
        [items]="this.FILTER_VALUE_LIST_NEW?.items" 
        [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass"
        [ActionRequired]="false"
        [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys">
    </custom-expansion-panel>
</app-custom-model>