body {
    background: #efefef !important;
    overflow-x: inherit !important;
}

@media (max-width: 991px) {
    .number-card-number {
        font-size: 30px;
    }

    .number-card {
        padding-top: 12px;
        padding-bottom: 16px;
    }
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    background: #2948a3;
    padding: 20px;
    box-shadow: 0px 0px 6px 4px #57575a87;
}

.col-td-th-2 {
    width: 140px;
    border: 0 !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    word-break: break-all;
    color: white;
}

.col-td-th-1 {
    color: white;
}

.card__subTitle {
    font-size: 15px;
}

.card__title {
    font-size: 16px;
}

.col-td-th-1,
.col-td-th-2,
.col-td-th-3 {
    color: black;
}

.table-tr {
    cursor: pointer;
}

.table-style {
    border-radius: 10px;
    padding: 10px !important;
    width: 100%;
    margin: auto;
    background-color: transparent;
}

table .table-tr {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom: 0;
    padding: 0;
}

table .table-tr-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0;
    box-shadow: none;
    transition: opacity 1s ease-in-out;
}

.header h5 {
    background-color: #1d1724;
    margin: auto;
    padding: 8px;
    color: white;
}

.table-type {
    background: #fbfbfb;
    padding: 0px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0px 5px 3px #c3c0c09e;
    transition: opacity .5s ease-in-out;
}

.question-list.AutofillActive label {
    background-color: #546295;
}

.table-type.table-active {
    background: #fbfbfb;
    padding: 10px;
}

.Table-Hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.Table-Show {
    opacity: 1;
    visibility: visible;
}

.modal-bg-transparent label {
    color: black;
}

.bg-text {
    background-color: #183b6a;
    padding: 15px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.bg-text-h5 {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 0;
}

::ng-deep .mat-horizontal-content-container {
    padding: 10px !important;
}

::ng-deep .mat-button,
::ng-deep .mat-icon-button,
::ng-deep .mat-stroked-button,
::ng-deep .mat-flat-button {
    background: #014677;
}

::ng-deep .mat-step-header {
    box-shadow: 0px 0px 2px 2px #a6a6a6 !important;
    border-radius: 50px !important;
    height: 35px !important;
    color: white !important;
}

::ng-deep .mat-stepper-horizontal-line {
    margin: 0 0px !important;
}

.tr-box-shadow {
    box-shadow: 0px 0px 2px 2px #bcbbbb;
}

.AcceptReject .col-td-th-1 {
    width: 50px;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 2px 2px gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.question-list label {
    width: 100%;
    background-color: #628282;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-left: 20px;
}

.grid-templeate {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

::ng-deep app-custom-model #AutofillLCTable .AutofillLCTable {
    height: auto !important;
    margin: auto !important;
    max-width: 41vw !important;
    position: absolute;
    right: -20px;
    top: 61px;
}

::ng-deep app-custom-model #AutofillLCTable.dropdown-controller {
    position: absolute !important;
    right: 0 !important;
    left: unset !important;
    width: 560px !important;
    background-color: transparent !important;
}

.fixed-width {
    width: 700px !important;
    max-width: 700px;
}