<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="filter_section_top p-2">
            <div class="row m-0">
                <div style="margin: auto;margin-left: 0;">
                    <div class="import_export_sec">
                        <h3 class="heading_common_tag">Tri-Party Agreements Documents ({{this.FILTER_VALUE_LIST?.length}})</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="filter_right_new padding_new_top p-0">
                        <button type="button" class="btn btn-primary" (click)="exportToExcel()"><span
                                class="ex_icon"></span>Export</button>
                        <div class="filter_posit">
                            <button type="button" class="filter-popup btn btn-secondary"><span
                                class="fi_icon filter-popup"></span>Filter</button>
                        <ng-custom-filter-popup (ResetEvent)="reset()" FormStyle="display: grid;
                        grid-template-columns: repeat(2,1fr);" (FilterEvent)="onSubmit($event)"
                            *ngIf="this.FILTER_FORM!=''" [data]="this.FILTER_FORM"></ng-custom-filter-popup>
                        </div>
                        <button class="upload-button btn btn-success" [routerLink]="['/home/upload-documents/Export/TripartyAgreements']">
                            <span class="add_icon"></span> ADD NEW
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="analytics" #epltable>
            <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header" [ExpansionShowHide]="false"
                [items]="this.FILTER_VALUE_LIST_NEW?.items"
                [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass"
                [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" (ViewChanges)="viewpdf($event)"
                (EditChanges)="toEdit($event)" (DeleteChanges)="handleDelete($event)">
            </custom-expansion-panel>
            <!-- <div style="width: 100%" class="analytics_top">
                <div style="width: 100%" class="row">
                    <div class="" id="container">
                        <section class="middle_datatable">
                            <div class="widget-body p-0 support table-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="table-tr">
                                            <th scope="col" class="col-td-th-3"><span>DATE</span></th>
                                            <th scope="col" class="col-td-th-3">PI/PO No.</th>
                                            <th scope="col" class="col-td-th-3">T P A No.</th>
                                            <th scope="col" class="col-td-th-3">T P A Amount</th>
                                            <th scope="col" class="col-td-th-3">Currency</th>
                                            <th scope="col" class="col-td-th-3">Buyer Name</th>
                                            <th scope="col" class="col-td-th-3">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-tr" *ngFor="let data of  this.FILTER_VALUE_LIST; let i = index"
                                            [ngClass]="this.AprrovalPendingRejectService.truefalse(data['deleteflag']=='0') ||
                                        this.AprrovalPendingRejectService.truefalse(this.USER_DATA?.result?.Role_Type!='Approver')">
                                            <td class="col-td-th-3">{{ data.date }}</td>
                                            <td class="col-td-th-3"> {{ getPipoNumbers(data) }} </td>
                                            <td class="col-td-th-3">
                                                <div *ngIf="!optionsVisibility[i]">
                                                    {{data.triPartyAgreementNumber}}
                                                </div>
                                                <div *ngIf="optionsVisibility[i]">
                                                    <input class="tblInput form-control" name="triPartyAgreement"
                                                        type="text" placeholder="Tri-Party Agreement Number"
                                                        [(ngModel)]="data.triPartyAgreementNumber">
                                                </div>
                                            </td>
                                            <td class="col-td-th-3">
                                                <div *ngIf="!optionsVisibility[i]">
                                                    {{data.triPartyAgreementAmount}}
                                                </div>
                                                <div *ngIf="optionsVisibility[i]">
                                                    <input class="tblInput form-control" name="triPartyAgreementAmount"
                                                        type="text" placeholder="Tri Party Agreement Amount"
                                                        [(ngModel)]="data.triPartyAgreementAmount">
                                                </div>
                                            </td>
                                            <td class="col-td-th-3">
                                                <div *ngIf="!optionsVisibility[i]">
                                                    {{data.currency}}
                                                </div>
                                                <div *ngIf="optionsVisibility[i]">
                                                    <input class="tblInput form-control" name="currency" type="text"
                                                        placeholder="currency" [(ngModel)]="data.currency">
                                                </div>
                                            </td>
                                            <td class="col-td-th-3">{{data.buyerName}}</td>
                                            <td class="col-td-th-3">
                                                <a title="view" class="PopupOpen" popup-close="VIEW_DOCUMENTS" (click)="viewpdf(data)"><i class="fa fa-eye PopupOpen" popup-close="VIEW_DOCUMENTS"
                                                    aria-hidden="true"></i></a>
                                                <button title="Save" class="savBtn bgnone" *ngIf="optionsVisibility[i]"
                                                    (click)="toSave(data, i)"><i class="fa fa-floppy-o"
                                                        aria-hidden="true"></i></button>
                                                <button title="Edit" class="savBtn bgnone" *ngIf="!optionsVisibility[i]"
                                                    (click)="toEdit(i)"><i class="fa fa-pencil-square-o"
                                                        aria-hidden="true"></i></button>
                                                <button title="Edit" class="savBtn bgnone" *ngIf="!optionsVisibility[i]"
                                                    (click)="handleDelete(data._id,i)"><a title="Delete"
                                                        href="javascript:void(0)"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
</div>


<app-custom-model [customstyle]="{'margin':'auto !important'}" class="p-2" height="95vh"
    id="PDF_VIEW" name="Tri-Party Agreements Documents">
    <div class="p-2">
        <app-pdf-viewer *ngIf="viewData!=''" [downloadShow]="false" name="Tri-Party Agreements Documents"
            [src]="viewData" width="100%" height="500px"></app-pdf-viewer>
    </div>
</app-custom-model>


<app-custom-model modalbodyheight="55vh" *ngIf="this.SELECTED_VALUE!=''"
    [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
    EventButton="false" [customstyle]="{'max-width':'95vw !important'}" class="p-2 mt-2" height="60vh"
    id="EditSummaryPage"
    [name]="'Tri-Party Agreements Documents Update || Tri-Party Agreements Documents No. : '+this.SELECTED_VALUE?.triPartyAgreementNumber"
    #EditSummaryPagePanel>
    <div class="ml-0 p-3 col-12">
        <div class="container-fluid m-auto p-0">
            <div class="content_white_background" style="height: auto;">
                <main id="content" class="table-padding" role="main" style="border-radius: 10px;">
                    <div class="new_document_list1">
                        <div class="d-flex col-12 p-0 pt-3" id="FromClientRequest" style="flex-direction: column;">
                            <div class="row col-12 mt-0 p-0">
                                <div class="row col-12 p-0">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">DATE</label>
                                        <ng-custom-input type="date" [(ngInput)]="this.EDIT_FORM_DATA.date"
                                            placeHolderText="SB DATE"></ng-custom-input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">T P A No.</label>
                                        <ng-custom-input type="text"
                                            [(ngInput)]="this.EDIT_FORM_DATA.triPartyAgreementNumber"
                                            placeHolderText="T P A No."></ng-custom-input>
                                    </div>
                                </div>
                                <div class="row col-12 p-0">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">T P A Amount</label>
                                        <ng-custom-input type="text"
                                            [(ngInput)]="this.EDIT_FORM_DATA.triPartyAgreementAmount"
                                            placeHolderText="T P A Amount"></ng-custom-input>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Currency</label>
                                        <ng-custom-input type="text" [(ngInput)]="this.EDIT_FORM_DATA.currency"
                                            placeHolderText="Currency"></ng-custom-input>
                                    </div>
                                </div>
                                <div class="row col-12 p-0">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">BUYER NAME</label>
                                        <ng-custom-input type="text" [(ngInput)]="this.EDIT_FORM_DATA.buyerName"
                                            placeHolderText="BUYER NAME"></ng-custom-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12 mt-0 p-0 pl-2 pb-2">
                                <button class="btn btn-primary"
                                    (click)="toSaveNew(this.EDIT_FORM_DATA,this.SELECTED_VALUE?._id,EditSummaryPagePanel)">Update</button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</app-custom-model>