.content-wrap {
    margin: auto;
}

.import_export_sec {
    margin: auto;
    margin-left: 0;
}

.filter_section_top {
    display: grid;
    width: 100%;
    background-color: #22343f !important;
    margin: 0;
    border-radius: 0;
    box-shadow: 5px 0px 10px 5px #597a8a;
    padding: 2px;
}

.middle_datatable .support {
    height: calc(100vh - 159px);
}

.table-padding {
    background-color: transparent !important;
    box-shadow: none;
}

.content-wrap.scroll-bar-main {
    overflow: hidden;
    padding: 0;
}

.filter_right_new.padding_new_top {
    display: flex;
    gap: 10px;
}

.heading_common_tag {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: floralwhite;
    margin-left: 20px;
}

.upload-panel-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 10px;
    gap: 10px;
    width: 100% !important;
}

.form-container-fluid {
    width: 100%;
    padding: 10px;
    overflow: auto;
    max-height: 86vh;
    border-radius: 10px;
    margin: auto;
}

.division-panel {
    box-shadow: 0px 0px 2px 2px #d5d0d0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.custom {
    width: 300px;
}

.custom ::ng-deep .ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.label-name-amount {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #d4d4d4;
    margin-bottom: 10px;
}

.label-name-amount p {
    font-size: 14px;
    margin: 0;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel-header-description {
    display: flex;
    flex-grow: 1;
    flex-basis: unset !important;
    align-items: center;
    overflow: auto;
    margin-right: 0 !important;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    flex-basis: unset !important;
    align-items: center;
    background: black;
    width: 100% !important;
    padding: 5px;
    margin-right: 0 !important;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.SHIPING_BILL_POPUP .col-td-th-3 {
    width: 170px !important;
}

.SHIPING_BILL_POPUP .table>:not(caption)>*>* {
    background-color: transparent !important;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px;
    overflow: auto;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-accordion {
    margin-top: 10px !important;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel-spacing {
    margin: 16px 0;
    background-color: floralwhite;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel {
    margin-bottom: 20px;
}

.SHIPING_BILL_POPUP ::ng-deep .d-grid {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    gap: 20px;
}

.SHIPING_BILL_POPUP .flex-column {
    flex-direction: column !important;
    width: 100%;
}

.SHIPING_BILL_POPUP .flex-column-1 {
    flex-direction: column !important;
    width: 200px;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-panel-header {
    height: auto;
    padding: 0;
}

.SHIPING_BILL_POPUP .prevent-click {
    pointer-events: none;
}

.SHIPING_BILL_POPUP .authorize-click {
    pointer-events: auto;
}

.SHIPING_BILL_POPUP ::ng-deep .mat-expansion-indicator {
    display: none !important;
}

.match-off ::ng-deep .upload-components-header {
    position: relative !important;
}

.Transaction-btn {
    margin: auto;
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.Transaction-btn:hover {
    color: #597a8a;
}

.left-panel ::ng-deep .mat-tab-body-content {
    height: 77vh !important;
    overflow: auto;
    position: relative;
}

.left-panel .Previous-btn {
    position: fixed;
    bottom: 0;
    right: 81px;
    top: 61px;
    height: 32px;
    font-size: 14px;
    z-index: 99999;
}

.yes-btn {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.no-btn {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.no-button {
    float: left;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    background: #FC5E5E;
    border: 1px solid #FC5E5E;
    border-radius: 0;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.yes-button {
    float: left;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    background: #0079ff;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.remove-no-button-1 {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.remove-no-button-2 {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.Invoice .height-control {
    height: 76vh;
    overflow: auto;
}

.isDisabled {
    background-color: #ccc;
}

.isDisabled td {
    background-color: #ccc;
}

.upload-panel-2 ::ng-deep upload-components .form-container-fluid {
    overflow: unset;
}

.upload-panel-2 ::ng-deep upload-components .form-container-fluid .division-panel {
    box-shadow: unset !important;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f6f6f6 !important;
}

.Invoice ::ng-deep custom-mat-step .content-panel {
    width: 98%;
}

.Invoice ::ng-deep custom-mat-stepper .custom-mat-horizontal-stepper-wrapper {
    height: calc(100vh - 110px);
}

.Invoice .Invoice-label {
    padding: 0;
    text-align: end;
    padding-right: 10px;
}

.Invoice ::ng-deep custom-mat-stepper upload-components .form-container-fluid {
    overflow: unset !important;
}


.grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.card {
    background: #2948a3;
    padding: 20px;
    box-shadow: 0px 0px 6px 4px #57575a87;
}

.col-td-th-2 {
    width: 140px;
    border: 0 !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    word-break: break-all;
    color: white;
}

.col-td-th-1 {
    color: white;
}

.card__subTitle {
    font-size: 15px;
}

.card__title {
    font-size: 16px;
}

.col-td-th-1,
.col-td-th-2,
.col-td-th-3 {
    color: black;
}

.table-tr {
    cursor: pointer;
}

.table-style {
    border-radius: 10px;
    padding: 10px !important;
    width: 100%;
    margin: auto;
    background-color: transparent;
}

table .table-tr {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom: 0;
    padding: 0;
}

table .table-tr-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0;
    box-shadow: none;
    transition: opacity 1s ease-in-out;
}

.header h5 {
    background-color: #1d1724;
    margin: auto;
    padding: 8px;
    color: white;
}

.table-type {
    background: #fbfbfb;
    padding: 0px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0px 5px 3px #c3c0c09e;
    transition: opacity .5s ease-in-out;
}

.question-list.AutofillActive label {
    background-color: #546295;
}

.table-type.table-active {
    background: #fbfbfb;
    padding: 10px;
}

.Table-Hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.Table-Show {
    opacity: 1;
    visibility: visible;
}

.modal-bg-transparent label {
    color: black;
}

.bg-text {
    background-color: #183b6a;
    padding: 15px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.bg-text-h5 {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 0;
}

::ng-deep .mat-horizontal-content-container {
    padding: 10px !important;
}

::ng-deep .mat-button,
::ng-deep .mat-icon-button,
::ng-deep .mat-stroked-button,
::ng-deep .mat-flat-button {
    background: #014677;
}

::ng-deep .mat-step-header {
    box-shadow: 0px 0px 2px 2px #a6a6a6 !important;
    border-radius: 50px !important;
    height: 35px !important;
    color: white !important;
}

::ng-deep .mat-stepper-horizontal-line {
    margin: 0 0px !important;
}

.tr-box-shadow {
    box-shadow: 0px 0px 2px 2px #bcbbbb;
}

.AcceptReject .col-td-th-1 {
    width: 50px;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 2px 2px gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.question-list label {
    width: 100%;
    background-color: #628282;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-left: 20px;
}

.grid-templeate {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

::ng-deep app-new-flc-application app-custom-model #AutofillLCTable .AutofillLCTable {
   padding: 0 !important;
}

::ng-deep app-new-flc-application app-custom-model #AutofillLCTable.dropdown-controller {
    width: 33vw !important;
    margin: 0 !important;
    top: 49px !important;
    right: 0 !important;
    left: unset !important;
    padding: 0 !important;
    background: transparent !important;
}

.fixed-width {
    width: 700px !important;
    max-width: 700px;
}

::ng-deep app-new-flc-application .mat-tab-body-content {
    padding: 10px;
}