

.controller-setup-form{
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(to right top, #4019b0, #0067e8, #0094e3, #00b9b8, #30d78b);
}

.display-5{
  font-weight: 200!important;
  color: white;
  font-size: 32px;
  text-align: center;
  box-shadow: inset 0px 0px 2px 2px white;
  width: 40%;
  margin: auto;
  padding: 9px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side1{
  margin-top: 10px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 20px;
  text-align: center;
}