<div class="controller-setup-form">
<p style="font-size: 30px;
margin: auto;
color: aliceblue;" *ngIf="this.userService.UserData==null || this.userService.UserData==undefined">Sorry you don't have any email id... <br>
 <a routerLink="/login" style="color: aliceblue;">Try go to login page</a>
</p>
<div class="con-12" *ngIf="this.userService.UserData!=null && this.userService.UserData!=undefined">
    <h6 class="display-5">Setup Company Details</h6>
    <div *ngIf="Visible==true">
        <p class="side1">Please tell us something about of yourselves</p>
        <upload-components FormStyle="
         display: grid;
         grid-template-columns: repeat(3,1fr);" SubmitName="Get Started" id="SetupCompanyDetails" (SubmitEvent)="onSubmit($event)"></upload-components>
    </div>
    <div class="col-12" *ngIf="Visible==false">
        <p class="side1">Do you have LEI Number</p>
        <div class="yes-no-panel">
            <label class="rad-label" (click)="LEI_YES_NO=true">
                <input type="radio" class="rad-input" name="rad">
                <div class="rad-design"></div>
                <div class="rad-text">YES</div>
            </label>
            <label class="rad-label" (click)="LEI_YES_NO=false;Visible=true;loadForm();">
                <input type="radio" class="rad-input" name="rad">
                <div class="rad-design"></div>
                <div class="rad-text">NO</div>
            </label>
        </div>
        <div class="col-12" *ngIf="LEI_YES_NO==true">
            <div class="row LEI_INPUT">
                <input type="text" style="width: 70% !important" class="form-control" placeholder="Type your LEI Code"
                    #LEI_INPUT>
                <button type="button" class="btn btn-primary" (click)="ValidateLEI(LEI_INPUT?.value)">Validate</button>
            </div>
            <div id="popup1" class="overlay"
                *ngIf="this.LEI_VALIDATION?.visible=='true' || this.LEI_VALIDATION?.visible=='false'" #popup1>
                <img *ngIf="this.IMAGE_SHOW=='true'" src="../../assets/check-mark.png">
                <img *ngIf="this.IMAGE_SHOW=='false'" src="../../assets/cross.png">
                <div class="popup" *ngIf="this.LEI_VALIDATION?.status=='true' || this.LEI_VALIDATION?.status=='false'">
                    <a class="close" (click)="this.LEI_VALIDATION.visible='';this.LEI_VALIDATION.status=''">&times;</a>
                    <div class="content"
                        [ngClass]="{'error-lei-green':this.LEI_VALIDATION?.status=='true','error-lei-red':this.LEI_VALIDATION?.status=='false'}">
                        <i class="fa fa-check" *ngIf="this.LEI_VALIDATION?.status=='true'" aria-hidden="true"> KYC verified for Entity..... using LEI</i>
                        <i class="fa fa-close" *ngIf="this.LEI_VALIDATION?.status=='false'" aria-hidden="true"> KYC not verified for Entity..... using LEI </i>
                        <br />
                        <p *ngIf="this.LEI_VALIDATION?.message!='' && this.LEI_VALIDATION?.message!=undefined">
                            {{this.LEI_VALIDATION?.message}}</p>
                    </div>
                    <button style="margin-top: 10px;" class="btn btn-primary" (click)="this.LEI_VALIDATION.visible='';this.LEI_VALIDATION.status='';Visible=true;loadForm();">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
   
</div>