<div class="dropdown" (mouseenter)="state = 0" (mouseleave)="state = 1">
    <div
      id="dropdown-btn"
      type="button"
      class="dropdownbtn"
      (click)="showMenu = !showMenu"
      [style.width]="width">
      <input type="text" #SearchInput (keyup)="filterValue($event.target.value);showMenu=true"
      (click)="onclick($event)"
       class="form-input dropdown-input" id="displayText" placeholder="Please Select...">
      <!-- <div id="displayText" class="margin-left">
        {{  }}
      </div> -->
      <i 
        class="icon fa margin-right"
        [class.fa-angle-down]="!showMenu"
        [class.fa-angle-up]="showMenu"
      ></i>
    </div>
    <div id="dropdown" class="dropdown-content" [class.show]="showMenu" [style.width]="width" #dropdown>
      <a *ngFor="let item of this.FILTER_DATA" (click)="valueChange(item);SearchInput.value=item" >{{ item }}</a>
    </div>
  </div>
  