* {
    font-family: "Poppins", sans-serif;
}

.arrayData {
    border: 1px solid #51aee5;
    padding: 5px 11px;
    border-radius: 30px;
    cursor: pointer;
}

.filter {
    margin-right: 5px;
    color: #ffffff !important;
    font-weight: 100;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    background-color: #49A2D7;
    border: none;
    border-radius: 5px;
}

.topright {
    position: absolute;
    right: 0;
}

.button2 {
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 12px;
    width: 3rem;
    height: 2rem;
    font-weight: 200;
    margin-right: 1rem;
    background-color: RGB(81, 174, 229);
    border-radius: 20px;
    border: none;
    outline: none;
    color: RGB(255, 255, 255);
    z-index: 999999;
}

.table-row {
    background-color: #ffffff !important;
    color: #707683;
    border-left: 2px solid #fff;
}

.table-row:hover {
    background: #f6f9ff !important;
    border-left: 2px solid #49a2d7;
}

input[_ngcontent-wpv-c252] {
    box-shadow: none !important;
    border: 1px solid #DEDEDE;
}

.modal-body {
    width: 100% !important;
    background-color: white;
}

.modal-body2 {
    width: 100% !important;
    background-color: white;
}

.customDropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 5px;
    height: 32px;
    border-radius: 2px;
    margin-right: 12px;
    cursor: pointer;
    z-index: 1;
}

.customDropdown:hover {
    border: 1px solid #4b74ff !important;
    color: #4b74ff !important;
}

.dropdown-content {
    display: none;
    position: relative;
    // min-width: 70px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    border-radius: 6px;
    transform: translate(-14px, 4px);
    // height: 150px;
}

.dropdown-content a {
    display: inline-block;
    cursor: pointer;
    padding: 4px 6px;
    min-width: 70px;
    color: black;
    transition: 0.4s ease;
}

.dropdown-content a:hover {
    background-color: #49a2d7;
    color: white;
}

.customDropdown .dropIco {
    margin-left: 7px;
}

.dropdown-content p a {
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}

.customDropdown:hover .dropdown-content {
    display: block;
}

.customDropdown:hover .dropdown-content {
    display: block;
}

.display-5 {
    width: 100%;
    font-weight: 400;
    color: #606670;
    font-size: 18px;
    border-bottom: 2px solid #49A2D7;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.display-4 {
    font-weight: 400;
    color: #606670;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.docStyle {
    margin-left: 75px;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #323e4a;
}

.dropdown {
    font-size: 14px;
    font-weight: 400;
}

.table-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #747474;
    //opacity: 50%;
}

.box-shadow {
    box-shadow: none !important;
}

.table-padding {
    background: white !important;
}

.upload-button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: none;
    float: right;
    margin-top: -12px;
    margin-right: 0px;
    height: 42px;
    width: 160px;
    background-color: #49a2d7;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 2px 2px 7px 0px #109cf1;
}

button {
    outline: none;
}

.table-row {
    background-color: #ffffff !important;
    color: #707683;
}

.table-row:hover {
    background: #f6f9ff !important;
    //border-left: 5px solid #49a2d7;
}

.columH:hover {
    background: #f6f9ff !important;
    //border-left: 5px solid #49a2d7;
}

.columH {
    border-left: 0.1px solid #d3d3d3;
    border-right: 0.1px solid #d3d3d3;
    padding: 5px;
    height: 35px;
}

.rect {
    text-align: right;
    min-width: 80px !important;
}

.sb-no {
    color: #49a2d7;
}

th,
td {
    //min-height: 50px;
    vertical-align: middle !important;
}

.image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 12fvpx;
}

.image2 {
    margin-top: 22px;
    margin-left: -13px;
}

.form {
    margin-left: 38px !important;
    margin-right: 5%;
    top: 50%;
    left: 50%;
    height: 316px;
    background-color: white;
    border: 1px dashed rgba(0, 0, 0, 0.4);
}

.form p {
    font-family: "Poppins", sans-serif !important;
    // margin-top: 20px;
    // width: 100%;
    // height: 23px !important;
    text-align: center;
    line-height: 30px;
    color: #303030;
}

.form input {
    font-family: "EuropaNuova-Regular", sans-serif !important;
    position: absolute;
    margin: 0;
    width: 89%;
    height: 313px;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.form .form_inner button {
    // margin-left: 36%;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    border: none;
    margin-left: 36.5%;
    height: 42px;
    cursor: pointer;
    width: 160px;
    background-color: #49a2d7;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 10px 0px #49a2d7;
    outline: none;
}

.form button:hover {
    background: #149174;
    color: #0c5645;
}

.form button:active {
    border: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.xbutton {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    border: none;
    height: 42px;
    background-color: #49a2d7;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 10px 0px #49a2d7;
    outline: none;
}

.ybutton {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    border: none;
    height: 42px;
    background-color: #0c354d;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 10px 0px #49a2d7;
    outline: none;
}

.zbutton {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    border: none;
    height: 42px;
    background-color: #947551;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 10px 0px #49a2d7;
    outline: none;
}

.border2 {
    border-left: 3px solid #5fe6e7;
}

.border3 {
    border-left: 3px solid #e7845f;
}

.form-wrapper1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-wrapper1 div td {
    width: 30%;
    height: 5.5%;
}

.form-wrapper1.td {
    width: 100%;
    width: 7%;
}

.full-input {
    margin-left: 18px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 3px;
    height: 74px;
    width: 177px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px #eeeefa;
}

.smalll-input {
    width: 160px !important;
    outline: none;
    border: none;
    display: block;
    border-radius: 4px;
    border: 1px solid #d5dbe8;
    height: 35px;
}

.Against_list label {
    padding: 5px 0 5px 5px;
    margin-bottom: 0!important;
    font-size: 15px;
    font-weight: 500;
    color: #72768a;
    display: inline-block;
    vertical-align: middle;
}

.Against_list label span {
    display: inline-block;
    padding: 0 0 0 5px;
}

.radiobtn {
    vertical-align: middle;
}

.circular_input {
    margin-left: 17px;
}

.sh1 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    color: #606670;
}

.ss {
    padding: 0px !important;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin-left: 23px !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#customers td,
#customers th {
    border-bottom: 1px solid #ddd;
}

#customers th {
    height: 52px !important;
    text-align: left;
    font-weight: 300;
    background-color: #ddd;
}

#customers td {
    height: 52px !important;
}

.tab1 [type="radio"] {
    /* hiding the inputs */
    display: inline-block;
    height: 17px;
    width: 17px;
    color: #49a2d7;
    margin-bottom: 10px;
}

.tab1 input[type="radio"]:checked+input {
    background-color: #bfb;
    border-color: #4c4;
}

.tab1 {
    margin-top: 20px;
}

.at {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 10px;
}

.ctb {
    font-size: 13px;
    margin-left: 210px;
    background-color: #49a2d7;
    padding: 12px 30px 11px 30px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.radio1 [type="radio"] {
    /* hiding the inputs */
    display: inline-block;
    height: 17px;
    width: 17px;
    color: #49a2d7;
    border: 2px solid #49a2d7;
}

.radio1 input[type="radio"]:checked+input {
    background-color: #bfb;
    border-color: #4c4;
}

.label1 {
    display: inline-block;
    margin-bottom: 0px;
    padding-right: 12px;
    color: #606670;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 15px;
}

.radio1 {
    margin-top: 20px;
}

.stp1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: black;
}

.stp2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: black;
}

.stp3 {
    color: #4a4a4a;
    font-size: 14px;
}

.of1 {
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}


/*  Dashboard Main Page Styling (Front Page) */

table tbody {
    cursor: pointer;
}

//SIDE PEOPLE LIST
.side_document_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170vh;
    border-right: 0.3px solid rgba(0, 0, 0, 0.2);
    margin-left: 27px;
}

//PROFILE CLASSSSS/
.profile_class {
    display: flex;
    width: 100%;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
    padding: 3% 6%;
    justify-content: center;
    cursor: pointer;
}

// .profile_class:hover {
//   background-color: #f8fafd;
//   border-left: 8px solid rgb(61, 116, 197);
// }
.activeBtn {
    background-color: #f8fafd;
    border-left: 8px solid rgb(61, 116, 197);
}

.table_top {
    display: grid;
    grid-template-columns: 28.55% 33% 36%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    align-items: center;
}

.invoices_tab {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #f8fafd;
}

.invoices_inner {
    width: 100%;
    background-color: #f8fafd;
}

.inner_tab_content {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.invoice_head {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

.serial_detail {
    width: 93%;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    text-align: right;
    font-weight: 500;
}

.transaction_tab {
    width: 770px;
    height: 1387px;
}

.form_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.opt {
    background-color: #49a2d7;
    padding: 3px;
    margin-bottom: 18px;
    height: 41px;
    min-width: 100px;
    box-shadow: 2px 2px 7px 0px #109cf1;
    border: none;
    margin-left: 15px;
    color: white;
    border-radius: 4px;
}

input ::placeholder {
    color: rgb(212, 29, 29);
}

.button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-width: 60px;
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 4px;
    color: #0e8cd4;
}

.button1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-width: 60px;
    border: none;
    padding: 5px;
    background-color: #0e8cd4;
    box-shadow: 2px 2px 7px 0px #109cf1;
    border-radius: 4px;
    color: white;
}

.button3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    min-width: 100px;
    border: none;
    padding: 5px;
    background-color: #0e8cd4;
    box-shadow: 2px 2px 7px 0px #109cf1;
    border-radius: 4px;
    color: white;
}

.class1 {
    background-color: #97cceb;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 130px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
}

.my_class {
    background-color: #0e8cd4 !important;
}

.heading {
    height: 25px;
}

tr.border1 {
    border: 1px solid #070707;
}

td.border1 {
    border-right: 1px solid #070707;
}

.wtd {
    width: 441px;
}

.wtd1 {
    width: 600px;
}

.wtd1 input {
    // width: 400px;
    border: none;
}

.wtd2 {
    width: 900px;
}

span input {
    border: none;
    border-bottom: 1px solid black;
}

.spli {
    border-bottom: 1px solid black !important;
}

.ins {
    border: none;
    border-bottom: 1px solid black;
    width: 400px;
}

.wtd7 input {
    width: 100px !important;
    border: none;
}

.wtd8 {
    width: 160px !important;
}

.ind {
    border: none;
    border-bottom: 1px solid black;
}

.sl {
    width: 30px;
}

.sl3 input {
    border: none;
    width: 100px;
}

.sl3 {
    width: 120px;
}

.w1 {
    width: 500px;
}

.w1 input {
    width: 216px;
    border: none;
}

.pdf_heading {
    display: flex;
}

.button1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 170px;
    border: none;
    padding: 5px;
    background-color: #49a2d7;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 10px 0px #49a2d7;
}

.selecter1 {
    margin-top: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #51AEE5;
    position: relative;
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 6px;
}

.sizes {
    width: 700px;
    height: 900px;
    margin-left: 28px;
    margin-top: 30px;
}

.sizem {
    width: 700px;
    height: 900px;
    margin-left: 28px;
}

.savBtn {
    background-color: #49A2D7;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    width: 60px;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}

.submitBTN {
    margin-top: 10px;
    width: 160px;
    height: 40px;
    border: 2px white solid;
    border-radius: 20px;
    background-color: #51AEE5;
    font-size: 12px;
    color: #ffffff;
    // justify-content: center;
}

// .col-md-7 {
//     // -ms-flex: 0 0 58.333333%;
//     flex: 0 0 58.333333% !important;
//     max-width: 58.333333% !important;
// }
@media (min-width: 1000px) {
    .col-md-7 {
        flex: 0 0 58.333333% !important;
        max-width: 42.333333% !important;
    }
}

@media (min-width: 1200px) {
    .col-md-7 {
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }
}

.content_top_common .content-wrap {
    left: 0!important;
    width: 100%;
    padding-left: 0 !important;
    flex: 1 0 auto;
    padding-right: 0px;
}

.content.table-padding {
    padding: 0px;
}

.Against_list h3 {
    display: inline-block;
    font-size: 15px;
    width: 100%;
    color: #333;
    margin: 9px 0;
}

.form-check {
    padding: 10px 0 13px 18px;
}

.shippingbilldrp {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 100%;
    margin: 28px 0 0 11px;
}

//
.bill_lod_section {
    width: 500px;
}

.check_box_button {
    float: right;
}

.bill_lod_section .form-label {
    text-align: left;
    display: inline-block;
    color: #999999;
    width: 100%;
}

.space_bottom {
    display: inline-block;
    width: 100%;
    min-height: 28px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.uplod_doc .btn-danger {
    width: 100%;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0px 5px 5px 0px;
    height: 35px;
}

.select_rol .form-select {
    border: 1px solid #D9D9D9;
    border-right: 1px solid #fff;
    border-radius: 5px 0px 0 5px;
    color: #777;
}

.select_rol.withborder .form-select {
    border: 1px solid #D9D9D9!important;
    border-right: 1px solid #d3d3d3!important;
    border-radius: 5px!important;
    color: #777;
}

.bill_lod_section .select_rol .form-select {
    border: 1px solid #D9D9D9;
    width: 100%;
    height: 35px;
    color: #777;
    border-right: 1px solid #fff;
    border-radius: 5px 0px 0 5px;
}

.content1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px 2px #d3d3d3;
    border-radius: 10px;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
    height: 100vh;
    background-color: #2a28283b;
    z-index: 999999999;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
}

.shipping-bill-select {
    border: 1px solid #D9D9D9;
    width: 100%;
    height: 35px;
    color: #777;
    border-right: 1px solid #fff;
    border-radius: 5px 0 0 5px;
}

.check_box_button .active {
    background: #51AEE5!important;
    color: #fff;
    box-shadow: none !important;
    outline: none;
}

.check_box_button .active1 {
    background: #FC5E5E;
    color: white;
}

.check_box_button .removebg {
    background: white;
    color: black;
}

.no-button {
    float: left;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    border-radius: 0;
    background: #FC5E5E;
    border: 1px solid #FC5E5E;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: white;
}

.yes-button {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.remove-no-button {
    float: left;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #777;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.modal-body {
    width: 500px !important;
    max-width: 800px !important;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 190px;
    border-radius: 10px;
}

.main-drop-down-class {
    padding: 0px;
    line-height: inherit;
}

.shpt_bill_sec {
    display: inline-block;
    width: 100%;
}

.shpt_bill_sec label {
    display: inline-block;
    width: 100%;
    color: #999;
    margin: 10px 0;
}

.custom-modal {
    display: block;
}

.bg-black-opacity {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000003b;
    display: none;
    z-index: 99999;
}

.modal {
    position: relative;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    max-height: 600px;
}

.modal .modal-dialog {
    max-width: 100%;
    width: 960px;
}

.modal-body {
    width: 100% !important;
    max-width: 100%;
    background-color: #fff;
    margin-top: 0;
    margin-left: 0;
    border-radius: 10px;
}
