<div class="AuthorizationComponent">
  <div class="col-10 box-shadow">
    <table>
      <tbody>
        <tr>
          <td><strong>Error code</strong></td>
          <td>403 Forbidden Error</td>
        </tr>
        <tr>
          <td><strong>Error type</strong></td>
          <td>Client-side error</td>
        </tr>
        <tr>
          <td><strong>Error variations</strong></td>
          <td>Forbidden: You don’t have permission to access [directory] on this server<br>HTTP Error 403 –
            Forbidden<br>Error 403 – Forbidden<br>403 forbidden request forbidden by administrative rules<br>403
            Forbidden<br>Access Denied – You don’t have permission to access<br>Error 403<br>HTTP 403<br>Forbidden
          </td>
        </tr>
        <tr>
          <td><strong>Error causes</strong></td>
          <td>Missing index page<br>Broken WordPress plugin <br>Wrong IP address<br>Malware infection<br>New web page
            link</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
