<template-main-page text="Reset Password">
    <p class="mb-4 text-ui">Enter your registered email address so we can share a <br> <span
            class="text1"> reset link
            to your email address.</span></p>
    <upload-components [KEY_ENTER_ENABLED]="true" style="width: 100%;" id="ResetPassword"
        [HIDE_SUBMIT_BUTTON]="false" [HIDE_BACKGROUND]="false" (SubmitEvent)="onSubmit($event)"
        #uploadcomponents>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" (click)="dump(uploadcomponents)">Reset my
                password</button>
        </div>
        <p *ngIf="message" style="color: green; text-align: center;">{{message}}</p>
        <p *ngIf="no"
            style="color: rgb(255, 0, 0); font-size: 10px;margin-left: 82px; margin-top: -30px; font-family: 'Poppins', sans-serif;">
            User Not found with this emailId</p>
        <div class="container-login100-form-btn">
            <p class="login100-form-btn" [routerLink]="['/login']">Login</p>
        </div>
    </upload-components>
</template-main-page>