<div class="content-wrap ml-0 pb-2 scroll-bar-main">
    <div class="container-fluid m-auto p-0">
        <div class="import_export_sec">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="Dashbord_sec">
                        <h2 class="title_dash">FLC Application</h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="float_right_page">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/home/lc-isurance">FLC Application</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_white_background" style="height: auto;">
            <main id="content" class="table-padding" role="main">
                <div class="new_document_list1">
                    <mat-tab-group>
                        <mat-tab label="FLC Application">
                            <div class="new_document_list_add_data">
                                <form>
                                    <div class="row mb-2">
                                        <div class="col-md-7 col-sm-12 col-12 fixed-width">
                                            <div class="new_left_sidedoc pdf_invoce_scroll">
                                                <div id="first mt-2" style="margin-top: 20px;"
                                                    *ngIf="this.LIST_OF_QUESTION?.length!=0">
                                                    <lc-insurance-format [pipodata]="" [bankdata]=""
                                                        [data]="this.LIST_OF_QUESTION"
                                                        (TableEvent)="TableEvent($event);AutofillLCTablePanel?.displayShow"></lc-insurance-format>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-12" *ngIf="showSummaryPage == 0">
                                            <div class="right_form_new">
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <label for="exampleInputPassword1" class="form-label">Select
                                                            Pipo</label>
                                                        <app-ng-dropdown-custom placeHolderText="Select Pipo"
                                                            [items]="this.documentService?.PI_PO_NUMBER_LIST?.PIPO_NO"
                                                            bindLabel="pi_poNo" bindValue="pi_poNo" [multiple]="false"
                                                            (modelChanges)="piposelect($event)" #select_ben>
                                                        </app-ng-dropdown-custom>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <label for="exampleInputEmail1" class="form-label">Select
                                                            bank*</label>
                                                        <app-ng-dropdown-custom placeHolderText="Select Bank"
                                                            [items]="this.bankDetail" bindLabel="value" bindValue="id"
                                                            [multiple]="false" #multiplepipo>
                                                        </app-ng-dropdown-custom>
                                                    </div>
                                                </div>
                                                <div class="bottom_submit_section">
                                                    <button type="button" class="btn btn-primary">CANCEL</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="showhideSummaryPage(1)">PROCEED</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="FLC Application Summary">

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </main>
        </div>
    </div>
</div>
<app-custom-model [FooterButton]="false" [minimizedisabled]="false"
    [modalbodystyle]="{'max-height':'calc(100vh - 120px) !important','height':'calc(100vh - 120px) !important'}"
    height="98vh" id="AutofillLCTable" name="Autofill LC Table" #AutofillLCTablePanel>
    <div class="grid-templeate">
        <div class="row m-0">
            <input type="text" name="search" class="form-control col-10" style="margin: auto;margin-top: 10px;">
            <button type="submit" class="btn btn-primary" style="height: 35px;margin: auto;margin-top: 12px;"
                (click)="ResetQuestion()">Reset</button>
        </div>
        <div class="col-12" [id]="field?.id" *ngFor="let field of this.LIST_OF_QUESTION;let fieldIndex=index">
            <ng-container [ngSwitch]="field.type">
                <div class="form-group mb-3 question-list" *ngSwitchCase="'checkbox'"
                    [ngClass]="{'AutofillActive':field?.Active==true}">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{(fieldIndex+1)}} .
                        {{field.label}}</label>
                    <custom-checkbox [items]="field?.option" [(ngModel)]="this.LIST_OF_QUESTION[field?.index].value">
                    </custom-checkbox>
                </div>
                <div class="form-group mb-3 question-list" *ngSwitchCase="'radio'"
                    [ngClass]="{'AutofillActive':field?.Active==true}">
                    <label *ngIf="field.label!=undefined && field.label!=''">{{(fieldIndex+1)}} .
                        {{field.label}}</label>
                    <custom-radio-button [items]="field?.option"
                        [(ngModel)]="this.LIST_OF_QUESTION[field?.index].value">
                    </custom-radio-button>
                </div>
            </ng-container>
        </div>
    </div>
</app-custom-model>