body {
    background: #efefef !important;
    overflow-x: inherit !important;
}

.new_document_list_tab .mat-tab-body-content {
    overflow: inherit;
}

.payment_info_pipop {
    display: inline-block;
    width: 100%;
}

.payment_info_pipop .right_border {
    border-right: 1px solid #e9e9e9;
}

.form-select.form-control {
    font-size: 13px !important;
}

.left_edit_form label {
    font-size: 13px;
}

.left_edit_form .col-sm-6 {
    padding: 0 5px !important;
}

.main_nave_haeders {
    position: fixed;
    left: 30px;
    top: 0px;
    padding-left: 171px;
    z-index: 1;
    background: transparent;
    height: 60px;
    box-shadow: 4px 4px 30px 0px rgb(75 102 171 / 20%);
    width: calc(100% - 30px);
}

.main_nave .container-fluid {
    padding: 0px 16px !important;
}

.notfication ul li a .icon img {
    max-width: 18px;
}

.left_edit_form .form-select.form-control {
    padding: 0 5px;
}

.sidebar_left .sidebar-content {
    color: #0A3049 !important;
}

.sidebar-nav>li>a:hover {
    background: #c5e8ff !important
}

.table_bottom_section .table-row.active {
    background: #d9f1ff;
}

.new_document_list_add_data .form-label {
    font-weight: 500;
    color: #333;
    margin: 0px;
    padding: 7px 0;
    font-size: 13px;
}

.file_addd_to img {
    max-width: 32px;
    margin: 0 0 12px 0;
}

.change_textcolor {
    color: #51AEE5;
}

.file_addd_to {
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
}

.pdf_invoce_scroll iframe {
    height: 600px;
}

.add_payment.delet_payment i {
    font-size: 16px;
    vertical-align: middle;
    line-height: 25px;
}

.left_edit_form .form-control {
    font-size: 14px;
    border: 1px solid #ddd;
    width: 100%;
}

.left_edit_form svg {
    font-size: 9px;
    width: 18px;
    height: 18px;
}

.content_white_background {
    display: inline-block;
    width: 100%;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    margin: 0 0 0px 0;
    box-shadow: 0px 2px 10px 0px rgb(58 53 65 / 10%);
    height: calc(100vh - 80px);
}

.det_list_info_table {
    display: inline-block;
    width: 100%;
}

.import_export_sec {
    display: inline-block;
    width: 100%;
}

.content_top_common .content-wrap {
    margin-left: 0px !important;
}

.heading_common_tag {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
}

.top_exl_ddivs {
    display: inline-block;
    padding: 15px 0;
}

.middle_datatable table tr th {
    font-size: 11px;
    padding: 3px 10px;
    font-weight: 600 !important;
    font-family: Poppins, sans-serif;
    color: #0a3049;
}

.middle_datatable table tr th span {
    color: #0a3049;
}

.middle_datatable table tr td {
    font-size: 11px !important;
    padding: 3px 10px;
    color: #777;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.content {
    min-height: inherit !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #fff !important;
}

.float_right_page {
    float: right;
}

.filter_section_top {
    display: inline-block;
    width: 99%;
}

.import_export_sec .float_right_page ol {
    margin: 0px;
    padding: 0px;
}

.import_export_sec .title_dash {
    font-size: 21px;
    font-weight: 500;
    margin: 0px;
}

.new_data_table_summ table thead th {
    vertical-align: middle;
}

.table_scroll_common {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.table_scroll_common .form-check-input {
    top: -11px;
}

.filter_right_new {
    float: right;
}

.filter_right_new .btn-success {
    background: #51AEE5;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #51AEE5;
    font-size: 15px;
    font-weight: 500;
    height: 38px;
}

.filter_right_new .btn-secondary {
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #E1E1E1;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    color: #999999;
    margin: 0 11px;
}

.filter_right_new .btn-primary {
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #E1E1E1;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    color: #999999;
}

.ex_icon {
    display: inline-block;
    width: 25px;
    height: 22px;
    background: url('../../../assets/new-img/new-export.svg') 2px 2px no-repeat;
    vertical-align: middle;
}

.fi_icon {
    display: inline-block;
    width: 25px;
    height: 22px;
    background: url('../../../assets/new-img/Icon-feather-filter.svg') 2px 2px no-repeat;
    vertical-align: middle;
}

.add_icon {
    display: inline-block;
    width: 25px;
    height: 22px;
    background: url('../../../assets/new-img/Icon-feather-plus.svg') 2px 2px no-repeat;
    vertical-align: middle;
}

.import_export_sec {
    display: inline-block;
    width: 100%;
}

.filter_posit {
    position: relative;
    display: inline-block;
}

.filter_main_sec {
    position: absolute;
    right: 12px;
    width: 670px;
    z-index: 2;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 16px;
}

.select_filter_options label {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    display: inline-block;
    width: 100%;
    margin: 9px 0;
}

.select_filter_options .form-control {
    font-size: 13px !important;
    font-weight: 500;
    color: #999999;
    padding: 0px 4px;
    height: 36px;
}

.footer_buttons {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 23px 0 0 0;
}

.footer_buttons .btn-primary {
    background: #51AEE5;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #51AEE5;
    font-size: 15px;
    font-weight: 500;
    height: 38px;
    color: #fff;
    padding: 0px 23px;
}

.footer_buttons .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    height: 38px;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 12px;
    padding: 0px 23px;
}

.top_invoice_section {
    display: inline-block;
    width: 100%;
    background: #51AEE5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    min-height: 225px;
    padding: 20px 25px;
    margin-bottom: 15px;
}

.bg-white.filter_main_sec .form-select {
    display: block;
    width: 100%;
    padding: 0 9px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 14px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.filter_right_new .btn-primary:hover {
    color: #a5a5a5;
    background-color: #ffffff;
    border: 1px solid #E1E1E1;
}

.filter_right_new .btn-secondary:hover {
    color: #a5a5a5;
    background-color: #ffffff;
    border: 1px solid #E1E1E1;
}

.filter_right_new.padding_new_top {
    padding-top: 15px;
    padding-bottom: 17px;
}

/* .savBtn.bgnone {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #777 !important;
} */

.middle_datatable .form-control {
    height: 28px;
    font-size: 12px;
}

.padding_move_right {
    padding-right: 16px;
}

.add_new_buttons {
    display: inline-block;
    width: 100%;
    margin: 17px 0 11px -2px;
}

.right_form_new label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.right_form_new .form-select {
    border: 1px solid #e9e9e9 !important;
    font-weight: 500;
    font-size: 13px;
}

.right_form_new .form-control {
    border: 1px solid #e9e9e9 !important;
    font-weight: 500;
}

.right_form_new .form-check {
    display: inline-block;
    margin: 0 15px 0 0;
}

.bottom_submit_section {
    float: right;
    margin: 31px 0 0 0;
}

.right_form_new .padding0 {
    padding: 0px;
}

.right_form_new .paddingright0 {
    padding-right: 0px;
}





.add_new_buttons .btn-success {
    background: #51AEE5;
    border: 1px solid #51AEE5;
    font-weight: 500;
    padding: 0 21px;
    height: 36px;
}

.bottom_submit_section .btn-primary {
    background: #fff;
    border: 1px solid #51AEE5;
    font-weight: 500;
    padding: 0 21px;
    color: #51AEE5;
    height: 36px;
    font-weight: 500;
}

.bottom_submit_section .btn-secondary {
    background: #51AEE5;
    border: 1px solid #51AEE5;
    font-weight: 500;
    padding: 0 21px;
    font-weight: 500;
    margin: 0 0px 0 15px;
    height: 36px;
    line-height: 36px;
}

.new_document_list_add_data .right_form_new .form-label {
    padding: 12px 0;
}

.right_form_new .removeamouts_new .btn.btn-primary {
    background: #fff;
    border: 1px solid #51AEE5;
    color: #51AEE5;
}

.removeamouts_new {
    display: inline-block;
    margin-top: 45px;
}

.new_left_sidedoc img {
    max-width: 100%;
}

.right_form_new .paddingleft0 {
    padding-left: 0px;
}

.newdatatable tbody tr td {
    vertical-align: middle;
    padding: 7px 16px;
    min-width: 213px;
}

.newdatatable tbody tr td b {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.newdatatable tbody tr td p {
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
    color: #999;
}