<upload-components-header [title]="this.TITLE_CHANGED" id="Shippingbill" [UPLOAD_BUTTON]="false"
    [PIPO_DISABLED]="false">
    <div class="upload-panel">
        <div class="left-panel" style="height: 84vh;
        overflow: auto;">
            <div class="col-12" *ngIf="this.SINGLE_TAB_MULITIPLE_TAB=='1'">
                <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                *ngIf="this.exportbilllodgementdata?.PREVIWES_URL!='' && this.VISIBLITY_PDF==true"
                name="Bank Pdf"
                [src]="this.exportbilllodgementdata?.PREVIWES_URL"></app-pdf-viewer>
            <div id="federal-bank-letter-head">
                <federal-bank-exportletterhead
                    *ngIf="this.exportbilllodgementdata?.PREVIWES_URLL!='' && this.VISIBLITY_PDF==true"
                    (url)="urlletterhead($event)"
                    [data]="['','',this.SELECT_BUYER_DETAILS]"></federal-bank-exportletterhead>
            </div>
            <app-pdf-viewer class="pt-3"
                *ngFor="let ALL_RELATED_DOCUMENTSitem of this.exportbilllodgementdata?.ALL_RELATED_DOCUMENTS;let j=index"
                [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                [name]="ALL_RELATED_DOCUMENTSitem?.name"
                [src]="ALL_RELATED_DOCUMENTSitem?.pdf"></app-pdf-viewer>
            <button type="button"
                [disabled]="this.PREVIOUD_BTN"
                class="btn btn-primary Previous-btn PopupOpen"
                (click)="setPrevious(RawValueEventPanel?.geForm,this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION)"
                popup-close="PrviewPage">Previous</button>
            <button type="button" style="right: 3px !important;" class="btn btn-primary Previous-btn"
                (click)="
                FormValueSingle(RawValueEventPanel?.onClickButton,RawValueEventPanel?.geForm,this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION,true)"
                attr.popup-close="PrviewPage">Proceed</button>
            </div>
            <mat-tab-group *ngIf="this.SINGLE_TAB_MULITIPLE_TAB=='2'"
                (selectedTabChange)="this.ShippingBillTabChanged($event,RawValueEventPanel?.geForm)">
                <mat-tab
                    [label]="'SB No. : '+this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.sbno"
                    [id]="item"
                    *ngFor="let item of this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION_OBEJCT_KEYS;let i=index">
                    <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                        *ngIf="this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.PREVIWES_URL!='' && this.VISIBLITY_PDF==true"
                        name="Bank Pdf"
                        [src]="this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.PREVIWES_URL"></app-pdf-viewer>
                    <div id="federal-bank-letter-head">
                        <federal-bank-exportletterhead
                            *ngIf="this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.PREVIWES_URLL!='' && this.VISIBLITY_PDF==true"
                            (url)="urlletterhead($event)"
                            [data]="['','',this.SELECT_BUYER_DETAILS]"></federal-bank-exportletterhead>
                    </div>
                    <app-pdf-viewer class="pt-3"
                        *ngFor="let ALL_RELATED_DOCUMENTSitem of this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.ALL_RELATED_DOCUMENTS;let j=index"
                        [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                        [name]="ALL_RELATED_DOCUMENTSitem?.name"
                        [src]="ALL_RELATED_DOCUMENTSitem?.pdf"></app-pdf-viewer>
                    <button type="button"
                        [disabled]="this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item]?.COMMERICAIL_DATA?.length!=0?false:true"
                        class="btn btn-primary Previous-btn PopupOpen"
                        (click)="setPrevious(RawValueEventPanel?.geForm,this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item])"
                        popup-close="PrviewPage">Previous</button>
                    <button type="button" style="right: 3px !important;" class="btn btn-primary Previous-btn"
                        (click)="
                        FormValue(RawValueEventPanel?.onClickButton,RawValueEventPanel?.geForm,this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL_TRANSACTION[item])"
                        attr.popup-close="PrviewPage">Proceed</button>
                </mat-tab>
            </mat-tab-group>
        </div>
        <upload-components SubmitButtonStyle="position: fixed;
        top: 63px;
        font-size: 13px;
        right: 5px;" [BUTTON_PANEL_SHOW]="false" [HIDE_SUBMIT_BUTTON]="false"
            (YesNoCheckBoxEvent)="YesNoCheckBox($event)" (BankEvent)="setSelectedBankDetails($event)"
            id="EXPORT_BILL_OF_EXCHANGE" #RawValueEventPanel>
        </upload-components>
    </div>
</upload-components-header>


<app-custom-model [FooterButton]="false" [modalbodystyle]="{height:'90vh !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="90vh" id="PrviewPage" [name]="'Preview Pdf'"
    #PrviewPagePanel>
    <div class="pdf-viewer-panel p-2">
        <app-pdf-viewer *ngIf="this.SELECTED_PREVIEWS_URL!=''" [downloadShow]="false" width="100%"
            Newheight="calc(100vh - 130px)" name="All Pdf Merge" [src]="this.SELECTED_PREVIEWS_URL"></app-pdf-viewer>
    </div>
    <custom-model-header>
        <button type="button" class="btn btn-primary" (click)="SendApproval('',
        this.ExportBillLodgement_Form?.SingleMultiple?.bool == false?this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL?._id:'multiple',PrviewPagePanel);">Send for Approval</button>
    </custom-model-header>
</app-custom-model>

<app-custom-model [FooterButton]="false" [modalbodystyle]="{height:'90vh !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="90vh" id="SHIPING_BILL_POPUP"
    [name]="'Selection of Shipping Bill'" #ShippingBill>
    <div class="p-2 SHIPING_BILL_POPUP">
        <div class="p-2 SHIPING_BILL_POPUP" style="height: 84vh;">
            <app-ng-dropdown-custom placeHolderText="Select Buyer Name"
                [items]="this.exportbilllodgementdata?.BUYER_LIST"
                (modelChanges)="this.exportbilllodgementdata?.getShippingBill($event,'Transaction')"
                bindLabel="buyerName" [multiple]="false">
            </app-ng-dropdown-custom>
            <mat-accordion>
                <mat-expansion-panel [expanded]="data?.CheckBoxEnabled"
                    *ngFor='let data of this.exportbilllodgementdata?.TRANSACTION_SHIPPING_BILL;let i = index'>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                                <mat-panel-title>
                                    SB DETAILS
                                    <button type="button" class="btn btn-primary Transaction-btn"
                                        (click)="this.CreateTransaction(ShippingBill,'SB_INDEX_'+i)">Fill Pdf</button>
                                </mat-panel-title>
                                <table class="table mb-0">
                                    <tbody>
                                        <tr class="table-tr">
                                            <td class="col-td-th-1"><input [checked]="data?.CheckBoxEnabled"
                                                    type="checkbox"
                                                    (click)="this.exportbilllodgementdata?.setSelectedShippingBillTransaction($event,i,data)" />
                                            </td>
                                            <td class="col-td-th-3">
                                                SB DATE : {{data.sbdate}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB NUMBER : {{data.sbno}}
                                            </td>
                                            <td class="col-td-th-3">
                                                BUYER NAME : {{data.buyerName}}
                                            </td>
                                            <td class="col-td-th-3">
                                                CURRENCY : {{data.fobCurrency}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB AMOUNT : {{data.fobValue}}
                                            </td>
                                            <td class="col-td-th-3">
                                                AVAILABLE AMOUNT : {{data.balanceAvai}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex flex-column">
                        <mat-expansion-panel [expanded]="commercialdata?.CheckBoxEnabled"
                            *ngFor='let commercialdata of data?.commercialdetails;let j = index'>
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                                        <mat-panel-title>
                                            CI DETAILS
                                        </mat-panel-title>
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr class="table-tr">
                                                    <td class="col-td-th-1">
                                                        <input type="checkbox"
                                                            [checked]="commercialdata?.CheckBoxEnabled"
                                                            (click)="this.exportbilllodgementdata?.setSelectCommercialDataTransaction($event,'SB_INDEX_'+i,j,data,commercialdata);" />
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI DATE : {{commercialdata.commercialDate}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI NO. : {{commercialdata.commercialNumber}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI Value(USD) : {{commercialdata.amount}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <table class="table mb-0">
                                <thead>
                                    <tr class="table-tr">
                                        <th scope="col" class="col-td-th-1">FIRX Number/ID</th>
                                        <th scope="col" class="col-td-th-1">Recieved Amount</th>
                                        <th scope="col" class="col-td-th-1">Commision Amount</th>
                                        <th scope="col" class="col-td-th-1">Used Amount</th>
                                        <th scope="col" class="col-td-th-3">Available Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-tr"
                                        *ngFor='let IRM_REFdata of commercialdata?.MatchOffData;let j = index'>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.billNo}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.amount}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.commision}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata?.InputValue}}
                                        </td>
                                        <td class="col-td-th-3">
                                            {{IRM_REFdata?.BalanceAvail}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <button style="position: absolute;bottom: 0; right: 0;" type="button" class="btn btn-primary" (click)="ShippingBill?.displayHidden">Done</button>
        </div>
    </div>
</app-custom-model>