<upload-components-header [title]="this.TITLE_CHANGED" id="Shippingbill" [UPLOAD_BUTTON]="false"
    [PIPO_DISABLED]="false">
    <div class="upload-panel">
        <div class="left-panel" style="height: 84vh;
        overflow: auto;">
            <app-pdf-viewer class="pt-3" [downloadShow]="false" width="100%" Newheight="calc(100vh - 130px)"
                *ngIf="this.PREVIWES_URL!='' && this.VISIBLITY_PDF==true" name="Bank Pdf"
                [src]="this.PREVIWES_URL"></app-pdf-viewer>
            <div id="federal-bank-letter-head">
                <federal-bank-exportletterhead *ngIf="this.PREVIWES_URL!='' && this.VISIBLITY_PDF==true"
                    (url)="urlletterhead($event)"
                    [data]="['','',this.SELECT_BUYER_DETAILS]"></federal-bank-exportletterhead>
            </div>
            <app-pdf-viewer class="pt-3" *ngFor="let item of this.OTHER_DOCUMENTS;let i=index" [downloadShow]="false"
                width="100%" Newheight="calc(100vh - 130px)" [name]="item?.name" [src]="item?.pdf"></app-pdf-viewer>
        </div>
        <upload-components [BUTTON_PANEL_SHOW]="true" SubmitName="Proceed" TypeOfValue="Raw"
            (YesNoCheckBoxEvent)="YesNoCheckBox($event)" (BankEvent)="setSelectedBankDetails($event)"
            (RawValueEvent)="FormValue($event,PrviewPagePanel)" id="EXPORT_BILL_OF_EXCHANGE">
        </upload-components>
    </div>
</upload-components-header>


<app-custom-model [FooterButton]="false" [modalbodystyle]="{height:'90vh !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="90vh" id="PrviewPage" [name]="'Preview Pdf'"
    #PrviewPagePanel>
    <div class="pdf-viewer-panel">
        <app-pdf-viewer class="pt-3" *ngIf="this.PREVIEWS_URL_LIST!=''" [downloadShow]="false" width="100%"
            Newheight="calc(100vh - 130px)" name="All Pdf Merge" [src]="this.PREVIEWS_URL_LIST"></app-pdf-viewer>
    </div>
    <custom-model-header>
        <button type="button" class="btn btn-primary" (click)="SendApproval('',
        this.exportbilllodgementdata?.SELECTED_SHIPPING_BILL?._id,PrviewPagePanel);">Send for Approval</button>
    </custom-model-header>
</app-custom-model>

<app-custom-model [FooterButton]="false" [modalbodystyle]="{height:'90vh !important'}"
    [customstyle]="{'max-width':'100vw !important'}" class="p-2" height="90vh" id="SHIPING_BILL_POPUP"
    [name]="'Selection of Shipping Bill'" #ShippingBill>
    <div class="p-2 SHIPING_BILL_POPUP">
        <div class="p-2 SHIPING_BILL_POPUP" style="height: 84vh;">
            <app-ng-dropdown-custom placeHolderText="Select Buyer Name"
                [items]="this.exportbilllodgementdata?.BUYER_LIST"
                (modelChanges)="this.exportbilllodgementdata?.getShippingBill($event,'Transaction')"
                bindLabel="buyerName" [multiple]="false">
            </app-ng-dropdown-custom>
            <mat-accordion>
                <mat-expansion-panel [expanded]="data?.CheckBoxEnabled"
                    *ngFor='let data of this.exportbilllodgementdata?.TRANSACTION_SHIPPING_BILL;let i = index'>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                                <mat-panel-title>
                                    SB DETAILS
                                    <button type="button" class="btn btn-primary Transaction-btn"
                                        (click)="this.CreateTransaction(ShippingBill)">Fill Pdf</button>
                                </mat-panel-title>
                                <table class="table mb-0">
                                    <tbody>
                                        <tr class="table-tr">
                                            <td class="col-td-th-1"><input [checked]="data?.CheckBoxEnabled"
                                                    type="checkbox"
                                                    (click)="this.exportbilllodgementdata?.setSelectedShippingBill($event,data)" />
                                            </td>
                                            <td class="col-td-th-3">
                                                SB DATE : {{data.sbdate}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB NUMBER : {{data.sbno}}
                                            </td>
                                            <td class="col-td-th-3">
                                                BUYER NAME : {{data.buyerName}}
                                            </td>
                                            <td class="col-td-th-3">
                                                CURRENCY : {{data.fobCurrency}}
                                            </td>
                                            <td class="col-td-th-3">
                                                SB AMOUNT : {{data.fobValue}}
                                            </td>
                                            <td class="col-td-th-3">
                                                AVAILABLE AMOUNT : {{data.balanceAvai}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex flex-column">
                        <mat-expansion-panel [expanded]="commercialdata?.CheckBoxEnabled"
                            *ngFor='let commercialdata of data?.commercialdetails;let i = index'>
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    <div class="d-flex flex-column" (click)="$event.stopPropagation();">
                                        <mat-panel-title>
                                            CI DETAILS
                                        </mat-panel-title>
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr class="table-tr">
                                                    <td class="col-td-th-1">
                                                        <input type="checkbox"
                                                            [checked]="commercialdata?.CheckBoxEnabled"
                                                            (click)="this.exportbilllodgementdata?.setSelectCommercialData($event,data,commercialdata);" />
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI DATE : {{commercialdata.commercialDate}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI NO. : {{commercialdata.commercialNumber}}
                                                    </td>
                                                    <td class="col-td-th-3">
                                                        CI Value(USD) : {{commercialdata.amount}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <table class="table mb-0">
                                <thead>
                                    <tr class="table-tr">
                                        <th scope="col" class="col-td-th-1">FIRX Number/ID</th>
                                        <th scope="col" class="col-td-th-1">Recieved Amount</th>
                                        <th scope="col" class="col-td-th-1">Commision Amount</th>
                                        <th scope="col" class="col-td-th-3">Available Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-tr"
                                        *ngFor='let IRM_REFdata of commercialdata?.IRM_REF;let j = index'>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.billNo}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.amount}}
                                        </td>
                                        <td class="col-td-th-1">
                                            {{IRM_REFdata.commision}}
                                        </td>
                                        <td class="col-td-th-3">
                                            {{IRM_REFdata?.MatchOffData?.UsedAmount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-expansion-panel>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</app-custom-model>