<div class="content-wrap pb-2 scroll-bar-main">
    <main id="content" class="content table-padding" role="main">
        <div class="filter_section_top p-2">
            <div class="row m-0">
                <div style="margin: auto;margin-left: 0;">
                    <div class="import_export_sec">
                        <h3 class="heading_common_tag mb-0">Buyer details</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="filter_right_new padding_new_top p-0">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="float_right_page">
                                <div *ngIf="this.USER_DATA?.role!='member'">
                                    <button class="btn btn-primary PopupOpen" (click)="loadForm()" popup-close="CreateNewBuyer">Add Buyer +
                                    </button>
                                </div>
                                <div *ngIf="this.USER_DATA?.role=='member'">
                                    <button class="btn btn-primary PopupOpen"
                                        popup-close="CreateNewBuyerwithConsignee" (click)="loadForm()">Add Buyer + </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="analytics" #epltable>
            <custom-expansion-panel [header]="this.FILTER_VALUE_LIST_NEW?.header"
                [Keys]="this.FILTER_VALUE_LIST_NEW?.Objectkeys" [ExpansionShowHide]="false"
                [items]="this.FILTER_VALUE_LIST_NEW?.items" [ViewButton]="false"
                (EditChanges)="clickbuyertable($event,EditBuyerSubmitPanel)"
                (DeleteChanges)="clickdeletebuyertable($event,null)"
                [TableHeaderClass]="this.FILTER_VALUE_LIST_NEW?.TableHeaderClass">
            </custom-expansion-panel>
        </div>
    </main>
</div>

<app-custom-model modalbodyheight="55vh"
    [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
    EventButton="false" [customstyle]="{'max-width':'55vw !important'}" class="p-2 mt-2" height="63vh"
    id="CreateNewBuyer" [name]="'Add New Buyer'" #CreateNewBuyerPanel>
    <div class="col-12">
        <upload-components id="CreateNewBuyer" [ADD_NEW_BUTTON_VISIBLE]="true"
            (SubmitEvent)="onSubmitBuyer($event,CreateNewBuyerPanel)"></upload-components>
    </div>
</app-custom-model>

<app-custom-model modalbodyheight="55vh"
    [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
    EventButton="false" [customstyle]="{'max-width':'55vw !important'}" class="p-2 mt-2" height="63vh"
    id="CreateNewBuyerwithConsignee" [name]="'Add New Buyer with Consignee'" #EditSummaryPagePanel>
    <div class="col-12">
        <upload-components id="CreateNewBuyerwithConsigneeForm" [ADD_NEW_BUTTON_VISIBLE]="true"
            (SubmitEvent)="onSubmitBuyerMember($event)"></upload-components>
    </div>
</app-custom-model>

<app-custom-model modalbodyheight="55vh"
    [modalbodystyle]="{'display':'flex','flex-direction':'row','justify-content':'center'}" [FooterButton]="false"
    EventButton="false" [customstyle]="{'max-width':'55vw !important'}" class="p-2 mt-2" height="60vh"
    id="EditBuyerSubmit" [name]="'Edit Buyer Details'" #EditBuyerSubmitPanel>
    <div class="col-12">
        <form #buyervalues="ngForm" class="pb-2"
            (ngSubmit)="onEditBuyerSubmit(this.TABLE_BUYER_SELECTED_VALUE?._id,buyervalues,EditBuyerSubmitPanel)">
            <div class="form-group mb-3">
                <label>Name</label>
                <input [(ngModel)]="this.TABLE_BUYER_SELECTED_VALUE.buyerName" placeholder="Buyer name" required=""
                    class="form-control" name="buyerName">
            </div>
            <div class="form-group mb-3">
                <label>Address</label>
                <input [(ngModel)]="this.TABLE_BUYER_SELECTED_VALUE.buyerAdrs"
                    placeholder="Ex: street address, City. PIN" required="" class="form-control" name="buyerAdrs">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</app-custom-model>


<app-custom-model [minimizedisabled]="false" EventButton="false"
    [RemoveBgTop]="false" class="p-2 mt-2" id="Add_New_Bank_Name" [customstyle]="{'max-width':'40vw !important'}"
    height="30vh" [name]="'Add New Bank Name'" #Add_New_Bank_NamePanel>
    <div class="p-2">
        <upload-components id="AddNewBankName"
            (SubmitEvent)="addNewBank($event,Add_New_Bank_NamePanel)" (AddNewBank)="CreateFormBank()"></upload-components>
    </div>
</app-custom-model>