<upload-components-header title="Upload/Import/Bill Of Exchange" id="Shippingbill"
    (UploadHeaderEvent)="clickPipo($event)" [HIDE_OPTION]="false" [RE_UPLOAD]="true">
    <div class="upload-panel" *ngIf="publicUrl!=''">
        <app-pdf-viewer class="pt-3" [downloadShow]="false" [src]="publicUrl" width="100%"
            Newheight="calc(100vh - 130px)"></app-pdf-viewer>
        <upload-components id="ImportBillOfExchange" SubmitName="Update" (SubmitEvent)="onSubmit($event)"></upload-components>
    </div>
</upload-components-header>
<upload-popup id="Shippingbill" url="member/uploadImage" (event)="response($event)"></upload-popup>