
.documents-panel-status{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 10px;
}

.documents-panel-status .left-log-panel {
    display: block;
    transition: all 1s ease-in-out;
}

.documents-panel-status .left-log-panel.not-found::after {
    content: "";
    width: 80px;
    display: block;
    border-bottom: 2px solid #ff0303;
    margin-top: -8px;
    margin-left: 15px;
}

.documents-panel-status .left-log-panel.found::after {
    content: "";
    width: 80px;
    display: block;
    border-bottom: 2px solid green;
    margin-top: -8px;
    margin-left: 15px;
}


.documents-panel-status .left-log-panel.found::before {
    content: "\2713";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
    color: #fff;
    background: green;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    font-weight: 400;
    font-family: fantasy;
    box-shadow: 0 0 7px 3px #1244af;
    padding-top: 2px;
}

.documents-panel-status .left-log-panel.not-found::before{
    content: "\d7";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
    color: #fff;
    background: #ff0303;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    font-weight: 400;
    font-family: fantasy;
    box-shadow: 0 0 7px 3px #1244af;
    padding-top: 2px;
}

.documents-panel-status .left-log-panel-last-child::after {
    content: '' !important;
    border-bottom: 0px solid transparent !important;
    width: 60px !important;
}


.documents-panel-status .text-with-circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.documents-panel-status .text-log{
    font-size: 12px;
    margin: auto;
    margin-left: 0 !important;
    color: black;
}

.documents-panel-status .button-view{
    margin: auto;
    margin-left: 0;
    margin-top: 10px
}

.documents-panel-status .button-view button{
    background: transparent;
    color: black;
    border: navajowhite;
    text-decoration-line: underline;
    margin-left: -15px;
    font-size: 12px;
}

.documents-panel-status .view-pdf-text{
    margin: auto;
    margin-left: 0;
}