<template-main-page text="Reset OTP">
    <upload-components [KEY_ENTER_ENABLED]="true" style="width: 100%;" id="ResetPassword"
    [HIDE_SUBMIT_BUTTON]="false" [HIDE_BACKGROUND]="false" (SubmitEvent)="emailCheck($event)"
    #uploadcomponents>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="dump(uploadcomponents)">Reset Your OTP</button>
    </div>
    <div class="container-login100-form-btn">
        <p class="login100-form-btn" [routerLink]="['/login']">Login</p>
    </div>
</upload-components>
</template-main-page>